[2017-02-08 03:38] smartmouse commented on #122
@nvcken  Is your question get resolved yet?  You may want to try the latest version of LB3 .
You should be able to use lb relation to achieve that.

[code]

[code]

[2017-02-08 04:11] smartmouse commented on #125
What version of the loopback-connector-mongodb are you using?

 There is debug available here: https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L284

Is this not sufficient?
Can you please provide an example of query and more information on this please?
Thanks

[2017-02-08 08:20] bkniffler commented on #123
Hey, sorry, but I've moved away from loopback in the meantime, so I can't really help on this matter.

[2017-02-09 02:06] smartmouse commented on #334
All fixes were merged.

[2017-02-09 02:06] #334 closed

[2017-02-09 02:10] #200 closed

[2017-02-09 02:12] smartmouse commented on #200
The changes has been merged with @crandmck 's blessings and help :+1:

[2017-02-09 08:43] rajnesh0409 commented on #331
Hi,

Thanks, issue resolved.

just one more new entery in coffee-shop.json file -

{
  "name": "CoffeeShop",
  "base": "PersistedModel",
  "idInjection": true,
*  "forceId": false,*
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "name": {
      "type": "string"
    },
    "city": {
      "type": "string",
      "required": true
    }
  },
  "validations": [],
  "relations": {

[2017-02-09 19:32] fhsakai commented on #333
Dear smartmouse,

Thanks for the feedback.

We tried to change those settings before, but the results are same, the difference is only the time when the exception is raised if we increase or decrease the reconnect retries and its interval only the time we need to wait for the errors happens change.
if we change to not reconnect the error happens as soon we execute the call while the db is offline.

[2017-02-10 01:07] smartmouse commented on #331
Great to hear that and thank you. Issue closed :-)

[2017-02-10 01:07] #331 closed

[2017-02-10 22:42] smartmouse commented on #333
What s your topology and environment? e.g node version, npm version, platform,  your mongodb is remote on another machine?
Have you tried using a very simple sample-demo app, does this also happen?

[2017-02-11 01:03] yohanesgultom commented on #224
@skalyanapu-mtuity you can add filter by passing it as `distinct` argument. In this example, I'm filtering the products by their `basePrice`:

[code]
In your case, maybe you want to use filter such as `{userId: 100}`. Since `Collection` is actually a part of [mongodb node.js native driver] (http://mongodb.github.io/node-mongodb-native/), I think almost all operators are supported CMIIW.

[2017-02-13 12:11] vshushkov opened #344 "Package `mongodb` updated to version `2.2.23`"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Because of updating of `mongodb` package to version `2.2.23` a new installation of `loopback-connector-mongodb` is not working... Now `mongodb` check income options very strictly https://github.com/mongodb/node-mongodb-native/blob/2.2/lib/mongo_client.js#L41 . So options like `ur

[2017-02-13 14:00] iliraga opened #346 "Option is not supported in version v.1.18.0"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

When using the version 1.18.0 of the connector, I get on developer & production environement an error which states that the configuration of the datasource is not valid. In version v.1.17.0 everything works fine. Looks like the connector passes wrong data to the mongodb native cl

[2017-02-13 14:09] azatoth commented on #344
Filed upstream at https://jira.mongodb.org/browse/NODE-934

[2017-02-13 14:27] nachiket-p commented on #344
**For a quick solution:**
add "mongodb": "2.2.22" to your project's package.json,
so NPM should resolve 2.2.22 instead of loopback-connector-mongodb's dependency "mongodb": "^2.2.21",

[2017-02-13 16:51] jannyHou commented on #346
@iliraga Thank you for raising up the bug, we will take a look ASAP, it fails all test case and affects lots of users.

[2017-02-13 17:01] jannyHou commented on #346
same issue as https://github.com/strongloop/loopback-connector-mongodb/issues/344.
Let's keep discussion there, the bug is caused by `mongodb`'s upgrading to 2.2.23

Close this one as a duplication.

[2017-02-13 17:01] #346 closed

[2017-02-13 17:04] jannyHou commented on #344
Thank you all for reporting the problem and providing solution. We will take a look ASAP. The bug fails all test case and affect lots of users.

[2017-02-13 17:16] jannyHou commented on #344
Related pr in `mongodb`: https://github.com/mongodb/node-mongodb-native/commit/39102e11d6c905986b0971a49ace2afb770d87b2#diff-af7f90364fd34f588f43f92c13a92ab6R29

[2017-02-13 19:36] hyperd commented on #344
Thanks!. This saved my day

[2017-02-13 23:24] jannyHou commented on #344
We released loopback-connector-mongodb@3.0.1 and loopback-connector-mongodb@1.18.1 to fix it. Please update your connector and hope that will solve your problem.

[2017-02-15 09:46] ht22pt commented on #341
Sorry my bad, I have function after save and it took error so no any callback.

[2017-02-15 09:46] #341 closed

[2017-02-15 15:19] jmwohl commented on #134
Sorry to bring up a closed issue, but it seems loopback 3 [no longer includes the 'ignore without validation error' option](http://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#top-level-properties) — is there any way to ignore extra properties in loopback 3?

[2017-02-17 18:57] dhmlau commented on #344
I've verified with loopback-connector-mongodb@3.0.1 and it's working.  Closing this issue.

[2017-02-17 18:57] #344 closed

[2017-02-20 10:24] lygstate commented on #327
I also face this prolbem on mangodb.

[2017-02-20 18:57] fhsakai commented on #333
Dear @smartmouse ,

Very sorry for late response.
node version : 6.9.1
npm version :  4.0.3

tested platform :
- node : windows 8.1 and mac OSX El Capitan
- mongodb :  : windows 8.1 and mac OSX El Capitan

mongodb connection was tested with:
-  remote connection
-  local connection

I made  a new test with simple sample as suggested, but the result remain the same as previously reported.
https://g

[2017-02-21 14:17] codymwalker commented on #319
Seeing this same issue on Node 6.x, which is listed as compatible:
[code]

[2017-02-21 15:34] jonathan-casarrubias commented on #310
Hi @bajtos good to see you again,

Hey so, this is a great topic, I also I'm glad you brought to the table the big collections issue.

I have a customer right now with a geolocation based application, just for giving some context, we are importing lifestyle establishments from social sources, I mean restaurants, bars, tavernas, etc.

We are parsing entire areas (cities) and right now we have more

[2017-02-21 16:39] codymwalker opened #354 "MongoError: no primary found in replicaset"
- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

In using any version of `loopback-connector-mongodb` that pulls in a `mongodb` version of `2.2.x` as a dependency fails to connect when we are targeting a replica set using TLS where the replica set. The drivers are trying to contact the replicaset members on using their IP addresses

### Expected result

S

[2017-02-21 17:00] raymondfeng commented on #319
Based on our investigation, the issue is caused by mongodb@2.x. See:

- https://github.com/Automattic/mongoose/issues/4596
- https://jira.mongodb.org/browse/NODE-816?jql=text%20~%20%22MongoError%3A%20no%20primary%20found%20in%20replicaset%22

Before we have a fix from the driver, maybe we should set the dependency to `mongodb@~2.1.21`.

[2017-02-22 01:19] luncht1me commented on #197
I also have this issue, but I get the error because somewhere along the line, the
[code]
query has been turned into
[code]
and then for whatever reason, this line errors aswell.

The where is when trying to filter out related objects like @robinskumar73 .

[2017-02-22 13:31] bajtos commented on #310
@jonathan-casarrubias hey, it's great to hear from you too! I always love to see how people are using LoopBack in real world apps.

I feel your pain regarding the current status of geolocation support in MongoDB connector (and possibly in LoopBack in general).

I am afraid fixing this issue is not a priority for us right now, however if you can contribute the necessary improvements yourself, then

[2017-02-22 16:47] jonathan-casarrubias commented on #310
@bajtos  sure I can do that,

For now I'm in a rush to deliver this project, but once I get more experienced with the entire geolocation context I will allocate some time to work on this.

Cheers
Jon

[2017-03-01 02:53] BuchyOne commented on #327
@lygstate  @toancong @pierreclr

Works without breaking core

https://github.com/strongloop/loopback/issues/3121#issuecomment-280635105

[2017-03-02 07:05] myvo commented on #320
It works well now after update these modules
+-- loopback-connector-mongodb@1.18.1
+-- loopback-datasource-juggler@2.54.0
+-- mongodb@2.2.24

[2017-03-02 07:05] #320 closed

[2017-03-03 08:31] bennekrouf commented on #251
@jannyHou Upgrade to loopback-connector-mongodb@3.0.0 definitly solved the issue !!!

[2017-03-06 15:14] 0101adm commented on #55
+1

[2017-03-06 21:50] hrhyt commented on #354
I also experienced the same problem.

Please read the following documents.
https://github.com/mongodb/specifications/blob/master/source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst#clients-use-the-hostnames-listed-in-the-replica-set-config-not-the-seed-list

The behavior of mongodb 2.1.x and 2.0.x seems to be a bug.
https://jira.mongodb.org/browse/NODE-753

[2017-03-07 13:50] foodaka commented on #331
Hi when im trying this on my personal project. I still get this issue, loopback is not autogenerating an ID for me even if i leave id:0,

"idInjection": true,
  "forceId":false,
  "options": {
  "validateUpsert": true
  },

    "errmsg": "E11000 duplicate key error collection: mark.surfLog index: _id_ dup key: { : 0 }",

shouldnt loopback auto generate an id for me and increment if i leave the id

[2017-03-07 13:51] foodaka commented on #331
running node  v6.3.1

[2017-03-07 13:56] foodaka commented on #331
ah human error, id needed to be "_id"

[2017-03-09 17:13] phairow commented on #268
I created this PR since the mongo code was throwing error that prevent the server startup. Maybe there is a better solution than lazyConnect but this worked for me. I had to set lazyConnect: true for this to work.

[code]

[2017-03-09 17:14] phairow commented on #268
also, see the PR I created to allow the re-connect above #356

[2017-03-13 19:00] 0candy commented on #251
Closing this issue as it looks like its been fixed.

[2017-03-13 19:00] #251 closed

[2017-03-14 05:00] myvo commented on #251
+-- loopback@2.38.1
+-- loopback-connector-mongodb@3.0.1 invalid
+-- loopback-datasource-juggler@2.54.0
+-- mongodb@2.2.24

It worked well with loopback-connector-mongodb@3.0.1.
But **why was loopback-connector-mongodb@3.0.1 invalid**?

[2017-03-14 18:41] kerwynrg opened #357 "Filtering embedded array objects not working"
- [x] Bug

I have data stored like this

Collection

[code]

[code]

It should query by object attribute in array, in version 1.17.0 it does but in ~1.18.0 it doesn't
I don't see any doc preventing those type of filter.

I had to downgrade to 1.17.0 because it broke my app when I applied some new features and I realized this connector upgraded and that happened.

[2017-03-15 16:23] kjdelisle commented on #185
@Amir-61 Since you wrote the feature, please update the documentation accordingly.

[2017-03-15 16:31] Amir-61 commented on #185
@kjdelisle I did not implement it.

[2017-03-16 16:49] mazesoul opened #358 "Implement PersistedModel.getId and .setId when transposing to _id"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

When using a compound id on a model, only one of the properties gets converted to `_id`.

### Expected result

Ideally, the connector would use [PersistedModel.getId](https://apidocs.strongloop.com/loopback/#persistedmodel-prototype-getid) and [PersistedModel.setId](https://apido

[2017-03-18 06:17] michaelfreund commented on #281
@superkhau this issue is still relevant and unfixed. how can we proceed here?

[2017-03-18 06:19] michaelfreund commented on #281
https://github.com/strongloop/loopback-connector-mongodb/issues/157

[2017-03-18 06:20] michaelfreund commented on #281
#157

[2017-03-18 11:47] bugdanov commented on #49
Still relevant: :+1:
https://github.com/strongloop/loopback-datasource-juggler/pull/993
https://github.com/strongloop/loopback-datasource-juggler/pull/993

[2017-03-20 02:49] perkd commented on #104
+1

[2017-03-20 14:35] jaime-franco commented on #170
Any news on this guys?

[2017-03-20 14:43] pulkitsinghal commented on #170
@jaime-franco - part of my team was a bit under the weather on thu/fri
we are hoping to get this out the door by this week *fingers crossed*

[2017-03-20 14:46] bidos commented on #55
+1

[2017-03-20 14:49] jannyHou commented on #281
@michaelfreund is this issue the same as #157 ? I see a fix pr checked in for #157. Does it help?

[2017-03-21 01:01] superkhau commented on #281
@michaelfreund Can you verify if https://github.com/strongloop/loopback-datasource-juggler/pull/979 fixes your issue?

If not, we can proceed by getting someone to provide a sample repo to reproduce (or better yet a PR to review so we can land the fix).

[2017-03-21 05:31] manasmishra commented on #255
I think this issue has been fixed, please check it once. If so please close this bug.

[2017-03-21 14:09] jannyHou commented on #255
@manasmishra thank you I will confirm again asap.

[2017-03-23 15:53] maxaleks opened #359 "Filter on level 2 properties"
Hi. I have 2 models with "hasMany" relation and I try to make filter by array of objects.

Models:

**Application for a job:**
[code]

**Job:**
[code]

**Staff:**
[code]

If the user's id (staffId) is in the applications array I need to not show for user this job.

**Example:** We have array of jobs with applications
[code]

If user's id (staffId) is 2 then user sees only "Job 2".

I tried somethi

[2017-03-27 10:03] kimkha opened #363 "RoleMapping not work well with mongoDB connector"
I check with [this example](https://github.com/strongloop/loopback-example-access-control/blob/master/server/boot/sample-models.js)

After insert new record, I open mongoDB, and found that RoleMapping.principalId is `String` type (not `ObjectID`). The point is, when make the query, `buildWhere` function will convert that string to ObjectID. Then there is no result after that.

I think the problem

[2017-03-29 14:00] sovattha commented on #302
Could it be that adding this code solves the issue by only converting strings to ObjectId if not a foreign key?

mongodb.js:725
[code]

For me, it works. Of course, the workaround is to set this new property `strictObjectIDCoercion` to true in the model options:

[code]

[2017-03-29 15:38] sovattha commented on #255
The issue is not fixed from my perspective but the issue is slightly different.

I have a Customer owning multiple Vehicles.
I can create/read/update customers.
I *CAN* read the vehicles of the customers, but *CANNOT* edit them.

Both use autogenerated ids.

customer.json
[code]

vehicle.json
[code]

Response from PUT /customers/{id}/vehicles/{fk}
[code]

The Vehicle uses an ObjectId().

If I set

[2017-03-29 16:48] jannyHou commented on #255
@sovattha might be same problem with https://github.com/strongloop/loopback-connector-mongodb/issues/302

Can you try set `strictObjectIDCoercion: false` in model's options?

[2017-03-29 21:20] ssh24 commented on #359
@maxaleks Not sure why on your example set of jobs with applications you have `staffId` as a field even when the relation only has `jobId` as a FK

[2017-03-30 08:23] sovattha commented on #255
I tried to set `strictObjectIDCoercion: false` in both models.

I can create customers and attach vehicles and I can read customers but cannot read their vehicles.
It expect the foreign key in Vehicle to be an ObjectId and not a string.
Example:

I create a vehicle
`POST /customers/{id}/vehicles`
Request body is
[code]

Response is
[code]

This is the record I get in MongoDB
[code]

`GET /customer

[2017-03-30 14:23] maxaleks commented on #359
@ssh24 Do you want to see the Staff model? I think that it doesn't matter

[2017-03-30 15:31] ssh24 commented on #359
@maxaleks Please specify all the required reproduction steps, so that we can reproduce it.

[2017-04-03 18:53] dhmlau commented on #315
@alemhnan, can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

[2017-04-04 13:39] dhmlau commented on #120
@makersu, sorry to take so long to respond.  Since it's been 2 years that this issue was opened, I'm closing it.  Feel free to reopen if you still encounter this problem.  Thanks.

[2017-04-04 13:39] #120 closed

[2017-04-04 13:42] dhmlau commented on #125
You can turn on the debug by setting the `DEBUG` environment variable.
`DEBUG=loopback:connector:mongodb`

[2017-04-04 13:43] dhmlau commented on #96
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-04 13:43] #96 closed

[2017-04-04 19:44] dhmlau commented on #36
@edcoffin , as @raymondfeng suggested, please try with the latest version of `loopback-connector-mongodb`.  Feel free to reopen this issue if this problem still exists.  Thanks.

[2017-04-04 19:44] #36 closed

[2017-04-05 14:12] vkatsar commented on #357
Same issue... i had to downgrade to 1.17.0

[2017-04-06 14:12] ebarault commented on #49
closed via #1216

[2017-04-06 14:14] ebarault commented on #49
this can be closed now:
see https://github.com/strongloop/loopback-datasource-juggler/pull/1216
and https://github.com/strongloop/loopback-connector-mongodb/pull/322

[2017-04-06 14:22] ebarault commented on #271
hi, could you check if these PR fix your issue ?
strongloop/loopback-datasource-juggler#1216
strongloop/loopback-connector-mongodb#322

[2017-04-07 11:52] maxaleks commented on #359
@ssh24 I've updated comment with Staff model. Check please

[2017-04-10 01:33] shallker commented on #52
Still not fixed!!!!

[2017-04-10 01:36] shallker commented on #52
if the string length is 24, it will be always treated as ObjectId automatically, what is the purpose of this design?

[2017-04-11 12:51] bajtos commented on #52
I am reopening the issue then. @strongloop/sq-lb-apex could you PTAL?

[2017-04-12 20:15] dhmlau commented on #268
Looks like PR #360 (replacement of #356) has been merged.

[2017-04-14 10:38] mediastuttgart commented on #281
@superkhau using latest versions for all dependencies on LB2

[code]

the following code will return the old instance instead of the updated one

[code]

datasource for mongodb has `allowExtendedOperators` set to `true`

[2017-04-14 18:36] jonilappalainen commented on #363
Noticed the same problem. Role.isInRole doesn't find the RoleMapping because of this. Need fix.

[2017-04-17 13:30] dhmlau commented on #51
@fabien, seems like `include.test.js` is not commented out.  Closing this..  Feel free to reopen this issue if you find this problem still exists.  Thanks.

[2017-04-17 13:30] #51 closed

[2017-04-17 13:43] dhmlau commented on #82
@Jeff-Lewis, looks like PRs #81 and #77 have landed.  Feel free to reopen if you still encounter this problem.  Thanks.

[2017-04-17 13:43] #82 closed

[2017-04-17 13:52] dhmlau commented on #123
@bkniffler , in this case, can I close this issue?  Thanks.

[2017-04-17 21:49] #123 closed

[2017-04-18 06:03] maxaleks commented on #359
@ssh24 Is there any progress on this issue?

[2017-04-18 13:05] fhsakai commented on #333
This issue was solved in [v3.1.0](https://github.com/strongloop/loopback-connector-mongodb/releases/tag/v3.1.0)
For details, please refer to : https://github.com/strongloop/loopback-connector-mongodb/pull/362

[2017-04-18 13:05] #333 closed

[2017-04-18 14:57] ssh24 commented on #359
@maxaleks Sorry for the delay. I will look into reproducing this issue today.

[2017-04-18 19:00] ssh24 commented on #359
@maxaleks I was going through the steps you have specified. You can do something like this programmatically to actually find the `jobId` of an user who has not applied to that job yet.

Sample code:
[code]

**_What does the code do?_**
It queries all the application with the desired `staffId` and gets back a list of applications that user has applied to. Upon the retrieval, we map it to another ar

[2017-04-20 14:09] b-admike commented on #363
@kimkha thank you for your description and doing some research on the cause. I have confirmed this is a bug as well on my end.

[2017-04-20 16:10] dhmlau commented on #358
@mazesoul , it seems to be a duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/121.  If you agree, we can close this issue and continue to discussion there.

[2017-04-20 16:29] dhmlau commented on #318
@mnaveenriaz, would you like to submit a PR?

[2017-04-20 23:20] jordanberry commented on #218
I was experiencing the same thing and realized I needed to set "allowExtendedOperators": true, for my MongoDB Datasource.

[2017-04-21 02:47] kimkha commented on #363
I also fixed on my private repo, can I make a PR for this? I'm not sure, my code may be messy.

[2017-04-21 13:48] b-admike commented on #363
@kimkha thanks, that would be great. Please review https://github.com/strongloop/loopback-connector-mongodb/blob/master/CONTRIBUTING.md and once you have a PR, I will review and help you land it.

[2017-04-21 16:05] kimkha commented on #363
DONE, please review

[2017-04-21 20:09] b-admike commented on #363
@kimkha I have verified your fix in #370 with my version of `loopback-example-access-control`. Once you have added unit tests for your PR, we should be able to close this issue. @jonilappalainen You can also try to see if the issue is fixed for you. You can follow the following steps before running your app if the PR is not merged yet:
[code]

[2017-04-24 15:05] dhmlau commented on #49
@willyyr , is it good to close?  See comments from @ebarault above.  Thanks.

[2017-04-24 17:44] ssh24 commented on #359
Hi @maxaleks, did my response above solve your question?

[2017-04-24 18:14] b-admike commented on #327
hi @pierreclr @fabien this is pretty much the same issue as https://github.com/strongloop/loopback-connector-mongodb/issues/363 and https://github.com/strongloop/loopback-connector-mongodb/pull/370 aims to fix it. Can you pitch in the PR to see if that addresses the root cause? It seems like we want to move towards https://github.com/strongloop/loopback-connector-mongodb/issues/328 as a permanent

[2017-04-25 20:08] mazesoul commented on #358
@dhmlau Hi, I believe these are closely related in terms of my end goal. That said, getId and setId could be implemented regardless of the need for composite ids. An example would be a concatenated string id that doesn't expose its prefix. e.g.: External id => "A123", Internal id => "myprefix_A123".

This is useful when records exists in predetermined buckets.

I don't mind closing this but it see

[2017-04-26 12:13] bajtos commented on #328
IIRC, the root cause if this problem is that relations don't update the type of the foreign key based on the type of the `id` property they are referencing, especially when the `id` property is automatically injected by the connector. If relations were updating the type of the foreign key, then such properties should be defined as ObjectID when using MongoDB.

[2017-04-26 12:17] fabien commented on #328
@bajtos yes, this sounds correct. The problem is that the definition was never specified to be an ObjectID. The same goes for correct MongoDB indexes for foreign keys btw.

[2017-04-26 14:08] vinzentt commented on #52
This bug also breaks RoleMapping built-in model requests.
It has a string field called principalId, so if you try to find the roles for a user, you cannot, you have to access MongoDb native connector via `MyModel.getDataSource().connector.collection(MyModel.modelName)`.

[2017-04-26 15:02] b-admike commented on #363
@kimkha @jonilappalainen can you please verify if this issue is fixed if you set `RoleMapping.settings.strictObjectIDCoercion = true` in the `sample-models.js` boot script file while using the same version of the `loopback-connector-mongodb` you used to find the issue?

[2017-04-26 15:06] b-admike commented on #327
@pierreclr @toancong can you please see if this is fixed by setting `<modelName>.settings.strictObjectIDCoercion = true` (for e.g. if you want it on the `RoleMapping` model, it'd be `RoleMapping.settings.strictObjectIDCoercion = true` in your boot script?

[2017-04-26 19:03] jonilappalainen commented on #363
👍  @b-admike it seems to work at least for me with that set in sample-models.js boot script. Cheers!

[2017-04-27 02:08] dhmlau commented on #315
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-27 02:08] #315 closed

[2017-04-27 02:10] dhmlau commented on #358
@mazesoul  fair enough.  Let's keep it separate then.  Thanks.

[2017-04-27 06:47] anjanarana commented on #52
Hi Guys,

You can convert your string to Object using

var ObjectID = require('mongodb').ObjectID;

Pass the String parameter inside parenthesis like mentioned below.

ObjectID(stringvalue)

[2017-04-27 15:45] bugdanov commented on #168
I had a similar case. I believe the former works when categoryId is a String and the latter works when it is an ObjectId.

[2017-04-27 18:01] b-admike commented on #363
I am going to close this issue because of https://github.com/strongloop/loopback-connector-mongodb/issues/363#issuecomment-297437024, but leave #370 open for further discussion. If anyone objects, we can re-open it again and investigate further.

[2017-04-27 18:02] #363 closed

[2017-04-28 12:16] b-admike opened #371 "Document `strictObjectIDCoercion` flag"
# Description/Steps to reproduce

We should document the `strictObjectIDCoersion` flag for this connector which is applicable per model, so that our users do not run into issues such as #363 or #327.

# Expected result

N/A

# Additional information

N/A

[2017-04-28 17:21] maxaleks commented on #359
Hi @ssh24
Thanks for your feedback
I do as you suggested in your solution. I just thought that there is an easier way
If there is no way to filter by the second level property in one query then the issue is closed

[2017-04-28 18:25] lkappeler commented on #74
I came across this Issue because we have Implemented a custom find method with aggregations for a customer project which had the same Issue with the date conversion.

In general this a problem which should not be handled by a specific connector implementation, because it makes no sense in terms of architecture. ( eg every connector would have to implement it. Which could lead in to some strange be

[2017-04-28 18:51] ssh24 commented on #359
@maxaleks Yes currently we do not have that embedded into our explorer to query such nested properties. You can create remote method similar to what I stated above and in that way you could accomplish this.

Closing this issue as the question is resolved. Feel free to reopen it if needed in the future. :)

[2017-04-28 18:51] #359 closed

[2017-05-02 17:17] jpradeep2003 commented on #52
Can someone please share a workaround for this situation?
I have 2 models viz. Parent and Child. Child has a foreign-key (name "parentId", type "string"). Using find on Child with where filter for parentId always returns empty results array. After hours of trying to root-cause and solve that problem, I finally landed here. Since this issue is unresolved for such a long time, I hope there is a work

[2017-05-03 14:40] b-admike commented on #363
I am going to close this issue because of https://github.com/strongloop/loopback-connector-mongodb/issues/363#issuecomment-297437024. If anyone objects, we can re-open it again and investigate further.

[2017-05-03 14:41] b-admike commented on #327
I am going to close this issue because of https://github.com/strongloop/loopback-connector-mongodb/issues/363#issuecomment-297437024. If anyone objects, we can re-open it again and investigate further.

[2017-05-03 14:42] #327 closed

[2017-05-05 02:18] dhmlau commented on #49
Closing this due to inactivity.

[2017-05-05 02:18] #49 closed

[2017-05-07 01:43] dhmlau commented on #125
@wojohowitz , with the answer above, is this issue good to close?

[2017-05-08 19:13] lovingyugs commented on #52
Using loopback model-
Earlier I was having this properties and relations in my purchase.json file
####
       "properties": {
           "user_id": {
           "type": "string",
           "required": true
        },
        "vendor_id": {
           "type": "string",
           "required": true
         }
    },
        "relations": {
           "purchase":` {
           "type": "belongsTo",

[2017-05-09 05:42] snowyu commented on #218
It can not work if the field is the string type. the number type is ok

[2017-05-12 01:31] hoangtrongphuc opened #372 "Duplicate id and _id when update document"
# Description/Steps to reproduce
When I get record from mongo database, I have id property. If I update document by replaceById, record have id and _id property in database

# Expected result
Only _id property in database

# Additional information

[2017-05-12 03:16] dhmlau commented on #188
@achintverma , sorry to take so long to respond.  Do you still have this problem?

[2017-05-12 13:09] dhmlau commented on #296
@jamesjjk , is this good to close?  Seems to be the problem has been resolved, and there should be enhancement in the doc for compatibility which is addressed in https://github.com/strongloop/loopback-datasource-juggler/issues/1238.  Thanks.

[2017-05-17 20:03] dhmlau commented on #149
@Karabi-Choudhury, sorry to take so long to respond.  Since this issue has been opened almost 2 years ago, are you still running into this issue?  If yes, I can start the investigation.  If not, I'd like to close it.  Thanks!

[2017-05-18 12:14] skalyanapu-mtuity commented on #217
Probably this could solved already , but may useful for new people :
The query has to be like so : {where:{ services: { in: [ 'baidu' ] } }}

[2017-05-20 03:47] xieyang784 opened #374 "Findone() cannot work well using mongoDB."
Env: windows 10, mongoDB(single instance, no replic)
findOne can work sometimes with right results, but with some 'where' situation return null.
[code]
but, in the same file, I have another findOne function, that can work, here is the code:

[code]

It's so wired, right? Thanks for your reply sooner.

[2017-05-20 08:45] xieyang784 commented on #374
Get it, it's about objectId.

[2017-05-23 16:14] dhmlau commented on #188
Closing it due to inactivity.
@achintverma , feel free to reopen if you still encounter this problem.  Thanks.

[2017-05-23 16:14] #188 closed

[2017-05-25 15:41] dhmlau commented on #296
Closing this, we believe it's been resolved.
@jamesjjk, if you think there's something we need to address here, feel free to reopen.  Thanks.

[2017-05-25 15:41] #296 closed

[2017-05-27 06:03] BoLaMN commented on #170
i needed this functionality as well so i wrote a mixin to help https://github.com/BoLaMN/loopback-mongodb-bulk-mixin see readme on how to use

cheers

[2017-05-30 09:38] PhanindraKumar commented on #46
+1

[2017-05-31 14:35] yatingodse opened #375 "connection parameters not working"
HI ,
I am using loopback 3.0 and mongodb 3.3.4
I am facing particular issue regarding the parameters , when i tried to pass the following parameters in the connection string it did not worked and throws error as **Not supported**
Parameters used are
minPoolSize
maxIdleTimeMS
waitQueueMultiple
waitQueueTimeoutMS

I can not find any documentation that this parameters are not supported.
Can any one c

[2017-06-01 03:18] droig commented on #52
I had the same problem and ended up concatenating a char to the field in order to make it work Haven't tried with relations though.

[2017-06-02 03:03] dhmlau commented on #318
/cc @b-admike

[2017-06-12 05:47] jmereaux commented on #46
Any update on this topic please? Thanks

[2017-06-13 02:27] dhmlau commented on #375
@yatingodse , we're using the mongodb node module, so their connection settings options can be found here: http://mongodb.github.io/node-mongodb-native/2.2/reference/connecting/connection-settings/

[2017-06-13 02:35] dhmlau commented on #374
@xieyang784 , just wanna clarify.  Your problem is solved or you figured out the problem is caused by the `usr.id` being a objectId type?

[2017-06-13 05:56] xieyang784 commented on #374
@dhmlau , I figured out and solved by using "loopback-objectid-mixin": "^1.0.1". Thanks for your reply.

[2017-06-13 05:56] #374 closed

[2017-06-13 17:59] dhmlau commented on #357
@kerwynrg , @vkatsar , Can you provide a link to a test project with steps to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report.

Is `stagesToDo` a LB model or just the property?

[2017-06-13 19:53] ssh24 commented on #372
@hoangtrongphuc Not sure what the issue you are running into here. If you get some record from the mongo database with a `find` call, and update some document with `replaceById` with one of the ids you got from find, it works as expected. Here is a sample code:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

**database output**
[code]

Hopefully this will help you

[2017-06-14 07:42] hoangtrongphuc commented on #372
I replaceById with result record which returned from DB directly.
This code
`Employee.replaceById(id1, result, function(err, result) {

        });`

[2017-06-14 07:48] ssh24 commented on #372
Note this code:
Employee.replaceById(id1, result, function(err, result) {});

@hoangtrongphuc What you did there is replace the instance where the id matches `id1` with all the instances you got back from a `find` operation.

[2017-06-14 08:05] hoangtrongphuc commented on #372
Sry for my bad.
"result" is record returned from findOne method of loopback.
I use "result" directly in replaceById.

[2017-06-14 14:46] ssh24 commented on #372
@hoangtrongphuc I am not sure why would you used the result you get from `findOne` to replace an instance of the same id. There is no purpose of that, however, it should still work. Here is the code snippet:
[code]
**output**
[code]

[2017-06-14 18:35] ssh24 commented on #260
This is not an issue anymore. You can filter using `id` of type `ObjectId` with the latest connector. Here is the code snippet:

**model-definition.js**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue as a result. Feel free to reopen if needed.

[2017-06-14 18:35] #260 closed

[2017-06-14 18:39] ssh24 commented on #256
Closing this issue as a similar config property exists. Read the conversation here: https://github.com/strongloop/loopback-connector-mongodb/pull/257

[2017-06-14 18:39] #256 closed

[2017-06-14 18:41] ssh24 commented on #300
Fixed in: https://github.com/strongloop/loopback-connector-mongodb/pull/376

[2017-06-14 18:41] #300 closed

[2017-06-14 20:07] ssh24 commented on #326
Closing this issue as the upstream issue with callback returning the error if caught was fixed in Juggler's dao. https://github.com/strongloop/loopback-datasource-juggler/pull/1270

Feel free to reopen if needed.

[2017-06-14 20:07] #326 closed

[2017-06-15 13:50] ssh24 commented on #372
Closing this issue as resolved. Feel free to reopen if needed.

[2017-06-15 13:50] #372 closed

[2017-06-15 13:53] dhmlau commented on #375
@yatingodse , I believe your questions have been answered.  Closing this issue.  Thanks.

[2017-06-15 13:53] #375 closed

[2017-06-15 15:13] dhmlau commented on #354
@codymwalker, Based on the comments from @raymondfeng in #319

[2017-06-15 17:57] ssh24 commented on #235
By default, MongoDB ids are of type ObjectID. Using loopback you can enforce the id to be of type String and then you can test string equalities on it.

If the id is as it an ObjectID, you can convert it to a string upon a find request and still be able to test string equalities on it. Here is a sample model definition where you explicitly state the id to be of type String:

[code]

Hopefully, thi

[2017-06-16 07:59] yatingodse commented on #375
Yes , Thanks
I checked in Node Native drivers the functionality i needed is not available in the drivers itself.

[2017-06-18 15:50] ssh24 commented on #52
To avoid id of type string being always converted to ObjectID when the string length is 24 and has the format the of an ObjectID i.e `/^[0-9a-fA-F]{24}$/`, you can use the **strictObjectIDCoercion** flag and set it to true in the model-definiton.

Here is an example code snippet:

**model-definition.js**
[code]

**boot-script.js**
[code]

**output**
[code]

**test with mongodb version:** loopback-

[2017-06-18 23:24] ssh24 commented on #99
You can use nested specs on the query itself without having to use mongoDB syntaxes.

Here is an sample code snippet:

**model-definition.js**
[code]

**boot-script.js**
[code]

The above query results in all the banks that opens on monday at 9:00am.

Hopefully, this solves the issue. Closing this as a result. Feel free to reopen if needed.

[2017-06-18 23:24] #99 closed

[2017-06-18 23:25] ssh24 commented on #107
Similar to #99.

Closing this as a result. Feel free to reopen if needed.

[2017-06-18 23:25] #107 closed

[2017-06-19 16:14] ssh24 commented on #255
The original intent of this issue is fixed and can confirm it is not a bug.

Here is an example code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this story as a result. Feel free to reopen if needed.

[2017-06-19 16:14] #255 closed

[2017-06-19 17:11] ssh24 commented on #176
You can use the `between` operator for dates or use `gt|gte|lt|lte` operator as well.

Please note, **between returns true if the value is between the two specified values: greater than or equal to first value and less than or equal to second value.**

Read more about [between operators](https://loopback.io/doc/en/lb3/Where-filter.html#between).

Here is a sample code snippet:

**model-definition.

[2017-06-19 17:11] #176 closed

[2017-06-19 17:13] ssh24 commented on #181
This issue does not exist anymore. Closing the story as a result. Feel free to reopen if needed.

[2017-06-19 17:13] #181 closed

[2017-06-19 17:37] ssh24 commented on #136
This issue does not exist anymore. The `_id` exists upon any CRUD call, given that the model definition has such field.

Here is an example code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this story as the issue does not exist anymore. Feel free to reopen if needed.

[2017-06-19 17:37] #136 closed

[2017-06-19 17:48] ssh24 commented on #125
For security reasons we do not log the query **output** rather just log the query itself. The query output may contain confidential information for the user and it is recommended to not debug log the query output.

Closing this issue as it is resolved. Feel free to reopen if needed.

[2017-06-19 17:48] #125 closed

[2017-06-19 18:04] ssh24 commented on #235
Closing this issue as it has been answered. Feel free to reopen if needed.

[2017-06-19 18:04] #235 closed

[2017-06-19 18:53] ssh24 commented on #239
You can query by id for complex id types such as ObjectID's using the latest connector. This is tested with mongodb connector version `3.1.0`.

Here is a code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Hopefully this answers the question regarding this issue.

Closing the story as a result. Feel free to reopen if needed.

[2017-06-19 18:53] #239 closed

[2017-06-19 21:33] ssh24 commented on #194
You cannot name a remote method with the same name as the prototype functions in the connector. **all** is a prototype function in the [mongodb connector](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L1015).

Closing this issue. Feel free to reopen if needed.

[2017-06-19 21:33] #194 closed

[2017-06-20 00:41] ssh24 commented on #122
Moreover with @smartmouse's solution, you can use the [include filter](https://loopback.io/doc/en/lb3/Include-filter.html) to apply multi level relations.

Closing this issue as resolved due to inactivity. Feel free to reopen if needed.

[2017-06-20 00:41] #122 closed

[2017-06-20 13:43] ssh24 commented on #157
This is not a bug anymore. I can reproduce `updateAttributes` returning only the updated instance.

Here is a sample code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue as it does not exist anymore. Feel free to reopen if needed.

[2017-06-20 13:43] #157 closed

[2017-06-20 17:19] ssh24 commented on #162
@behrad You cannot create relationships between two models that exist in two distinct datasources. You need to discover and migrate either one of the model to one of the datasource (mongo or redis in this case), and once you have both the models in the same datasource, you can create [loopback relations](https://loopback.io/doc/en/lb2/Creating-model-relations.html).

Closing this story as the ques

[2017-06-20 17:19] #162 closed

[2017-06-20 18:04] ssh24 commented on #154
Related to https://github.com/strongloop/loopback-connector-mongodb/issues/302.

Closing this. Feel free to reopen if needed.

[2017-06-20 18:04] #154 closed

[2017-06-20 18:30] ssh24 commented on #151
@BerkeleyTrue You can pass in an option along with the `like` operator to state that you would like an case insensitive search.

Here is a sample code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue as resolved. Feel free to reopen if needed.

[2017-06-20 18:42] BerkeleyTrue commented on #151
@ssh24 The issue is not "I can't make case insensitive search". The issue is: I can't pass a regex to the like query as stated in the docs. The example given is a trivial example demonstrating the fact that a regex cannot be passed through to the monodb query as stated in the loopback docs.

Once a mod closes an issue it cannot be reopened by the original poster.

[2017-06-20 18:53] ssh24 commented on #151
@BerkeleyTrue Where is the docs that you are referring to? This is the official [LoopBack doc on MongoDB](https://loopback.io/doc/en/lb3/MongoDB-connector.html) and I can't find your example in there.

[2017-06-20 19:41] ssh24 commented on #149
@Karabi-Choudhury Not sure what your question is. You can create a geopoint type property on your model definition and attach it to your mongodb datasource.

Here is an example code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue as there has been no activity on it. Feel free to reopen if needed.

[2017-06-20 19:41] #149 closed

[2017-06-20 20:17] BerkeleyTrue commented on #151
@ssh24 Looks like in the two years since I opened this issue that feature has been removed from the doc's.

Seems like this issue can be closed as this is something that is not supported and no longer explicitly stated in the docs.

Although, I'd like to see this turned into a feature request.

The line still exists in the connector:
https://github.com/strongloop/loopback-connector-mongodb/blob/ma

[2017-06-21 00:36] ssh24 commented on #74
What @lkappeler said is correct. Juggler calls a function when a query is passed for a `find` operation to normalize the query and get rid of unnecessary properties from the query. You can use `find` directly with a filter that you would like to use or make sure whatever filter you choose is normalized before calling the `buildWhere` function itself.

Hopefully this answered the question for this

[2017-06-21 00:36] #74 closed

[2017-06-21 00:39] ssh24 commented on #75
This is not an issue anymore. Closing this as a result. Feel free to reopen if needed.

[2017-06-21 00:39] #75 closed

[2017-06-21 04:28] ssh24 commented on #185
Here is the link for the documentation on the [findOrCreate](https://apidocs.strongloop.com/loopback/#persistedmodel-findorcreate) function.

Closing the issue as resolved. Feel free to reopen if needed.

[2017-06-21 04:28] #185 closed

[2017-06-21 04:34] ssh24 commented on #46
Duplicate to https://github.com/strongloop/loopback-connector-mongodb/issues/358.

Currently, we do not have good support of composite id's in the mongodb connector. I have added it as a feature in our backlog.

Closing this issue. Feel free to reopen if needed.

[2017-06-21 04:34] #46 closed

[2017-06-21 17:59] ssh24 commented on #231
@mrfelton Do you have a concrete reproduction for this issue?

[2017-06-21 18:05] ssh24 commented on #224
Closing this issue as it is resolved. Feel free to reopen if needed.

[2017-06-21 18:05] #224 closed

[2017-06-21 18:33] ssh24 commented on #371
Related to https://github.com/strongloop-internal/scrum-apex/issues/146. Closing this.

[2017-06-21 18:33] #371 closed

[2017-06-21 19:09] Amir-61 commented on #224
@ssh24 please put the PR solving issue here. Thanks.

[2017-06-21 19:18] ssh24 commented on #224
There is no monogdb connector instance method that support this functionality. As specified above, it can be accomplished with something like this:

[code]

[2017-06-21 19:55] ssh24 commented on #151
@BerkeleyTrue The fix is on master. Should be released with the upcoming release version of the connector.

Closing this issue as a result.

[2017-06-21 19:55] #151 closed

[2017-06-21 20:16] ssh24 commented on #197
The inq filter works as expected on the latest mongodb connector.

Here is a sample code snippet:

**model-definition.json**
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue. Feel free to reopen if needed.

[2017-06-21 20:16] #197 closed

[2017-06-21 20:34] ssh24 commented on #208
This is not an issue anymore. `findById` works as expected for both user specified id types and the default ObjectID type on the current version of mongodb connector.

Here is an example code snippet:

**model-definition.json**

- Car
[code]

- Employee
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this issue as resolved. Feel free to reopen if needed.

[2017-06-21 20:34] #208 closed

[2017-06-21 20:39] BerkeleyTrue commented on #151
@ssh24 Wow! Thanks so much!

[2017-06-21 21:03] ssh24 commented on #311
This is not an issue anymore. `idInjection` works as expected if set to false (i.e the `id` property is not added to the model by default). Here is a quick breakdown of what `idInjection` is supposed to do:
[code]

Here is a sample code snippet:

**model-definition.json** (Please note the definition could be in YAML format as well)
[code]

**boot-script.js**
[code]

**output**
[code]

Closing this

[2017-06-21 21:03] #311 closed

[2017-06-21 21:08] ssh24 commented on #151
You are welcome. Thank you for using LoopBack and making us better.

[2017-06-22 08:43] jordymeow commented on #134
Same here. It seems it can be set to "filter", but even I am trying that the model goes through strict validation anyway and gets rejected.

[2017-06-22 16:26] #52 closed

[2017-06-22 17:39] ssh24 commented on #165
@simoami I am not sure I understand your last post correctly. The connector does not coerce string types to numerical value for any query. Hence `findById(2)` and `findById('2')` are two completely different queries.

The original issue has been resolved. To allow client-side numerical id, do the following:
[code]

Closing this story as a result. Feel free to reopen if needed.

[2017-06-22 17:39] #165 closed

[2017-06-22 17:56] ssh24 commented on #147
Related to https://github.com/strongloop/loopback-connector-mongodb/issues/55. Closing this. Feel free to reopen if needed.

[2017-06-22 17:56] #147 closed

[2017-06-22 18:57] ssh24 commented on #302
There was a massive gap on the docs for `strictObjectIDCoercion`. It has been added. Refer to it [here](https://loopback.io/doc/en/lb3/MongoDB-connector.html#strictobjectidcoercion-flag).

Closing this issue. Feel free to reopen if needed.

[2017-06-22 18:57] #302 closed

[2017-06-23 23:47] simoami commented on #165
@ssh25 After 2 years, the LOC links I referenced from the master branch are no longer accurate. Was I was trying to say is that mongodb ids are strings in nature. But strong-remoting will continuously attempt to convert an id to a number if it sees an opportunity. That is if your were in bad luck and stored an id that is all digits as string, it will be  queried as number because of the coercion w

[2017-06-28 19:18] ssh24 commented on #268
With respect to the original post in this issue:

**Scenario 1**: _start app when mongodb server is offline_

This will always give the error below, unless the `lazyConnect` flag is specified.
[code]
The `lazyConnect` flag defers the connection to start the application and tries establishing the connection once an endpoint is hit. If at that time, the mongodb server is still down, the connector wi

[2017-06-29 15:34] #268 closed

[2017-07-04 07:24] benawarez commented on #52
I have v1.17.0 and my inq filter for an array of ID's doesn't work.  I've been troubleshooting this for days and I'm stuck.  I've tried v1.18.0 all the way to v3.2.0, updated my mongodb and loopback-connector modules to the latest, running mongodb database 3.0.8 to the latest 3.4... all combinations that you can think of... I can't figure it out.  From reading all the posts, it looks like the fix

[2017-07-04 15:40] ssh24 commented on #52
@benawarez My reproduction above was with:
[code]

[2017-07-04 19:59] benawarez commented on #52
I upgraded my loopback from 2.37.0 to v3.8.0 and your recommended juggler and mongodb connector versions.  However, in doing so, my passportconfigurator.setupModels is now failing to load preventing the app from starting.  I upgraded the loopback-component-passport to the latest just now (v3.4.0) and still having the same issue.

I've tried your versions with module mongodb@2.2.20 and @2.2.29.

An

[2017-07-05 00:32] ssh24 commented on #52
@benawarez I think the error you are facing is due to the [loopback-component-passport](https://github.com/strongloop/loopback-component-passport). I do not have your app so I cannot reproduce this it to the same extent.

I have done the exact reproduction in https://github.com/strongloop/loopback-connector-mongodb/issues/52#issuecomment-309285598 with the following versions and it worked:
[code]

[2017-07-05 01:43] benawarez commented on #52
I tried your versions (but the loopback-boot) and my app would not change view after successfully authenticating.

The strange thing is, all my queries with the inq to an array of IDs was working once upon a time until I'm not exactly sure what changed.  My version history doesn't help because it only tracks my code changes and not the modules that gets added, removed, and updated.

I've already b

[2017-07-09 16:17] PerfectedTech commented on #249
I still experience this issue as well. Has there been any update?

[2017-07-09 20:41] pierreclr commented on #372
Is this resolved ? I still have this problem on loopback  3.8

[2017-07-14 23:21] ssh24 commented on #187
Not sure how important this is. Creating a database in mongodb is as simple as `use <database_name>`. Still keeping it as a feature request for the product owners to decide.

[2017-08-02 19:55] crandmck commented on #340
I assume that we still need to add this info to the docs, but need to confirm.  @smartmouse @kjdelisle Who can do that?

For future reference I'm copying the relevant sections below...
---

### Replica set configuration
The LoopBack MongoDB connector supports the replica set configuration using the MongoDB connection string URI format.  For example, here is a snippet for the data source configurat

[2017-08-03 12:38] gobisankaran opened #384 "Need to install loopback connector on Linux machine where we dont have Internet connection"
I need to install loopback-connector-mongodb on linux redhat server which is not having Internet connection, could you please suggest the steps to do that?
# Description/Steps to reproduce

# Expected result

# Additional information

[2017-08-03 13:41] fbalabanov commented on #310
I am getting this issue.
still not resolve?

[2017-08-03 14:14] bajtos commented on #310
@fbalabanov Hello, I am afraid we don't have bandwidth to solve all issues our users are reporting, and this one has not been a high priority for us so far. Especially considering there is a workaround available (see https://github.com/strongloop/loopback-connector-mongodb/issues/310#issuecomment-270367248). Does the workaround work for you?

If you are willing to invest the time to fix this issue

[2017-08-03 19:01] #354 closed

[2017-08-03 19:14] #319 closed

[2017-08-03 22:33] sidewaiise commented on #104
Yeah I would like this feature if it's not available

[2017-08-04 01:01] fbalabanov commented on #310
Thank your kindly.
https://github.com/strongloop/loopback-connector-mongodb/issues/310#issuecomment-270367248

[2017-08-04 01:01] fbalabanov commented on #310
that is not working for me.

[2017-08-04 01:02] fbalabanov commented on #310
you want me to fix this issue?

[2017-08-04 07:13] bajtos commented on #310
Yes please, if you can and want to!

[2017-08-06 00:05] ssh24 commented on #384
You can download the `.zip` file from the [connector repo](https://github.com/strongloop/loopback-connector-mongodb) and ftp it to the linux machine.

[2017-08-10 18:24] reduxdj opened #385 "this framework sucks"
# Description/Steps to reproduce

# Expected result

# Additional information

[2017-08-10 18:33] reduxdj commented on #385
This connector is the absolute worst. Why, it's so unfortunate, I feel like writing a 10,000 word essay why this is such an unfortunate terrible design of breaking queries, on multiple fields. I inherited this eco-system and I am on a rapid pace to pull out this strongFAIL framework as soon as I can. The problem with a system that tries to do "everything" is that it fails at it's missions.

I can'

[2017-08-10 20:15] #385 closed

[2017-08-16 03:21] dhmlau commented on #384
After downloading the zip file, you can run `npm install <tarball file>`.  For details, please refer to the [npm documentation ](https://docs.npmjs.com/cli/install).

We believe your question has been answered.  Closing this issue.  Feel free to reopen if the problem still exists.  Thanks.

[2017-08-16 03:21] #384 closed

[2017-08-16 16:31] #317 closed

[2017-08-16 16:31] #193 closed

[2017-08-16 16:31] #129 closed

[2017-08-16 16:31] #219 closed

[2017-08-16 16:31] #205 closed

[2017-08-16 16:32] #183 closed

[2017-08-16 16:32] #156 closed

[2017-08-16 16:32] #186 closed

[2017-08-16 16:32] #180 closed

[2017-08-16 16:32] #338 closed

[2017-08-16 16:32] #316 closed

[2017-08-16 16:32] #313 closed

[2017-08-16 16:32] #191 closed

[2017-08-16 16:32] #252 closed

[2017-08-16 16:32] #111 closed

[2017-08-16 16:32] #230 closed

[2017-08-16 16:32] #250 closed

[2017-08-16 16:32] #290 closed

[2017-08-16 16:32] #261 closed

[2017-08-16 16:32] #192 closed

[2017-08-16 16:32] #195 closed

[2017-08-16 16:32] #184 closed

[2017-08-16 16:32] #98 closed

[2017-08-16 16:32] #270 closed

[2017-08-16 16:32] #274 closed

[2017-08-16 16:32] #262 closed

[2017-08-16 16:32] #246 closed

[2017-08-16 16:32] #245 closed

[2017-08-16 16:32] #271 closed

[2017-08-16 16:32] #170 closed

[2017-08-24 20:50] rodrigomata commented on #104
+1

[2017-08-25 19:23] rekless5 opened #388 "loopback mongo 2dsphere index implementation unclear"
# Description/Steps to reproduce

I am trying to figure out how to index '2dsphere' to a GeoPoint but can't seem to find out how. I've set "enableGeoIndexing": true in datasources.json

"mongodb": {
    "name": "mongodb",
    "url": "mongodb://hexagon:hexagon!5)@ds125053.mlab.com:25053/virtualsalt-rightnow",
    "connector":"loopback-connector-mongodb",
    "enableGeoIndexing": true
  }

and i set

[2017-08-25 20:14] #388 closed

[2017-08-27 07:32] alzab commented on #372
I think I'm also seeing this issue, but in a slightly different context - for example: if I PATCH a model, i.e. at /api/Model/<id>, I can pass a value for "id" in the request JSON, as long as it's the same as <id>, and doing so will add a redundant "id" field to the stored model aside from the actual _id. It seems as though this specific case should simply be ignored (i.e. we already have the actu

[2017-08-29 08:54] RubanMaster commented on #104
+1

[2017-08-30 19:42] mrfelton opened #389 "Add support for new MongoClient options"
There are a number of options that MongoClient supports which this connector does not.

https://mongodb.github.io/node-mongodb-native/api-generated/mongoclient.html

The following are missing from the list of `validOptionNames`

 - fsync
 - recordQueryStats
 - retryMiliSeconds
 - numberOfRetries

[2017-09-12 21:21] mpoiriert opened #391 "Support of property as id AND keep the auto generated _id internaly"
I have a use case that a document structure should look like this:

[code]

I want to manipulate the document by the productId (ex: GET /products/3552b8f0-94d8-11e7-961f-957a461a54c2)

The _id property should be generated by mongo and hidden by the client.

If I am setting the productId: { id: true }

It will work has expected for the client but internally the document will be store like this:

[c

[2017-09-13 10:10] sebastianhaas commented on #55
This is still relevant to me!

[2017-09-17 15:55] #318 closed

[2017-09-17 15:55] #237 closed

[2017-09-17 15:55] #231 closed

[2017-09-17 16:55] #281 closed

[2017-09-21 10:57] chris08002 commented on #372
@alzab When I try to update the title of an existing document `_id: "xy"` with `model.upsert({id: "xy", title: "test"})` the resulting object looks like `{_id: "xy", title: "test", id: "xy"}`, so the `id` is redundant. Is this the same behaviour as you describe? It doesn't happen when I do a PUT with the api explorer.

[2017-09-21 16:23] #249 closed

[2017-09-25 22:45] #357 closed

[2017-09-27 00:03] #44 closed

[2017-09-27 00:03] #358 closed

[2017-09-27 00:03] #328 closed

[2017-09-27 00:03] #101 closed

[2017-09-27 00:03] #201 closed

[2017-09-27 00:03] #187 closed

[2017-10-04 11:13] janpansa commented on #319
I am having the same issue trying to connect to mongodb Atlas from loopback-connector-mongodb ? Any fixes for this ?

[2017-10-05 16:16] ninoguba commented on #391
I think you just need to set "idInjection": false in your model's json.

[2017-10-05 16:19] mpoiriert commented on #391
This create a "fake" id expose to the user base on the property I define as the id but in mongo it's creating a _id property. I need both. I need the _id generated by mongo that is never use and the "customId" that is use for the endpoint and everything.

[2017-10-05 17:20] shaheero commented on #104
+1

[2017-10-16 02:35] marudits commented on #104
+1

[2017-10-17 08:29] #310 closed

[2017-10-26 22:45] luxigo opened #395 "Id of related model is not converted to an ObjectID when using the "gt" operator"
Using comparison operators with a model object Id in a where clause works fine:
```where: {id: {gt: '58e7dc2d0d48ca5ff62362e3'}}```

However an empty result is returned when trying to to use comparison operators with a related model object id in a where clause:
```where: {someId: {gt: '58e7dc2d0d48ca5ff62362e3'}}```

[2017-10-26 22:51] luxigo commented on #395
Huh sorry it works with another model...

Any idea about how to spot the problem ?

[2017-10-26 22:58] luxigo commented on #395
Looks like it works with "belongsTo" but not with "hasOne"

[2017-11-04 20:58] grs4 commented on #285
Hello Amit-61

I am stuck with the same error.

ref issue# 3667
https://github.com/strongloop/loopback/issues/3667

I am using loopback 3.x & version of juggler and postgresql connector as below

loopback-datasource-juggler@^3.9.3
loopback-connector-postgresql: "^3.1.0"

Please advise if there is any patch available.

[2017-11-08 06:06] sakesun commented on #385
FWIW, loopback-connector-postgresql is terrible also.

[2017-11-08 16:30] bugdanov commented on #395
It appears that the id of the related model of a hasOne relation is converted to a string when using the "gt" operator with it (note the single quotes):

```loopback:connector:mongodb MongoDB: model=myModel command=find [ { someId: { '$gt': '59d8df203d162a00d46f8ace' } },```

Things are fine when using gt with the model id (its value is unquoted):
 ```loopback:connector:mongodb MongoDB: model=myMo

[2017-11-08 16:49] luxigo commented on #395
Ok it has to do with objectId coercion, you can use ObjectId() server side but when using the loopback-sdk-angular you cannot do nothing (yet) but write a remote method to work around it.

[2017-11-08 22:17] kjdelisle commented on #385
If you have concerns about the current design of loopback or its connectors, I would strongly encourage you to leave your feedback in the [loopback-next](https://github.com/strongloop/loopback-next) repository instead, so that you can help influence the design of the next major version.

[2017-11-12 21:13] #389 closed

[2017-11-13 08:18] sebastianhaas commented on #55
Don't!

[2017-11-13 11:47] akvaliya commented on #103
@michaelfreund have you found solution for remove an index from db when remove from model.json?

[2017-11-17 03:14] zhilee2008 opened #400 "UpdateAll can not return the update result(now only have the update count)"
# Description/Steps to reproduce
When I use loopback  updateAll. in the callback I can only get the update count,But I need to know Which records had been update and not.So I need the result include update details(for example: _id or others)

# Link to reproduction sandbox

# Expected result
I need to know Which records had been update and not.So I need the result include update details(for exampl

[2017-11-25 08:29] kevinjasti commented on #104
+1

[2017-12-01 19:16] dhmlau commented on #340
keeping it open for now.

[2017-12-02 04:11] aravindatcts commented on #46
Is this feature implemented ?

[2017-12-02 12:27] VinaySingh1 opened #402 "query nested array"
my model is as below:

mymodel:{
"name": "mymodel",
"properties": {
    "status":{type:string},
     "contact:{type:[phone]}
}
}

phone:{
      "name": "phone",
      "properties": {
            "type":{type:string},
             "number:{type:string}
        }
}
I am trying to fetch records where phone type and number both matches. I request  like this
mymodel.find({where:{and:[{"status":"A"},{co

[2017-12-02 20:23] NelsonBrandao opened #403 "$where and Javascript Server-side Code Injection"
# Description/Steps to reproduce
MongoDB `$where` operator allows the execution of Javascript code for greater flexibility. This can be a security problem since this connector allows the `$where` operator to be defined on every `filter` param exposed by loopback and by doing so exposing the `$where` filter to the public.

This is valid for every model that extends `PersistedModel` since the usual

[2017-12-07 23:54] amirsedghi commented on #104
+1

[2017-12-12 15:04] HugoPoi commented on #55
I loose one day because of this default sort operation on "_id". THE DEFAULT BEHAVIOR FOR MONGODB MUST BE NO SORT when no sort operation is specify !
Please merge  #177 !

[2017-12-18 17:33] #391 closed

[2017-12-27 12:14] privateOmega opened #406 "aggregate cursor is not a function"
# Question
https://stackoverflow.com/questions/47991938/collection-aggregate-cursor-is-not-a-function-loopback-mongodb

# Description
Trying to use aggregation pipeline feature of mongodb.

# Additional information
$ node -e 'console.log(process.platform, process.arch, process.versions.node)' .
linux x64 6.12.2

$ npm ls --prod --depth 0 | grep loopback
+-- loopback@3.8.0
+-- loopback-boot@2.24.1

[2017-12-29 08:55] #406 closed

[2018-01-04 14:25] siva3378 commented on #104
+1

[2018-01-05 19:13] luncht1me commented on #372
I'm having this issue currently with PATCH / Upsert .

I simply have a .findById() pulling my document to my website, then when I .upsert() the instance (which hits the api via PATCH), I get "id" field in my database for that document.

[2018-01-12 17:02] jannyHou opened #408 "Update to eslint 4"
Description:

The eslint in this repo is too old and causes lots of conflict when coding in es6 style, http://loopback.io/doc/en/contrib/style-guide.html

Upgrade to
[code]

And get CI pass.

[2018-01-19 19:18] beirdostudio opened #411 "Error after updating to 3.4.0"
Hello,
I'm getting this error after updating to the mongodb connector v3.4.0
`Error: Cannot find module '../wireprotocol/2_4_support'`
the errors goes away when I go back to version 3.3.1

[2018-01-19 19:53] beirdostudio commented on #411
after removing the node_modules directory and running npm install, it worked.

[2018-01-19 19:53] #411 closed

[2018-01-19 19:58] nitro404 opened #412 "Critical breaking change with connector urls in version 3.4.0"
# Description/Steps to reproduce

After updating from version 3.3.1 to 3.4.0 and attempting to run my Loopback API with an attached Mongo database using this connector, a MongoError is raised with the message:

No configuration settings have been changed, so I believe this is an issue with something that may have been overlooked with the latest update to version 3 of the MongoDB module. It seems t

[2018-01-19 21:01] raymondfeng commented on #412
@nitro404 Thank you for catching it. Can you verify that https://github.com/strongloop/loopback-connector-mongodb/pull/413 fixes the issue?

[2018-01-19 21:21] nitro404 commented on #412
@raymondfeng No worries! After manually swapping out the node module, it does indeed seem to work. Thank you so much for following up on this so quickly!

[2018-01-19 22:14] #412 closed

[2018-01-21 19:38] #395 closed

[2018-01-29 13:09] HugoPoi commented on #55
UP This issue is still relevant for 1.18.x and 3.x.

See
https://github.com/strongloop/loopback-connector-mongodb/blob/c0c75f915ea54079e66c819e28036b7c7bf6f7d6/lib/mongodb.js#L729-L734
And
https://github.com/strongloop/loopback-connector-mongodb/blob/0041f217019c84983ba3eec39c0ac993807289fc/lib/mongodb.js#L849-L854

Can we re-open and merge https://github.com/strongloop/loopback-connector-mongodb/

[2018-01-30 04:11] #400 closed

[2018-01-31 04:06] prashantnirgun commented on #268
Has anybody got the solution on which specific npm module version it works please reply urgent

[2018-01-31 15:58] angfal opened #414 "Add case insensitive indexes support"
# Description

MongoDB allows to create and search by case insensitive indexes. The problem to support this feature it's required to execute separate "collation" function for a MongoDB cursor which is hidden by loopback and no way to receive access to it. As the result, no a reasonable way somehow wrap loopback functions to use such functionality via loopback.

Ideally, it would be great to add th

[2018-01-31 21:22] Alex2357 commented on #268
I have had exactly same problem. I resolved it few days later after I posted previously. I was incorrectly using connections. In my case the pool connections was created each time. When I fixed my code I have never experienced this problem. Just put a break point in the library when the pool is created and check if you have multiple stops at that line. If it is you need to fix your code to make it

[2018-01-31 21:23] BerkeleyTrue commented on #403
Any response from the @strongloop team on this?

[2018-01-31 23:13] NelsonBrandao commented on #403
This issue should not be closed due to inactivity since it's a very serious security bug for everyone using this framework and MongoDB

[2018-02-04 07:11] kamilml commented on #403
how can I parse this request before loopback take this code ?

in `server.js` using `app.use()` maybe?

[2018-02-04 14:45] prashantnirgun commented on #268
Alex I am very new to loopback I tried by upgrading all packages to latest now Its showing following error
  at Pool.<anonymous> (node_modules/loopback-connector-mongodb/node_modules/mongodb-core/lib/topologies/server.js:336:35)

Alex what changes you made for pool can you share with us

[2018-02-07 07:14] kuongknight commented on #363
although I set strictObjectIdCoercionFlag for RoleMapping, I still found this issue:

[2018-02-07 13:36] israelglar commented on #218
@jordanberry solution worked for me.
Added "allowExtendedOperators": true to mongoDB datasource and used:
`{ where: { notExistingProperty: { exists: false } } }`

[2018-02-11 17:29] sguilly commented on #319
'mongo atlas' works fine with 1.18.1
but  authentication fail with 3.x.x

ERROR - authentication fail
ERROR - err { MongoError: authentication fail
    at Function.MongoError.create (/storage/s3pweb/bitbucket/s3pweb-api-server/node_modules/mongodb-core/lib/error.js:31:11)
    at /storage/s3pweb/bitbucket/s3pweb-api-server/node_modules/mongodb-core/lib/topologies/replset.js:1245:38
    at /storage/

[2018-02-12 14:10] TuNi54 opened #415 "Near filter is very very slow"
Hi,

I have this kind of request for my LoopBack 3 project :

[code]
But the response is very very slow. More than 1 min in local and 15s with Heroku.

Is someone had the same issue ?

Thank you

[2018-02-13 19:07] jdschreck commented on #412
Version 3.4.1 does not seem to be able to connect to our database still.

[2018-02-13 19:23] jdschreck commented on #412
Dumping the options going into connectHandler in mongo_client.js, it looks like

options.user = ""
options.password = ""

but there is now an auth member of options:

options.auth.user ='thecorrectuserid'
options.auth.password='thecorrectpassword'

but the authenticate function is being called with the empty ones.

[2018-02-13 20:17] #340 closed

[2018-02-13 21:53] kjdelisle commented on #414
@angfal Pull requests are welcome. My experience with mongodb is somewhat limited, though your 2nd proposal sounds solid to me. If you're willing to make a PR with test coverage, I'll review it and help you land it. :)

[2018-02-13 22:06] jdschreck commented on #412
I tracked this down to a place in our code that was erroneously passing a blank userid and password to the app.dataSource command.  I believe this is inconsistent with the mysql connector.  There it seemed that the url was overriding whatever information was provided in individually specified fields.  This code works for 3.3.0 but not for 3.4.1, so something definitely changed in the precedence.

[2018-02-13 22:09] kjdelisle commented on #412
cc @raymondfeng @nitro404

[2018-02-14 03:40] angfal commented on #414
@kjdelisle Great! I will make the required fixes

[2018-02-14 13:17] #402 closed

[2018-03-02 11:43] dhmlau commented on #408
with the current version of eslint, is the CI failing?

[2018-03-05 15:08] shaheero commented on #104
+1

[2018-03-06 13:58] felpin opened #420 "Upserting a persisted model includes an id property in document"
# Description/Steps to reproduce
1. Create a persisted model
2. Insert an instance of this model in database calling Model.create
3. Create another instance of Model with id equals the model in step 2
4. Call Model.upsert with the model in step 3 as argument

# Expected result

It is expected that the document in database doesn't change, since the model in step 3 has the same id and properties of

[2018-03-06 14:02] felpin commented on #420
If anyone is wondering... I can achieve the expected result calling updateAll with a filter for "_id":

[code]

[2018-03-07 13:01] pbalan opened #421 "Losing context data"
# Description/Steps to reproduce
I wrote a loopback component and all my tests are working with memory db.
However, when I change datasource to mongodb, I do not see the context data in operation hook.

1. clone the repo below.
2. npm test
3. git checkout test-mongo
4. npm test

# Link to reproduction sandbox
https://github.com/pbalan/component-reproduce-error.git

Master Branch: runs with memory

[2018-03-07 14:51] pbalan commented on #421
@raymondfeng @bajtos Any solution to this yet?

[2018-03-12 22:34] michaelerobertsjr opened #422 "Connection fails: MongoError: Authentication failed."
# Description/Steps to reproduce

Add loopback connector to project:

[code]

# Expected result

Ability to connect to mongodb instances using latest `^3.4.1`

Instead the breaking changes from the mongodb.client causes:

`Connection fails: MongoError: Authentication failed.`

Issue: [412](https://github.com/strongloop/loopback-connector-mongodb/issues/412) **IS NOT RESOLVED** for me and probably

[2018-03-13 16:41] raymondfeng commented on #422
@michaelerobertsjr How do you pass in user/password (1 or 2)?

1. `{user: 'u', password: 'p'}`
2. `{auth: {user: 'u', password: 'p'}}`

[2018-03-20 11:00] mitsos1os opened #423 "MongoClient 3.0 initializes wrong database!!!"
# Description/Steps to reproduce
**Critical Bug from transition to MongoDB 3.0 Client**
According to documentation of [MongoDB connector](http://loopback.io/doc/en/lb3/MongoDB-connector.html#setting-the-url-property-in-datasourcejson), when providing a `url` it overrides the other settings provided in the JSON configuration.

However this is not the case after the upgrade to MongoClient 3.0.
Provi

[2018-03-23 13:45] bajtos commented on #421
@pbalan I am afraid the link https://github.com/pbalan/component-reproduce-error.git returns 404 to me. Is your repository perhaps private? Could you please make it public or at least grant me and my colleagues read access?

[2018-03-27 00:49] dhmlau commented on #423
Closing it as PR #424 has landed.

[2018-03-27 00:49] #423 closed

[2018-03-31 07:47] sebastianhaas commented on #55
Don't

[2018-04-06 22:03] dhmlau commented on #55
@strongloop/lb-next-dev , seems like this is a popular feature request, and a related PR ready (#177).  Want to initiate the discussion on how we're going to tackle it?

[2018-04-06 23:54] akkonrad commented on #104
+1

[2018-04-09 17:27] jannyHou commented on #55
I think we can continue the discussion based on @raymondfeng 's suggestion in #177
[code]
A global flag(app/model level) sounds good to me, considering one app could have multiple datasources/models, we can start with enabling the model level config.
And we can change [this line in #177 ](https://github.com/strongloop/loopback-connector-mongodb/pull/177/files#diff-567d120f151f51afa9605ebcf0f20106R

[2018-04-10 05:03] nguyenthenguyen opened #427 "wrong query build with field have length = 24"
# Description/Steps to reproduce
`find.js` script
[code]
cmd: `DEBUG=*mongo* node script.js`
[code]

# Expected result
SHOULD NOT
[code]
SOULD:
[code]

should be: `'111111111111111111111111'` not `111111111111111111111111`

# Additional information
- Only when `resourceUUID` value have length = 24

[2018-04-14 21:56] yagobski commented on #104
+1

[2018-04-15 09:33] angfal commented on #414
Please, somebody review my pr

[2018-04-17 21:58] felpin opened #428 "Does PersistedModel.create called with an array call insertOne or insertMany?"
Very simple question... Let's say that I've a `Book` model.

I'm using mongodb as datasource, so when calling `Book.create([book1,book2])` it inserts both books on same query or does it do one request per book?

[2018-04-20 08:54] pbalan commented on #421
@bajtos Sorry for the late response. I resolved this issue as it was not related to loopback context but appeared prima-facie.
I resolved the issue related to loopback-context on single model using local object previously to avoid loopback-context altogether.

However, I again stumbled on the same problem today. Am trying to get loopback context inside middleware. @matt-landers [solution](https://

[2018-04-20 08:56] pbalan commented on #421
Previously, I had implemented a before delete and after delete operation hook through hookstate.
The solution to the above specific problem was to override remote method.

[code]

[2018-04-20 13:11] felpin commented on #428
I'm closing this issue since it isn't related to this project.

If anyone wants to know the answer, there is [this issue](https://github.com/strongloop/loopback/issues/3863)

[2018-04-20 13:11] #428 closed

[2018-04-27 13:02] bajtos commented on #421
@pbalan sorry, I have no idea how to reproduce the problem you are experiencing, therefore I am not able to help you.

However, I noticed a suspicious thing in your code example - you are treating `cb` as an `options` object. I think the following code should work better for you:

[code]

[2018-04-27 15:41] #415 closed

[2018-05-01 04:53] dinhanhhuy commented on #64
`" mongodb": {
        "collection": "PostCollection"
      },
`
this is `dataSource` name or `connector` name? Currently, above link don't cotain any text `collection`

[2018-05-01 13:44] jocelynk opened #429 "Connector not managing and closing mongodb connections"
I am using Compose for MongoDB and facing an issue using the connector where connections are accumulating, but not being closed. Because of this issue, I have written a boot up script to explicitly close the connections after every execute of the datasource, but it still is not closing:

[code]

I am initializing my mongo connection with only a maxPoolSize of 2, yet according to the Compose Team w

[2018-05-06 20:17] meepeek opened #430 "model did not write to mongo database if enable mongodb authentication"
# Description/Steps to reproduce

app.models.[model name].create did not write to mongodb if mongodb enabled authentication. The same code works when authentication disabled.

**loopback 2.x also has this problem as well, could it be the connector having problem ?

# Steps to reproduce
1. Create new loopback project (3.x)
2. Create datasource as following
[code]
3. Create file boot/test.js with fo

[2018-05-07 20:45] dhmlau commented on #430
@strongloop/sq-lb-apex , could you PTAL? Thanks.

[2018-05-10 10:23] yickling opened #431 "Setting the SSL CheckServerIdentity flag"
Hi all,

I'm currently faced with a problem where I have to connect to a mongodb while customising the checkServerIdentity flag. (here in the native mongodb driver: http://mongodb.github.io/node-mongodb-native/2.0/reference/connecting/ssl/)

I've searched around a bit and cannot find how I can set this flag. Is it possible via this connector?

Many thanks.

[2018-05-14 01:18] JohnHour89 commented on #224
How to add the id for them when I separate the topic like this:

[
  "demo",
  "testing",
  "tssb"
]

I want to separate like this:

[
  {"1", "demo"},
  {"2", "testing"},
  {"3", "tssb"}
]

[2018-05-15 11:51] #408 closed

[2018-05-19 15:14] #420 closed

[2018-05-22 03:50] raymondfeng commented on #429
Mongodb connection pool is managed by the driver. Can you do some profile to see how many concurrent in-flight requests you have? If the DB is slow in responding, the number of open connections will grow.

But it's weird in your case as the `maxPoolSize` is set to 2 and the max number of connections should be only 2 unless you have multiple instances of the same datasource.

[2018-05-22 17:54] raymondfeng commented on #268
Please try loopback-datasource-juggler@3.21.0.

You can configure the datasource with `lazyConnect: true`.

[2018-05-23 17:20] raymondfeng commented on #429
If you have a mongodb datasource with `maxPoolSize` parameter in the url or `poolSize` in the config, I don't see why the client can go beyond that limit.

See http://mongodb.github.io/node-mongodb-native/3.0/reference/connecting/connection-settings/

[2018-05-23 17:45] raymondfeng commented on #429
@jocelynk My theory is that you have many developers (`D`) running multiple instances of the the same app (`A`) during development. Assuming each app has a datasource for mongodb with pool size of `S`, it will create `D * A * S` connections to compose hosted mongodb.

Please note the app is running and holding the connection pool during VSCode debug sessions.

We can check if `node-postgres` has a

[2018-05-23 18:14] mhamann commented on #429
@jocelynk what about the mongodb server version? What does your Compose dashboard show?

[2018-05-23 19:58] jocelynk commented on #429
@raymondfeng that would be great thanks. We have not noticed our connections maxing out on applications running on our clusters, so we have decided to explore this more at a later date.

@mhamann We are using MongoDB (3.2.18).

[2018-05-23 20:43] raymondfeng commented on #429
You can set `idleTimeoutMillis` in the datasource so that idle connections are removed. If not set, the default value is `10 seconds`.

[2018-05-26 17:40] #422 closed

[2018-05-28 09:48] franher opened #433 "Security issues with outdated dependency"
# Description/Steps to reproduce

There is a security vulnerability in `"strong-globalize": "^3.1.0"` (see [Prototype Pollution](https://nodesecurity.io/advisories/612) for more details).

<img width="416" alt="prototype pollution vulnerability" src="https://user-images.githubusercontent.com/10708215/40607963-41b070a0-626a-11e8-89e9-ad42d33e64b0.png">

To reproduce it set up a project with latest

[2018-06-01 15:36] virkt25 commented on #433
@franher Can you please try this again -- `npm i` for me installs `deep-extend@0.5.1` which is not vulnerable. `nsp` comes clean for me.

[2018-06-02 05:07] kumarpsr opened #434 "collection.aggregate not working"
ModelName.getDataSource().connector.connect(function(err, db) {
        var collection = db.collection('branch');
        collection.aggregate([{$unwind: '$flexmaster'}], function(err, data) {
            console.log(data);
          if (err) return callback(err);
          return callback(err, data);
        });

      });

aggregate method throws an exception on run time in version loopback-conn

[2018-06-04 17:40] Gonyoda opened #435 "Fields filter doesn't limit fields from mongo"
# Description/Steps to reproduce

The 'fields' filter option to loopback queries isn't used properly in the `find` call to the mongo driver.  This means the entire mongo document(s) is/are returned to the Node client.  Loopback then culls the properties from the objects in memory before returning them to the calling client.  The unit test called `all return should honor filter.fields` passes becau

[2018-06-04 17:52] Gonyoda commented on #435
Here is output from the unit test passing an array to mongo.find:
[code]

Here is the output after passing an object with projection property:
[code]

[2018-06-04 18:22] raymondfeng commented on #435
Hmm, good catch. It seems that mongodb@3.x remove the support of `fields` as a separate argument. I wonder why the test cases don't catch that.

Can you submit a PR?

Please note `options.projection` also allows the array - See https://github.com/mongodb/node-mongodb-native/blob/master/lib/collection.js#L273

[2018-06-05 15:14] dhmlau commented on #435
PR #436 has landed. It's available in `loopback-connector-mongodb@3.4.4`.

[2018-06-05 15:14] #435 closed

[2018-06-05 15:43] franher commented on #433
@virkt25 You're right. Now, installing loopback-connector-mongodb v3.4.3 and v3.4.4 the security issue is out.

Thank you for your time.

[2018-06-05 15:43] #433 closed

[2018-06-05 16:01] jonathan-casarrubias commented on #321
@jannyHou @loay @b-admike @virkt25 @dhmlau @shimks @nitro404 @ssh24 I'm also presenting this problem when using the instance.save() in a sharded environment.

![image](https://user-images.githubusercontent.com/1533239/40987682-d52c2190-68ae-11e8-9646-c1e3127082c5.png)

The argument flow is an instance of a Flow Model, therefore at that point already presents the mongodb shard key which is "scenari

[2018-06-07 20:33] dhmlau commented on #431
@yickling , any news on this problem?

[2018-06-08 20:40] dhmlau commented on #55
In evaluation whether we can work on it for July milestone

[2018-06-12 09:46] HugoPoi commented on #55
@dhmlau @jannyHou I open PR #437 based on your suggestion and inspired by #177

[2018-06-13 10:27] Eslem commented on #434
I think is not working because aggregation changed, now return a AggregationCursor.
To used as before:
[code]

[2018-06-13 23:44] shaheero commented on #104
+1

[2018-06-14 10:00] fil-filiposki opened #438 "RoleMapping filter principalId returns null"
Hi All,

It appears the following returns `null` in `v1.18.0` onwards, not sure what might be causing this - any ideas?
I can confirm ctx.req.accessToken.userId exists, even if I replace it with hardcoded userId as string - it still returns null. However if filtering on principalType for example, it returns fine.

[code]

[2018-06-14 19:09] angfal commented on #414
Additional info in the PR

[2018-06-18 15:03] tachylatus opened #440 "Field '_id' missing when using filter.fields"
# Description/Steps to reproduce
1. Create a model with an `_id` property used as id, and some instances.
2. Get all instances using the filter `{"fields": {"_id": true}}`.
3. Observe that the returned objects are empty. The `_id` field is missing from the results.

# Link to reproduction sandbox

No link.

# Expected result
[code]

# Actual result
[code]

# Additional information
See pull request

[2018-06-18 17:30] dhmlau commented on #431
Closing due to inactivity.  @yickling , if you still encounter this issue, please feel free to ping me and I'll reopen.  Thanks.

[2018-06-18 17:30] #431 closed

[2018-06-19 21:50] ducl13 commented on #434
This pattern worked for me.

    var collection = ModelName.getDataSource().connector.collection("myCollection");
    collection.aggregate(
      [
        ...
      ],
      function(err, cursor) {
        if (err) {
          ...
        } else {
          cursor.on("data", function(doc) {
            // doc contains whatever you project in the aggregate call
            ...
          });

[2018-06-20 01:52] jmaicaaan commented on #104
+1

[2018-06-23 07:58] #427 closed

[2018-06-25 17:52] camcamd commented on #128
Correct answer was given by ebarault on https://github.com/strongloop/loopback/issues/3268

[2018-06-27 20:20] amenadiel opened #442 "DeprecationWarning: current URL string parser is deprecated"
# Description/Steps to reproduce

Running a loopback instance with `"loopback-connector-mongodb": "^3.4.4"` I get a deprecation warning:

[code]

Which in turn comes from a new valid option detailed in:

https://github.com/mongodb/node-mongodb-native/blob/v3.1.0/lib/mongo_client.js#L112

[code]
Also, this key has been added to `validOptionNames`  at

https://github.com/mongodb/node-mongodb-native/

[2018-06-29 17:33] #421 closed

[2018-07-07 10:56] ingkenai commented on #442
to avoid that warning I stay in this version: "mongoose": "5.0.10",  for a while

[2018-07-09 06:48] 07ASHISH commented on #442
to avoid this warning you have to pass in connect function { useNewUrlParser: true } this will remove that
 error
MongoClient.connect(url, { useNewUrlParser: true } );

[2018-07-10 10:18] jura-b commented on #422
From what I've experience, it seems like you always need a mongo user to connect to mongo server.

Leaving username and password empty will fail the authentication even you haven't setup any mongo user.

[2018-07-10 17:31] azicchetti commented on #442
I can't connect to mlab with the 3.4.4 connector.
How can I fix that other than downgrading the package?

[2018-07-10 23:15] npn225 commented on #442
ingkenai's solution works!

For MEAN Stack users:

1) Go to "package.json" file and change the mongoose version to "5.0.10"

2) Save this change to the "package.json" file

3) Head to the command prompt and make sure you are NOT running the app using "node" or "nodemon" commands!

4) Enter and run the command "npm i" in order to install the packages associated to the changes you made in the "packa

[2018-07-11 11:08] aitorllj93 commented on #372
Same as other people,
Running PATCH with id field creates a new "id" field on mongo

[2018-07-11 11:10] aitorllj93 opened #444 "Duplicate id and _id when PATCH document"
# Description/Steps to reproduce

Make a PATCH request with id inside data

# Expected result

There should only be one '_id' field, but it adds the 'id' field

[2018-07-16 15:12] Elrendio opened #445 "UpsertWithWhere crashes with model strict "filter" and instance already persisted"
# Description/Steps to reproduce

 - [x] Clone the [forked repo](https://github.com/Elrendio/loopback-sandbox)
 - [x] Go on branch for the bug:
```git checkout 445-UpsertWithWhereCrashesWithModelStrictFilterAndInstanceAlreadyPersisted```
 - [x] run ```npm install```
 - [x] Make sure you have a mongodb instance opened on port 27017
 - [x] run ```node server/server.js```
 - [x] Look at logs.
# Link

[2018-07-16 15:37] char781227 opened #446 "Get the custom collection name"
Hello everyone,

Currently, I came across a problem. I have a MongoDB model with a [custom collection name](https://loopback.io/doc/en/lb2/Model-definition-JSON-file.html#data-source-specific-options) in his definition JSON file and I would like to know if it's possible to get this name in his .js file.

I tried with model.modelName but it gives the default collection name, not the custom...

Than

[2018-07-19 13:30] F3L1X79 opened #447 "Problem with indexes and Geopoint"
I've open a very long issue here: https://github.com/strongloop/loopback-datasource-juggler/issues/1610

TLDR:
 + lat and lng are **reversed** in the Loopback GeoPoint object, and thus mongo cannot create indexes! (`Can't extract geo keys: err 16755 Exception`)
 + it seems like there's a check missing in `loopback-connector-mongodb/lib/mongodb.js `, method **MongoDB.prototype.fromDatabase** (l.299

[2018-07-19 13:40] char781227 commented on #446
I resolved this myself...

Solution :
MyModel.definition.settings.mongodb.collection

[2018-07-21 03:20] dhmlau commented on #446
Glad to hear.  Closing this issue as resolved.  Thanks!

[2018-07-21 03:20] #446 closed

[2018-07-23 17:18] OtmaroE commented on #444
Having the same issue. @aitorllj93 Did you find a solution to this problem?

[2018-07-25 11:13] BhargaviChanaboina opened #448 "API - "POST- /{id}/replace" - Creates a duplicate field "id" while replacing in the database."
# Description/Steps to reproduce
Make a POST /{id}/replace request

# Expected result
There should only be one '_id' field, but another duplicate  'id' field is getting added to the document.

# Sample result
{
"_id":"5b1b62b9862f3a19e4c5b429",
"name":"John",
"address":"Los Angeles",
"id":"5b1b62b9862f3a19e4c5b429"
}

[2018-07-29 13:22] fanttm opened #449 "How to set "{ useNewUrlParser: true }" in datasources.xxx.json ?"
I tried to connect to mongo atlas cluster. I use config in datasources.xxx.json as below:

[code]
And I got these error info:
[code]

My package.json:
[code]

[2018-07-31 08:51] furanzujin commented on #449
The mongo.js file has to be added the option in the [validOptionNames](https://github.com/strongloop/loopback-connector-mongodb/blob/b79e263d88736874c68b4ffe63b99b8df131170b/lib/mongodb.js#L167) array first to grant the use of the option.

[2018-08-06 12:46] selahattinunlu commented on #176
@virendra656 Thanks man "between" works for me!

[2018-08-07 10:17] tushar-briqsdata commented on #403
This issue should not be closed due to inactivity since it's a very serious security bug for everyone using this framework and MongoDB

[2018-08-07 15:48] jannyHou commented on #55
Should be fixed by https://github.com/strongloop/loopback-connector-mongodb/pull/437, i am closing this issue.
Feel free to reopen it if you still have the problem.

[2018-08-07 15:48] #55 closed

[2018-08-07 16:06] jannyHou opened #451 "Tests on node 10 fail the installation due to an update of memwatch-next(node-memwatch)"
# Description/Steps to reproduce

The tests running with node 10 fail due to an update of `memwatch-next`.
See issue https://github.com/marcominetti/node-memwatch/issues/39

The fix for a node 10 installation would be updating the dependency from

[code]

to

[code]

While that *breaks the installation on nodejs 8*

# Expected result

CI passes for node 6,8,10

# Additional information

To solve t

[2018-08-07 18:33] dhmlau commented on #403
`pinned` it so that it won't get closed by stalebot.

[2018-08-09 12:52] furanzujin commented on #449
@tsega see [PR 450](https://github.com/strongloop/loopback-connector-mongodb/pull/450)

[2018-08-12 07:27] #449 closed

[2018-08-14 16:37] jonathan-casarrubias commented on #321
For anyone interested, I was able to find the issue.

The problem is that some loopback methods are internally using the findAndModify method from the nodejs mongodb driver. The problem is that in a sharded environment, the shard key must be provided within the query, the problem is that loopback is only using the document id within the query portion, therefore generating this issue.

https://gith

[2018-08-15 14:07] #403 closed

[2018-08-15 14:10] virkt25 commented on #403
Fix merged. Should be released shortly.

[2018-08-15 15:43] virkt25 commented on #403
Published as 3.6.0

[2018-08-16 13:30] virkt25 commented on #451
The module is used for leak detection and is never actually run as part of our test suite. The failure comes from just trying to install the dependency on a given version. I explored alternative modules as suggested by @jannyHou but then the same issue happens for Node 6 instead of 10.

The consensus was to remove the dependency entirely from the package and update the readme with instructions to

[2018-08-27 08:12] b3rew opened #455 "Deprecation warnings about collection APIs"
# Description/Steps to reproduce
I am gettiing DeprecationWarning message when i try to insert data into my model

`(node:13177) DeprecationWarning: collection.insert is deprecated. Use insertOne, insertMany or bulkWrite instead.`

Mongo: v3.6.3
Nodejs : v8.11.2
loopback: v3.22.1
loopback-connector-mongodb: v3.6.0

[2018-08-29 10:06] PhilippeCorreges commented on #455
Same here.

[2018-08-30 02:58] jannyHou commented on #445
should be fixed in https://github.com/strongloop/loopback-datasource-juggler/pull/1423

[2018-08-30 02:59] #445 closed

[2018-08-30 05:59] ServisionFrontend commented on #455
Same here. my use "Repository" create method
![image](https://user-images.githubusercontent.com/20966741/44832280-d8426a00-ac5c-11e8-8702-a69c0edcfb58.png)

[2018-08-31 07:10] suisun2015 commented on #455
How can I fix this caution? Thanks

[2018-08-31 15:25] vickoman opened #456 "Rapid Increase in Connections Causes Severe Performance Degradation."
In spite of having a Pool Connection configured, we observed a rapid increase in our connections to mongodb and we still do not have much concurrence.

We have seen that is a bug in native mongodb and was fixed in Aug 02 2018 in the 3.1.3 version, this is a critical fix for ours production enviroments. for now we have to restart our mongo cluster every two days.

FIX REFERENCE:
https://jira.mongod

[2018-09-02 14:16] oseme-techguy commented on #104
This issue has been opened for a long time now. Has this feature been implemented or is this currently being implemented?

[2018-09-03 10:12] matteo-pennisi commented on #455
+1

[2018-09-03 12:02] niranjanreddy891 commented on #442
Have anyone found solution for this issue?

[2018-09-03 14:52] gobisankaran opened #457 "How to create MongoDB entry with "NumberDecimal" Format i.e Decimal128 Data Type"
# Description/Steps to reproduce
Clarification on NumberDecimal creation with MongoDB using Strongloop

I have created a simple Model in which I want to Insert a NumberDecimal datatype
When I try to create a model with Decimal128 it says "Swagger: skipping unknown type "Decimal128"."

Can you please help me to insert a sample value which should create a entry in MongoDB database with datatype "Num

[2018-09-03 18:06] npn225 commented on #442
Don't know why you thumbed down my comment niranjanreddy891!

[2018-09-04 03:36] niranjanreddy891 commented on #442
No. The solution which you gave doesn't help me.

[2018-09-04 03:43] npn225 commented on #442
What exactly did you do when implementing my steps to the solution?

Are you even using the MEAN stack?

Can you show pictures of the things you did?

[2018-09-04 03:46] niranjanreddy891 commented on #442
I got my own solution @npn225.

[2018-09-04 03:49] npn225 commented on #442
@niranjanreddy891

That's great!

You can post your solution here so that anyone in your situation will know what to do and how to fix the problem!

The least any of us can do is contribute to the community!

[2018-09-04 09:46] niranjanreddy891 commented on #442
`The least any of us can do is contribute to the`

[2018-09-04 09:46] niranjanreddy891 commented on #442
`make -k build-with-full-infra`

[2018-09-04 10:37] matteo-pennisi commented on #442
To fix the problem upgrade loopback-connector-mongodb (I'm using 3.6.0)
and add this to your MongoDB data source in datasources.json : ` "useNewUrlParser":"true"`
For example now my connector looks like this:
[code]

[2018-09-04 10:50] niranjanreddy891 commented on #442
I solved in the same way as @matteo-pennisi mentioned. But I was busy at work. So, I replied late. Sorry for that :)

[2018-09-05 03:44] janiscp commented on #455
+1

[2018-09-05 05:45] virkt25 commented on #455
Would anyone be interested in submitting a PR for this? The task would involve checking to ensure the API between the deprecated / current API is the same and if not make the necessary code changes. Ensure the current test suite passes.

See https://github.com/strongloop/loopback-connector-mongodb/pull/450/files for an example PR that changed the deprecated `count` to `countDocuments`.

[2018-09-05 16:08] virkt25 commented on #457
The type should just be `number` as MongoDB doesn't have the concept of a `DECIMAL128` AFAIK.

[2018-09-05 16:16] virkt25 commented on #442
Closing this issue as fixed. The change was made in https://github.com/strongloop/loopback-connector-mongodb/pull/450 and released in version 3.6.0 as mentioned by @niranjanreddy891

[2018-09-05 16:16] #442 closed

[2018-09-06 11:50] Yaty commented on #455
@virkt25 I'll look into this tonight :)

[2018-09-07 07:58] mitsos1os opened #459 "Projection fields in find and optimizedFindOrCreate must be object"
# Description/Steps to reproduce

When given a fields selection object during `find` or `findOrCreate`, loopback converts it to an **array** of included fields and passes it to MongoDB library. But MongoDb library according to [find spec](http://mongodb.github.io/node-mongodb-native/3.1/api/Collection.html#find) and *although deprecated* [findAndModify](http://mongodb.github.io/node-mongodb-native

[2018-09-07 23:10] Yaty commented on #455
OK for remove, see PR #461 .
insert, findAndModify, save and update seems to need more work than just updating the command :)
I'll see what I can do.

[2018-09-08 12:57] dhmlau commented on #459
Moving it to `In Progress` as PR #460 is up.

[2018-09-10 03:16] dhmlau commented on #456
@strongloop/sq-lb-apex ^^

[2018-09-11 00:54] virkt25 commented on #456
`"mongodb": "^3.0.1",` -- mongodb is marked with a `^`, meaning that we should automatically pick up the latest version of the mongodb fix. Can you re-deploy the application so that the latest dependencies are installed. (Updated`package-lock.json` if it exists). Ensure you are using `loopback-connector-mongodb` `^3.0.0`. For reference the latest is `3.6.0`.

[2018-09-11 11:08] gobisankaran commented on #457
Basically My sample model looks like this
{
  "name": "Decimal",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true
  },
  "properties": {
    "NumDec": {
      "type": "object",
      "mongoIIB": {
        "dataType": "Decimal128"
      }
    }
  },
  "validations": [],
  "relations": {},
  "acls": [],
  "methods": {}
}

I want to insert a data into Mongo

[2018-09-12 01:01] virkt25 commented on #457
LoopBack doesn't have a `decimal128` type. Here's a list of supported types in LoopBack: https://loopback.io/doc/en/lb3/LoopBack-types.html

This connector at this time does not have support for `dataType: decimal` which is present in `sql` connectors.

[2018-09-12 15:17] raymondfeng commented on #457
A few steps need to happen
1. Check if mongodb driver accepts and coerces strings to decimal 128
2. Depending on the outcome of 1, decide if `string` is good enough for JS/REST. If not, a custom Type needs to be defined (see https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L20 as an example)
3. Check if swagger generates the correct type for the UI

[2018-09-12 20:29] virkt25 commented on #451
fixed by #458

[2018-09-12 20:29] #451 closed

[2018-09-12 20:41] virkt25 commented on #455
Fixed by #461 and released in version 3.7.0

[2018-09-12 20:41] #455 closed

[2018-09-12 20:42] virkt25 commented on #455
Special thanks to @Yaty for the PR to update the underlying driver calls! 🙇 🎉

[2018-09-13 09:07] lezi1022 opened #463 "why mongo in operators is useless"
[code]
find result is null

[code]
result is ok

below is npm ls shows
[code]

[2018-09-13 17:35] Clement134 commented on #463
Hello,

With loopback you should use the inq operator (https://loopback.io/doc/en/lb3/Where-filter.html#inq).

[2018-09-13 17:57] Clement134 opened #464 "Perfomance issues with count() since 3.6"
# Description
There is performance issues since the version 3.6, especially with the count command.
Indeed, this version replace the count command by **countDocuments**, which one use an aggregate query. In the case of counting documents without filter this is less efficient than the old query.

Like explained in the mongo specification ([count API details](
https://github.com/mongodb/specificatio

[2018-09-14 03:01] virkt25 commented on #464
@Clement134 thanks for reporting this issue. Can you share the kind of performance difference you are seeing between the two connector versions?

Would you like to submit a PR for this as I see that you've already started work on it. All contributions are welcome :)

[2018-09-14 18:28] Clement134 commented on #464
Hello @virkt25,

Indeed, I am already working on a fix.
Here is a little benchmark on the following test case: count without filter on collection with 500 elements.

Version  | ops/sec
------------ | -------------
3.5.0 | 5,820
3.6.0 | 1,758
3.7.0 | 1,771
PR | 6,029

So with the solution suggested we can go back to approximately the same performances as in the version 3.5.0, without the deprecatio

[2018-09-19 18:12] boltonomous commented on #440
Experiencing similar issues.  This has rendered us unable to take advantage of filter.fields in many cases.

[2018-09-20 13:31] auguster opened #468 "Add mention to "authSource" in Creating a MongoDB data source"
Hello,

I used the mongo's docker image to instantiate a DB with authentification using `MONGO_INITDB_ROOT_USERNAME` and `MONGO_INITDB_ROOT_PASSWORD`. When using this, you have to provide the authentification db using `--authenticationDatabase` (in the docker mongo client). This attributes is used in mongodb connector under the name `authSource`, it took me a while to figure this out, so I think i

[2018-09-21 02:48] dhmlau commented on #468
@auguster, thanks for the info.  Would you like to submit a PR?

[2018-09-21 02:51] dhmlau commented on #430
@meepeek , sorry about the late reply.  Could you please review https://github.com/strongloop/loopback-connector-mongodb/issues/468 and see if it helps?

[2018-09-22 20:42] dhmlau commented on #459
PR #460 has landed.  Closing this issue as resolved.
@mitsos1os , thanks again for your contribution!

[2018-09-22 20:42] #459 closed

[2018-09-24 13:05] auguster commented on #468
Done ;)

[2018-09-24 13:05] #468 closed

[2018-09-25 06:31] 3z3qu13l commented on #464
Hello guys,
Is it solved with version 3.8.0 ?

[2018-09-25 07:36] #463 closed

[2018-09-25 13:10] ntsekouras opened #470 "Embedded model binary properties not converting to Buffer when retrieving from database"
# Description
When we retrieve data from the database and we have a `buffer` property in an embedded model, the value of the property is an empty Buffer.

# Steps to reproduce
1.  Define a model with an embedded model which has a property with `buffer` type.
2.  Save in the database a document from the above model.
3.  Fetch from database the inserted document and observe that the Buffer propertie

[2018-09-25 15:37] virkt25 commented on #464
Yes, the fix was released in `3.8.0`.

cc: @Clement134 Can you confirm / close this issue.

[2018-09-25 16:10] Clement134 commented on #464
@3z3qu13l This issue is fixed with version 3.8.0.

[2018-09-25 16:10] #464 closed

[2018-09-25 20:04] sylvaindumont opened #472 "missing enableGeoIndexing support in replace methods"
# Description

replace methods aren't saving `GeoPoint` with correct format with `"enableGeoIndexing": true`

enableGeoIndexing was implemented in 8112ebc720c4dbb74b72db3e44260905ed25128c, before
replace methods in 1fce12ec75fca9e3542c27d65cf6e1421037303b

geoIndexing support seems to have been forgotten during replace methods implementation.

# Link to reproduction sandbox

* set `"enableGeoIndex

[2018-09-30 09:49] Yaty commented on #104
I think this issue can be closed, this has already been answered in #224.

You can get distinct value like this : https://github.com/strongloop/loopback-connector-mongodb/issues/224#issuecomment-310178549

[2018-09-30 13:32] bvenky27 opened #473 "How to change MongoDB collection dynamically based on request."
# Description/Steps to reproduce
The issue is similar to issue https://github.com/strongloop/loopback/issues/2603
I want to change my model's collection on MongoDB dynamically for each call. For this I need to override the method "collectionName" of loopback-mongodb-connector. How to override this method and also mechanism to provide collection name to the "collectionName" method. If this is the w

[2018-09-30 16:01] idindrakusuma commented on #442
Thank you :)

[2018-10-01 19:12] bvenky27 commented on #473
I was able to solve it using the override methods guide mentioned in docs.

[2018-10-01 19:12] #473 closed

[2018-10-03 16:56] arunbandari opened #474 "Getting warnings on POST /api/CoffeeShops/:id/replace"
```WARNING: id property cannot be changed from 5bb4ea95ac2dbd04e8a2a2c4 to 5bb4ea95ac2dbd04e8a2a2c4 for model:CoffeeShop in 'before save' operation hook```
```WARNING: id property cannot be changed from 5bb4ea95ac2dbd04e8a2a2c4 to 5bb4ea95ac2dbd04e8a2a2c4 for model:CoffeeShop in 'loaded' operation hook```

Getting these warning when replacing the data by Id using POST /api/model_plural/:id/replace

[2018-10-03 17:00] #474 closed

[2018-10-03 17:00] arunbandari commented on #474
Issue moved to [strongloop/loopback-datasource-juggler #1627](https://github.com/strongloop/loopback-datasource-juggler/issues/1627) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-03 17:00] arunbandari commented on #474
Issue moved to [strongloop/loopback-datasource-juggler #1628](https://github.com/strongloop/loopback-datasource-juggler/issues/1628) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-04 02:53] dhmlau commented on #457
@raymondfeng , according to [this link](https://github.com/mongodb/specifications/blob/master/source/bson-decimal128/decimal128.rst#qa), does that mean mongodb driver accepts and coerces strings to decimal 128?

[2018-10-04 20:52] jannyHou commented on #457
The mongodb driver exports a [`Decimal128`](https://github.com/mongodb/node-mongodb-native/blob/7298c76e2a1b1b2e37a211860f35f84fad5a4c3b/docs/reference/content/tutorials/crud.md#specify-a-data-type) type that could convert a string to decimal128 number.

I am going to do this:
- the value from request should be a string
- add a `decimal128` type check in [`toDatabase`](https://github.com/strongloo

[2018-10-04 22:01] dhmlau commented on #457
@jannyHou , just want to make sure I understand what's your next step.  Are you going to make some code change to make the connector to support Decimal128 or to try out the behavior of the mongodb driver on this type?

[2018-10-05 18:03] jannyHou commented on #457
@dhmlau I can add the support of Decimal128 type on connector side, but I am not sure what to do on the strong-remoting side to make sure the value passed to connector is a string.

[2018-10-05 18:15] jannyHou commented on #457
@dhmlau I think it should be something like the data-mapping-properties:
https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#data-mapping-properties

When define the property, you specify the `type` as 'string' and `mongodb.dataType` as `decimal128`.

I updated the next step accordingly https://github.com/strongloop/loopback-connector-mongodb/issues/457#issuecomment-427165345

[2018-10-15 15:05] jannyHou commented on #470
Closing it since PR merged. Thank you again for the contribution!

[2018-10-15 15:05] #470 closed

[2018-10-15 20:57] jannyHou commented on #457
FYI I created a PR to support decimal 128: https://github.com/strongloop/loopback-connector-mongodb/pull/475

The type is supported from mongodb@3.4.x, and I need to upgrade my local environment to continue the PR.

[2018-10-22 14:50] dhmlau opened #476 "Get mongodb connector to new semver-major version"
Due to the 2 breaking changes introduced in PR https://github.com/strongloop/loopback-connector-mongodb/pull/462 and https://github.com/strongloop/loopback-connector-mongodb/pull/417, here is what we are going to do:
- [x] Get non-breaking changes PRs landed and release a new semver-minor / patch version (whichever applies), it includes:
   - [x] support decimal128, https://github.com/strongloop/l

[2018-10-23 11:43] bajtos commented on #457
FYI: I would like LoopBack to eventually provide Decimal as a first-class type supported by all connectors, see https://github.com/strongloop/loopback-next/issues/1902

[2018-10-23 20:12] tflowcamdev opened #479 "Mongodb connector 3.9.0 hangs on various calls for loopback persisted Models"
# Description/Steps to reproduce

The 3.9.0 version suddenly hangs for us when doing things like Model.create() or Model.upsertWithWhere().

Very simple example using a persisted model called "DataType":

[code]

# Additional information

The issue appears to be related to using util.inspect with depth: null in debug statements
(e.g. here:  https://github.com/strongloop/loopback-connector-mongodb/

[2018-10-24 01:53] jannyHou commented on #479
@tflowcamdev Good catch, do you run into the same error with other models? Or only the model named `DataType`?

[2018-10-24 12:45] epostea commented on #479
@jannyHou We hit this issue with other models, the issue is not specific to the `DataType` model

[2018-10-24 12:52] tflowcamdev commented on #479
Yes, confirmed - This is not specific to any of our models as far as I can tell.

[2018-10-24 13:45] nursultan156 commented on #479
meet the same problem.
i call:
[code]

memory leak occurs:
[code]

[2018-10-24 14:49] jannyHou commented on #479
Could someone quickly hack the code, remove the `{depth: null}`, and see if that fixes the problem?

I don't have an app reproduces the error and all our existing tests pass, so I am not sure what is the use case that runs into this error, if anyone could verify ^ on their end that will save time. Thanks!

I also created the PR https://github.com/strongloop/loopback-connector-mongodb/pull/480

[2018-10-24 15:02] tflowcamdev commented on #479
@jannyHou I've verified that commenting out those debug lines prevents the hang problem in my environment, and I've also tested doing util.inspect removing {depth: null} and that also works.

[2018-10-24 15:08] jannyHou commented on #479
@tflowcamdev Great, thank you all for catching the bug and replying in time 👍

[2018-10-24 15:39] #479 closed

[2018-10-24 18:12] dhmlau commented on #479
The fix has been released in `loopback-connector-mongodb@3.9.1`.  Thanks!

[2018-10-24 20:09] tflowcamdev commented on #479
I confirmed version 3.9.1 fixes the problem - thanks for the quick turnaround on this one!

[2018-10-24 20:15] SandeepVanama commented on #457
The Number Decimal (MongoDB data type Decimal128) is working for root level elements defined in model JSON file however it doesn't seem to be working for nested elements defined in model JSON file.
Can this be fixed?

I have tested with loopback-connector-mongodb@3.9.1 using IBM IIB V10 tool.

[2018-10-25 01:55] dhmlau commented on #457
@jannyHou , could you please take a look? Thanks.

[2018-10-25 21:41] jannyHou commented on #457
@dhmlau I am going to support:

- Travers the `data` in the create method and do string --> decimal conversion for nested property
- Travers the `filter` in function `buildWhere` and do string --> decimal conversion for nested condition.

Started a PR for it, still in progress.
https://github.com/strongloop/loopback-connector-mongodb/pull/483

[2018-10-29 15:03] SandeepVanama commented on #457
@Dhmlau, I do not have hands on working on loopback code, However I can test and confirm the changes working or not with the help of IBM Integration Bus V10.0.0.13 which internally uses loopback connectors to connect to Mongo DB.

[2018-11-07 04:05] jannyHou commented on #457
Update:
https://github.com/strongloop/loopback-connector-mongodb/pull/483 team is reviewing the PR. there is one test failure, I am fixing it.

[2018-11-07 20:41] jannyHou opened #485 "Update the mongodb version on node 6 windows"
# Description/Steps to reproduce

The node 6 windows vm is still using mongodb@3.2, which does not support a bunch of 3.4(and above) features.

Acceptance cretiria:

- [ ] Update mongodb database to 3.4 for the CI windows vm.

[2018-11-08 18:20] jannyHou commented on #476
closing since all tasks are done.

[2018-11-08 18:20] #476 closed

[2018-11-08 20:50] jannyHou commented on #457
@SandeepVanama The feature to create nested decimal property is release in 3.9.2, you can test it now.

Please read the document to learn how to define the nested property, the json file you post above doesn't define them in the correct way.

https://github.com/strongloop/loopback-connector-mongodb/blob/3.x/docs/decimal128.md

[2018-11-13 20:08] tflowcamdev opened #486 "version 3.9.2 has changed behavior with model properties of type "object""
# Description/Steps to reproduce

We have models with properties of type "object", for example "objprop" below:

[code]

Now previously we could insert strings or arrays or objects into this property (v3.9.1 is still working), but with v 3.9.2 of the loopback-mongodb-connector, suddenly inserting a string values throws an exception.

Perhaps this is not a best practice, but we do have some models

[2018-11-13 21:29] jannyHou commented on #486
Hi @tflowcamdev 3.9.2 contains a feature PR that detects the nested property's type in an object property, I think that's why you see a behavior change.

According to your model definition,
[code]
restricts the type of data to be an object, so theoretically you could not provide a string data(or array data)...

[2018-11-14 14:07] tflowcamdev commented on #486
Thanks for the quick reply @jannyHou  - because of the loose nature of these things, we're already using some properties where we could have a string, array or object - is there a type we can put on the property to allow this?  I would prefer this to having to remove the property from the model json entirely.

[2018-11-15 08:06] TopGunBasten opened #487 "Get Mongo error when port is larger then 65535"
I create new compose mongo service in IBM bluemix, the port in url is large than 65535, once I launch my application
get the error as below:
Cannot initialize connector "MongoDB": Invalid port (larger than 65535) with hostname

[2018-11-15 17:42] SandeepVanama commented on #457
@jannyHou Thank you for the fix.!!

I have updated the model JSON file as per the above link and could see the Number Decimal fields inserted as expected in both root and nested elements with loopback-connector-mongodb@3.9.2.

[2018-11-15 20:09] jannyHou commented on #487
Hi @TopGunBasten which version of `loopback-connector-mongodb` are you using?

[2018-11-16 03:01] TopGunBasten commented on #487
The version is 3.9.2

[2018-11-21 18:00] barocsi commented on #414
ok so how to use it within a mongodb query?

[2018-11-22 00:54] ryan-open commented on #414
@barocsi https://github.com/strongloop/loopback-connector-mongodb/blob/260733d21e6d9cf73947c3dc08a53e650f37f766/test/mongodb.test.js#L2714

[2018-11-26 16:37] dhmlau commented on #457
Closing as resolved.

[2018-11-26 16:37] #457 closed

[2018-11-28 09:37] TopGunBasten commented on #487
I think that's a real defect of cloud service

[2018-11-28 09:37] #487 closed

[2018-12-11 07:36] melote opened #489 "mongodb transaction support?"
mongodb has multiple-documents transaction feature since version 4.0, how dose this project support or how do we use transaction api with loopback? thanks!

[2019-01-07 22:03] dhmlau commented on #485
@jannyHou , sorry if I have forgotten the outcome of our discussion.. what needs to be done in order to update the mongodb version for windows?

[2019-01-07 22:55] jannyHou commented on #485
@dhmlau Currently windows CI is failing. So we need to

- Find the corresponding setup script for that windows vm in the CI repository
- Update mongodb database to 3.4

[2019-01-10 15:43] Indrego opened #490 ""near" filter results are not of type PersistedModel"
When calling `find` with a `near` `where` clause, the response appears to be converted to JSON with a `[__cachedrelations]` array that corresponds to any `included` relationships. However, any instance methods on the model are no longer accessible resulting in errors such as:

[code]

# Description/Steps to reproduce

Using `loopback 3.24.1` with `loopback-connector-mongodb 3.9.2` (this error does

[2019-01-19 19:46] #414 closed

[2019-01-30 08:03] jgfrancisco opened #491 "Getting errors when autoupdating model index"
Unable to update an existing index when calling `ds.autoupdate`.
Getting the following error:
[code]
# Description/Steps to reproduce

Model index definition:
[code]

script:
[code]

Loopback version: `3.13.0`
Loopback Mongo Connector version: `3.9.2`

How do I properly update a model's index?

[2019-01-30 21:53] SandeepVanama opened #492 "NumberDecimal data type issue with elements of an array defined under an object schema"
I am using model JSON file to load a document in Mongo DB using loopback mechanism. I see the NumberDecimal is working fine only for the elements defined inside an array object present at root level but not for the elements defined inside an Array of a Object schema.

Please find below obeservations,

1. It is NOT working for the the field "testDecimal" defined at Root.imdb.innerArray.Item[index].

[2019-01-30 22:02] SandeepVanama commented on #492
Couldn't attach the files with .JSON extension, so attaching them as .txt.

[movies.txt](https://github.com/strongloop/loopback-connector-mongodb/files/2814642/movies.txt)
[movies_sample.txt](https://github.com/strongloop/loopback-connector-mongodb/files/2814643/movies_sample.txt)

Thank you in advance for the support.!!

[2019-01-30 22:09] SandeepVanama commented on #457
Hello members, today while testing I have noticed an issue with NumberDecimal data type not working for the elements of an array defined under an object schema.

Could you someone help with the issue? Please find the link below, I have opened this as new issue.

https://github.com/strongloop/loopback-connector-mongodb/issues/492

Thank you in advance!!

[2019-01-31 01:45] SandeepVanama opened #493 "Loopback Issue with Update Operation - Data Type not stored correctly in Mongo DB"
I am not able to update the document with correct field data type in Mongo DB using loopback mechanism. I tried with the model JSON file but it is only work for create operation but not for the update operation.

Loopback update operation defining the data types in a model file, is only working for the fields present at root level but not the fields present at Object, Arrary or nested object, nest

[2019-01-31 16:41] dhmlau commented on #492
Closing as duplicate of https://github.com/strongloop/loopback-connector-mongodb/issues/493

[2019-01-31 16:41] #492 closed

[2019-02-01 19:54] techaks opened #494 "MongoDB aggregation on Loopback"

[2019-02-01 20:53] sebastianfelipe opened #495 "Add a new value to an array is not optimized"
# Description/Steps to reproduce
Hi, the explanation is very simple. When a model call it "Dataset" contains an array for example "Data" (that is an embedsMany realtion), Data is internally an Array. The problem, is when you need to create or delete from Loopbak.

# Expected result
What happen is that findAndModify is triggered, using the "$set" operator passing the whole amount of data before (pa

[2019-02-04 20:33] SandeepVanama commented on #493
@dhmlau, could you help with the fix for this issue? We have a project deadline and got stuck with this issue. I am happy to test and confirm the changes upon implementing the fix. Please let me know.

[2019-02-06 16:25] dhmlau commented on #494
@techaks , could you please provide some information on the question / issue that you have? Thanks.

[2019-02-06 17:35] jareeve opened #496 "Using protocol mongdb+srv fails because it is not valid to set port in connection url"
# Description/Steps to reproduce

If protocol in the datasource is set to mongdb+srv then the url constructed by the connector also adds in the default port but it not valid to specify the port in the url and a client error is thrown.

If I modify the connector code to not add in the port to the url when protocol is mongodb+srv then it all works fine.

I am testig using a database on mongodb.com.

[2019-02-06 17:37] jareeve commented on #496
https://github.com/strongloop/loopback-connector-mongodb/pull/497

[2019-02-06 17:51] techaks commented on #494
I have not found any source.. how to use mongodb aggregate in loopback 4

On Wed, Feb 6, 2019, 21:55 Diana Lau <notifications@github.com wrote:

[2019-02-07 03:51] dhmlau commented on #494
@techaks , could you please take a look at https://github.com/strongloop/loopback-next/issues/2021?  There was some discussion on mongodb aggregate and someone had a solution that seems to be working.

[2019-02-07 10:25] #494 closed

[2019-02-11 21:14] dhmlau commented on #493
@SandeepVanama, I've created a sample app based on the information you've provided.  https://github.com/dhmlau/loopback-movie-test.

I've tried the following and it seems to be working fine, so if you could let me know how you reproduce the issue, i'd appreciate it.

- after starting the app, in the API Explorer (http://localhost:3000/explorer), i called /POST using the json in `Movies_sample_forC

[2019-02-12 04:10] dhmlau commented on #489
@raymondfeng, could you please help with this question?  Thanks.

[2019-02-12 16:50] SandeepVanama commented on #493
@dhmlau, Thank you foe checking this.

The main issue here is with the field data type which is not retained as per the model JSON file after the update operation execution. I see the fields that you have tested are string types, not the Decimal, Date and Integer types. Please correct me if I am wrong.

Upon preforming the update operation, the Decimal, Date and Integer type fields are not getting

[2019-02-12 16:54] SandeepVanama commented on #493
Actual results vs Expected results Document uploaded.

[MongoDB_Update_Operation _Loopback-connector-mongodb_3_9_2.docx](https://github.com/strongloop/loopback-connector-mongodb/files/2856754/MongoDB_Update_Operation._Loopback-connector-mongodb_3_9_2.docx)

[2019-02-12 19:57] b-admike commented on #493
Thank you for the updates @SandeepVanama. Where are you checking the values from to compare actual vs expected? Are you querying what is stored in the mongo database directly or are you checking it in LoopBack's API Explorer?

[2019-02-12 21:02] SandeepVanama commented on #493
@b-admike  I am checking the results by directly logging into MongoDB database through Studio 3T & Compass tool. Please let me know for anymore details needed.

[2019-02-13 18:09] b-admike commented on #493
@SandeepVanama I compared two requests (POST and then PATCH by id) using @dhmlau's sample repo, but I don't see any change in the type of the values returned with an update in Compass from the file provided to show actual vs expected results:

![create_movies_instance](https://user-images.githubusercontent.com/13950637/52733124-edebe780-2f8f-11e9-95ca-241183b1b5b7.png)

I changed some int/decimal

[2019-02-15 00:09] SandeepVanama commented on #493
@b-admike, I am using IBM App Connect Enterprise (ACE) v11.0.0.2 middleware product to integrate with MongoDB.  This product has Loopback Request Node to perform loopback operations. The source code is invisible and embedded with in the product.

The Loopback Request Node takes care of executing the requests by using the connector modules pre-loaded onto ACE. I will upgrade the loopback-connector-

[2019-02-15 05:59] chi-tran commented on #489
Any update on this issue?

[2019-02-19 15:18] b-admike commented on #490
@Indrego Thank you for the detailed issue description. We've fixed this recently in juggler. Can you try updating your dependencies and use the new release of juggler (i.e. `loopback-datasource-juggler@4.5.4`)?

[2019-02-19 15:36] b-admike commented on #493
@SandeepVanama While I reproduce this issue in a test in mongodb connector, we have landed a recent fix on `loopback-connector` to get nested property definitions properly. Can you please try again using `loopback-connector@4.6.0`? A simple `npm install` if you have the latest (4.0.0) version of mongodb connector should be sufficient. You can check with `npm ls loopback-connector` after.

[2019-02-20 18:59] webocs commented on #489
is anyone working on this? is it possible in the near future?

[2019-02-21 03:32] melote commented on #489
Hello, guys, I wrote some codes to resolve this problem temporarily
[code]
The usage as following:
[code]

[2019-02-21 16:54] SandeepVanama commented on #493
@b-admike, I have tested the scenario with the loopback-connector-mongodb@4.0.0 and loopback-connector@4.6.0 and no change in the behavior. The issue still persists with these connectors modules as well.

Please find below the npm ls loopback-connector and npm ls mongodb command output.

C:\Projects\ace\TESTNODE_ace\node_modules>npm ls loopback-connector
C:\Projects\ace\TESTNODE_ace
`-- loopback-c

[2019-02-22 03:36] jgfrancisco commented on #491
Decided to just remove the indexes an have autoupdate rebuild them all:
[code]

[2019-02-24 02:38] webocs commented on #489
Looks good, I've been thinking about doing something like that.  I'm not sure if trying to add this to the connector is worth it. I can't find a roadmap, so I'm not sure if this is getting ditched when LB4 comes out and LB3's LTS ends

[2019-02-24 14:07] dhmlau commented on #489
@melote @webocs, please feel free to submit a PR for adding the transaction support.  Currently, the connectors are shared by LB3 and LB4.

cc @raymondfeng

[2019-02-27 23:49] SandeepVanama commented on #493
@b-admike, Please find attached the trace files generated during our testing today with the standalone loopback application shared by @dhmlau.

Sample JSON File used for testing:
[SampleJSON.txt](https://github.com/strongloop/loopback-connector-mongodb/files/2912684/SampleJSON.txt)

Debug Trace Files:
[CreateOperation_DebugTrace.txt](https://github.com/strongloop/loopback-connector-mongodb/files/2

[2019-03-21 08:31] chi-tran commented on #157
This should not be closed. The $inc returns the old data set. The example only updates an attribute and that works. the $inc does not.

[2019-03-22 19:05] arukris-cdw opened #499 "How to escape special characters in Passwords to connect to MongoDB"
Hi Team,

I am trying to connect to mongodb using loopback-connector-mongodb. When I start my loopback application, it throws the below error. My password will have characters like !$@ etc..

I tried to encode this characters like using %40 for @, %21 for ! and %24 for $. If my password has only @ character, the application is able to recognize %40 and start, but it throws the below error if my pa

[2019-03-25 06:26] chi-tran commented on #489
I understand starting the transaction. But how do I update a collection with a reference to the transaction object?

I updated a collection after the transaction started, but it is already committed.

[2019-03-25 17:54] dhmlau commented on #499
Have you tried adding the option` useNewUrlParser: true` as suggested in this github issue
https://github.com/lmammino/mongo-uri-builder/issues/2#issuecomment-461749613?

[2019-03-25 18:34] arukris-cdw commented on #499
@dhmlau , I already tried this option. Below is my datasource configuration and it doesn't seem to work.
Please let me know if my configuration is correct?.

Datasource:
{
"quotesDS": {
"host": "",
"port": "",
"url": "mongodb://%40CORP.CDW.COM:@Host1,host2/QuotesDB?w=majority&wtimeoutMS=5000&replicaSet=RSDEV01&readPreference=primary&ssl=true&slaveOk=true&gssapiServiceName=mongodb&authMechanism=GSS

[2019-03-29 10:12] taraka91 opened #500 "idInjection: The instance is not valid. Details: `id` can't be set "5bf644e6d4738f2138aadeb2""
i am getting the below error while creating/inserting new object into collection.
Gig instance is not valid. Details: `id` can't be set "5bf644e6d4738f2138aadeb2".
object id is autogenerated one. i am not adding any id to the object while insterting.

it has been worked upto 30 to 40 objects. after that it is showing the above error. i have gone through db objects, this  id is already there "5bf64

[2019-04-01 16:48] arukris-cdw commented on #499
@dhmlau , can you please review my datasource configuration posted on my last update and let me know your inputs.

[2019-04-01 17:19] raymondfeng commented on #499
Is your password part of the `url`?

[2019-04-01 18:07] arukris-cdw commented on #499
yes, my password is part of the url. it will be like below.

Datasource:
{
"quotesDS": {
"host": "",
"port": "",
"url": "mongodb://%40CORP.CDW.COM:**pwd%21%24**@Host1,host2/QuotesDB?w=majority&wtimeoutMS=5000&replicaSet=RSDEV01&readPreference=primary&ssl=true&slaveOk=true&gssapiServiceName=mongodb&authMechanism=GSSAPI",
"option": { "useNewUrlParser": true },
"database": "QuotesDB",
"name": "quotes

[2019-04-02 03:33] dhmlau commented on #499
According to https://github.com/strongloop/loopback-connector-mongodb/issues/442#issuecomment-418320402, there's no need for `options`, i.e.
[code]

You're right that when the password just contains `@`, it seems to be working fine.  I'm using a modified version of [this script](https://github.com/strongloop/loopback-connector-mongodb/blob/master/setup.sh) to set up my mongodb docker container.  O

[2019-04-02 18:30] arukris-cdw commented on #499
@dhmlau , Please find my observation below.

when I used "useNewUrlParser":true in the DS configuration as you mentioned, the error was

C:\Projects\mongodb\mongocloud\node_modules\mongodb\lib\operations\mongo_client_ops.js:474
      throw err;
      ^
MongoError: authentication fail

**Note:** I made sure the pwd is uriencoded and they are the correct ones.
======================================

[2019-04-02 18:43] b-admike commented on #493
@SandeepVanama Are you able to test with the code in #501? Please note that it won't fix all of the issues you've observed because it has some dependence on https://github.com/strongloop/loopback-datasource-juggler/pull/1702.

[2019-04-02 19:54] primissus opened #502 "Create Model with relations overwrites foreignKey"
# Bug or feature request
- [x] Bug
- [ ] Feature request

# Steps to reproduce

Having two models:

`ModelA`
[code]

and `ModelB`
[code]

Notice that `ModelB`has a **belongsTo** relation with `ModelA`.

1. Create one `ModelA`

[code]

2. Create one `ModelB` just setting `modelaId`

[code]

result will include `ObjectId` which I consider is correct:

[code]

3. Create another `ModelB` but this time

[2019-04-03 16:29] primissus commented on #502
While debugging I found that the change of value occurs at [loopback-datasource-juggler/lib/model.js:226](https://github.com/strongloop/loopback-datasource-juggler/blob/ff5a3fa8bff07da59d7ce1a48442ea6b88ad3683/lib/model.js#L226)

I undestand that *model's foreign key* is obtained from relation id, but I think it should check if should be converted to `ObjectId`.

[2019-04-06 19:49] dhmlau opened #503 "Fix CI on OPERATOR_NOT_ALLOWED_IN_QUERY"
## Description
Currently there is one test case failed in CI because of the error below:

[code]

_Extracted from https://github.com/strongloop/loopback-connector-mongodb/pull/497_

There is a setting in mongodb, there is a setting : allow extended operators
In juggler,  there are security settings that may have contributed to this failure (introduced ~ 3 months ago)

Related to this change : http

[2019-04-07 13:04] dhmlau commented on #503
Also see https://github.com/strongloop/loopback-datasource-juggler/pull/1705#issuecomment-480254509

[2019-04-07 20:19] zekylaf opened #504 "Find by document"
Hi,

I have this collection in my db:
[code]

I am looking for an option to execute this query:

`db.getCollection('people').find({"person": {"name": "bob", "job": "programmer"}})`

I tried using this, but it didn't work:

`People.find({"person": {"name": "bob", "job": "programmer"}}, (err, p) => { ... })`

I think the problem is here:

https://github.com/strongloop/loopback-connector-mongodb/blob

[2019-04-08 03:29] #504 closed

[2019-04-12 14:48] b-admike commented on #493
This closed automatically because #501 has landed, but will need the fix from https://github.com/strongloop/loopback-datasource-juggler/pull/1702 as well.

[2019-04-16 16:29] dhmlau commented on #503
See PR #505

[2019-04-18 12:59] dhmlau commented on #496
Closing this issue as PR #497 has landed.

[2019-04-18 12:59] #496 closed

[2019-04-19 14:17] mitsos1os opened #506 "undefined converted to null when missing from db"
# Description/Steps to reproduce

When a property has a ModelDefinition as type declared, it is recursively passed from `fromDatabase` to be converted in case  of an embedded Binary property. You can see this in this [line](https://github.com/strongloop/loopback-connector-mongodb/blob/cf10c6be5d6a00a95dc00bfeaf10ec260cd94e60/lib/mongodb.js#L398).

However when an empty (undefined) property is met,

[2019-04-22 20:55] #506 closed

[2019-04-24 12:50] b-admike opened #509 "Remove unnecessary downstream builds from mongodb connector"
# Description/Steps to reproduce
Related to #503

Right now in mongodb connector, we have some downstream builds that run and fail, but should not affect the build status for patches on the connector. We need to remove those downstream builds. On the same note, mongodb build on node 6.x and windows needs to have its mongodb version updated.

# Acceptance Criteria
- [x] Remove the following downstr

[2019-04-24 12:51] b-admike commented on #503
Fixed by #505, created #509 for follow up removal of downstream builds.

[2019-04-24 12:51] #503 closed

[2019-04-25 15:46] dhmlau commented on #509
See example: https://github.com/strongloop/loopback-datasource-juggler/blob/master/package.json#L64-L70

[2019-04-27 00:39] kg551915 opened #511 "MongoDB Atlas Connection to Loopback"
# Description/Steps to reproduce

Using Loopback 3.x with loopback-connector-mongodb
I tried defining:

[code]

In the databasesources.json but I keep getting the error:

[code]

# Expected result

Expected a connection to MongoDB database.

# Additional information

win32 x64 10.15.3

+-- loopback@3.25.1
+-- loopback-boot@2.28.0
+-- loopback-component-explorer@6.3.1
+-- loopback-connector-mongodb

[2019-04-27 19:45] dhmlau commented on #511
@kg551915, there was a PR got merged related to connecting with `mongodb+srv` protocol: https://github.com/strongloop/loopback-connector-mongodb/pull/497, which might fix your issue.  We're planning to make a release soon.

[2019-04-29 05:23] anjorinjnr opened #512 "Filter not working for string field"
I have a class that looks like this.
[code]
I am using mongodb as the database.

`filter[where][title]=<value>` returns data

`filter[where][createdBy]=<value>` does not returns data

Not sure what's going on with this particular field. Any idea?

[2019-04-29 05:32] anjorinjnr commented on #512
Turns out if the value in the column is an id e.g '5cc67a80e46e13a0d6a87a80' it doesn't work but another value it works. Doesn't make any else. Who knows what's happening here?

[2019-04-29 05:54] anjorinjnr commented on #512
Figured it out. It's coercing string with object format directly to objectid. It can be turned off by turning
[code]

[2019-04-29 05:54] #512 closed

[2019-04-30 14:27] kg551915 commented on #511
In the meantime, is there another way to connect to Atlas?

[2019-05-01 00:05] dhmlau commented on #511
@b-admike, I know you have 2 PRs that you want to land soon, just wondering if we'd be able to release this week.  There are a few people already waiting for the `mongodb+srv` protocol fix. I'm thinking whether it makes sense to make a release without your PRs.

[2019-05-05 12:45] dhmlau commented on #511
@kg551915, `loopback-connector-mongodb@4.2.0` was released 2 days ago. Could you please try again to see if it fixes your problem? Thanks.

[2019-05-06 14:01] imonildoshi opened #515 "String should saved as objectId"
While finding a String which is actually an objectId, loopback-connector-mongodb converts it to ObjectId and then finds, which is perfect.

But while inserting, if a string is a foreign key and not an Id, it is not converted to ObjectId

What do you recommend? should we convert all the properties of regex /^[0-9a-fA-F]{24}$/ to objectId and then save

[2019-05-06 15:55] dhmlau commented on #515
@imonildoshi , saw your same question posted in https://github.com/strongloop/loopback-next/issues/2085#issuecomment-489632132.  Should we use that thread to continue to discussion? Thanks.

[2019-05-06 17:53] imonildoshi commented on #515
Yes sure, let's do that

[2019-05-07 02:00] dhmlau commented on #515
ok. let me close this issue then. Thanks.

[2019-05-07 02:00] #515 closed

[2019-05-07 18:31] dhmlau commented on #509
I've tested it with a test PR and verified that the downstreams were removed.

Since we've dropped the tests for Node.js 6, this is no longer needed.

Closing this task as done.

[2019-05-07 18:31] #509 closed

[2019-05-12 14:11] #511 closed

[2019-05-20 07:48] alidavid0418 commented on #429
@raymondfeng  I cannot find the `idleTimeoutMillis` option in the README doc.
Is it still available for MongoDB 4.0? The same goes for `poolSize`.
Thanks in advance.

[2019-05-20 16:05] arukris-cdw opened #520 "CamelCase property names using Model json"
hi Team,

We have a requirement to camelCase all element names in json before writing to mongodb. Is there any property in datasources.json or modelconfig.json file that I can use to automatically apply camelcasing to all element names (using loopback connector mongodb) .

This requirement came all of a sudden and I won't be able to revisit all our mappings again to change the element names to cam

[2019-05-24 15:28] dhmlau commented on #493
Closing as resolved.

[2019-05-24 15:28] #493 closed

[2019-05-31 21:32] arukris-cdw commented on #520
hi Team,

Can anyone provide some guidance for my request.

thanks
Arun S.

[2019-05-31 21:43] raymondfeng commented on #520
Please check out https://loopback.io/doc/en/lb3/Connector-hooks.html#mongodb-connector.

[2019-06-01 10:08] hoangleanhtu commented on #489
Hi,

Should we pass options [here](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L573) to allow attach [session](https://mongodb.github.io/node-mongodb-native/3.2/api/Collection.html#insertOne):

[code]

So in LoopBack 4, we can easily propagate transaction:

[code]

We also have to create collection before running operations.

[2019-06-03 06:29] hoangleanhtu commented on #489
I implemented one as above suggestion [hoangleanhtu/loopback-connector-mongodb](https://github.com/hoangleanhtu/loopback-connector-mongodb).

@transactional decorator in this [library](https://www.npmjs.com/package/loopback4-spring#transaction-on-mongodb-replica-set) supports MongoDB as well:

[code]

[2019-06-09 13:27] GeniusBrother commented on #429
@raymondfeng  I also cannot find idleTimeoutMillis options in node mongodb driver

[2019-06-13 14:01] bajtos commented on #520
What is supposed to happen when you read the data from MongoDB and send it to HTTP clients? Do you want to convert them from `multipleShipToFlag` back to `MultipleShipToFlag`, or would you like to preserve the camel-case property names?

Also how are these properties defined in your Model JSON files? Conceptually, do you want to see camel-case (`multipleShipToFlag`) or PascalCase (`MultipleShipToF

[2019-06-14 19:27] ZStoneDPM commented on #457
I found this method to work best in 2019.

`const mongodb = require('mongodb');
const Decimal128 = mongodb.Decimal128;.

 const newProduct = {
    name: req.body.name,
    description: req.body.description,
    price: Decimal128.fromString(req.body.price), // store this as 128bit decimal in MongoDB
    image: req.body.image
  };
`
https://mongodb.github.io/node-mongodb-native/3.2/api/Decimal128.ht

[2019-06-18 15:06] arukris-cdw commented on #520
@bajtos , thanks for your feedback.

will try the option to use persist hook to convert from PascalCase to camelCase and get back to you in case of any further queries.

[2019-06-19 07:07] hacksparrow commented on #499
@arukris-cdw  You should encode the whole username or password, not just the special characters in them using percent-encoding - https://tools.ietf.org/html/rfc3986#section-2.1.

Eg: `a!$@xyz` would become `%61%21%24%40%78%79%7A`.

Here is a function to generate percent encoded string:

[code]

[2019-06-26 02:53] dhmlau commented on #485
Closing as done.

[2019-06-26 02:53] #485 closed

[2019-06-30 05:58] moslemezzati commented on #125
If sb can see the log of an app they already pass through every security so it doesn't make sense if you prevent displaying sql query in order to not having security issue. It's necessary for me as a developer to see my log. please add this feature to loopback and if you have a strong reason for security it's better just warn the developer in document.

[2019-07-01 09:17] zekylaf opened #532 "MongoError: unknown operator: $$eq"
Hi, I was using **v3.9.2** and it was working good. Recently I updated to **v5.0.0** and I am getting this error when trying to use $eq operator.

`MongoError: unknown operator: $$eq`

I am using `allowExtendedOperators: true`.

The way I am using it:

[code]

Something I can do?
Thanks

## Acceptance Criteria

- [x] Investigate and find the cause
- [x] add explanations and examples to the mongodb

[2019-07-01 23:19] dhmlau commented on #532
@hacksparrow , could you please take a look? Thanks.

[2019-07-02 09:13] sylvaindumont commented on #472
It is still relevant, it should be fixed by #522

[2019-07-02 10:27] hacksparrow commented on #532
@zekylaf can you share a sample app reproducing the error? I checked on a LB3 app, I don't get that error.

[2019-07-02 17:51] zekylaf commented on #532
Sure. https://github.com/zekylaf/lb-eq-test

Run it with:
npm install
npm run testeq

Thanks

[2019-07-02 20:49] #438 closed

[2019-07-02 20:49] #434 closed

[2019-07-02 20:49] #444 closed

[2019-07-02 20:49] #448 closed

[2019-07-02 20:49] #321 closed

[2019-07-02 20:49] #456 closed

[2019-07-02 20:49] #440 closed

[2019-07-02 20:49] #430 closed

[2019-07-02 20:49] #447 closed

[2019-07-02 20:49] #104 closed

[2019-07-02 20:49] #486 closed

[2019-07-02 20:49] #495 closed

[2019-07-02 20:49] #490 closed

[2019-07-02 20:49] #500 closed

[2019-07-02 20:49] #491 closed

[2019-07-02 20:49] #502 closed

[2019-07-03 14:33] hacksparrow commented on #532
Thanks @zekylaf

[2019-07-06 08:59] vitaly-t commented on #499
Without having to encode anything, using the generic [connection-string]:

[code]

[connection-string]:https://github.com/vitaly-t/connection-string

[2019-07-08 14:10] hacksparrow commented on #532
@zekylaf please use this workaround while we work on a solution:

[code]

[2019-07-08 23:58] zekylaf commented on #532
@hacksparrow great, thanks.

[2019-07-15 23:22] dhmlau commented on #499
Closing as done. See PR #529

[2019-07-15 23:22] #499 closed

[2019-07-16 03:05] arukris-cdw opened #534 "DefaultValueHandling to Reduce JSON Size"
hi Team,

I am looking for a solution to reduce the document size being written to mongo db. Need to insert a new record to mongodb, and if the element value is same as default value in the json schema , those elements needs to be dropped from being inserted.

This is achieved in .NET using a DefaultValueHandling function, below link has some details around it.
https://www.newtonsoft.com/json/help

[2019-07-16 09:58] hacksparrow opened #535 "DataAccessObject.update should convert Model instance to plain JS object"
The `DataAccessObject.update` method in `/lib/dao.js`, should convert `Model` instance to plain JS object like the rest of the CRUD-related methods, for the sake of consistency and to avoid probable bugs in future.

[2019-07-18 19:17] embpdaniel opened #536 "MongoDB error: Nested ID is not an ObjectID string"
I am querying a nested ID like this:

[code]
The item's _id property is defined as an ObjectID:
[code]
However this query returns this error:

[code]

If I query the ID directly, it works fine. When this "booking" object I'm querying is created, this ID I'm trying to query for is set as a string, and not an ObjectID, which is probably why I get the error.

But when created it doesn't seem to respe

[2019-07-18 20:26] embpdaniel commented on #536
This was totally my fault. My logic down stream was the problem. I was attempting to create a document instead of updating it. The above query works fine.

[2019-07-18 20:26] #536 closed

[2019-07-22 08:34] Hulcsa opened #537 "referencesMany relation causes "is not an ObjectId string" error."
Hello,

I have a referencesMany relation in one of my models, and since v5.0.0 I cannot create a new object from this model, but it works perfectly fine with v4.2.0. The relation is this:

"foods": {
  "type": "referencesMany",
  "model": "Food",
  "foreignKey": "foodIds",
  "options": {
    "validate": true,
    "forceId": false
  }
}

When i delete this relation, i can create an object from this

[2019-07-22 23:08] dhmlau commented on #534
@hacksparrow, could you please take a look? Thanks.

[2019-07-23 07:54] hacksparrow commented on #534
@arukris-cdw We don't have this feature.

It is understandable to not send the default values and fill them in the client-side representation of the model, but omitting in the write to the database is not supported in MongoDB, since MongoDB does not support default values.

[2019-07-23 07:55] hacksparrow commented on #534
There is a discussion about this feature at https://jira.mongodb.org/browse/SERVER-24430.

[2019-07-23 14:42] arukris-cdw commented on #534
@hacksparrow
Thanks for checking.  I agree that this is not supported in MongoDB, but this seems to be more like a JSON parsing feature. We might have this feature while creating the JSON itself.  In .NET and JAVA world this requirement is achieved while creating the JSON payload. (not while writing to MongoDB).

In our implementation, Loopback is enforcing all datatypes to the JSON payload based

[2019-07-23 16:39] hacksparrow commented on #534
@arukris-cdw

Hi Arun, my understanding is based on this statement, "I am looking for a solution to reduce the document size being written to mongo db."

I am interpreting that as "**I want MongoDB to fill in the defaults by itself**". The feature cannot be implemented in LoopBack (or any framework) since MongoDB does not support default values as of now.

However, if you mean, "**I want LoopBack

[2019-07-23 16:48] arukris-cdw commented on #534
@hacksparrow

Yes, I meant **"I want LoopBack to fill in the details for me".**

Can you please let me know the steps to enable it in LB3 (based on below version).

C:\ProgramData\IBM\MQSI\node_modules>npm ls loopback
C:\ProgramData\IBM\MQSI
`-- loopback@3.25.0

[2019-07-24 04:34] hacksparrow commented on #534
@arukris-cdw

This is an example of a model's JSON file (`people.json`) with default values:

[code]
If no name is specified in the request body JSON, it will default to "Krishna" for all the models.

When you execute `lb model` at the command line, you will be prompted for the default value, you can specify it there.

[2019-07-24 14:39] arukris-cdw commented on #534
@hacksparrow

My requirement is just the opposite.. I want the elements having default values in the json payload to be  ignored/excluded.

kindly go through below link, this is the same I want to achieve using loopback.  (Members.Ignore capability)
https://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_DefaultValueHandling.htm

Thanks
Arun S.

[2019-07-25 06:20] hacksparrow commented on #534
@arukris-cdw I see, so you are looking for the `Include`, `Ignore`, `Populate`, and `IgnoreAndPopulate` abilities, correct?

That will have to be implemented at the model level.

The library you are referring looks like a client-side library, ignoring properties at the client-side makes sense. However, if we ignore properties while writing to the database, we will end up with missing data and inco

[2019-07-25 15:37] arukris-cdw commented on #534
@hacksparrow

We are using Loopback as the client side application that enforces all datatypes and writes data to mongo db.

Recently Biniam applied a solution in loopback to handle NumberDecimal datatypes which was not supported earlier. We give the json data as string to loopback and it converts it into NumberDecimal and writes to mongo db.

Can we have a similar solution for my requirement. In

[2019-07-26 05:37] hacksparrow commented on #534
There seems to be a big gap in the understanding somewhere, let's discuss on call. Monday, 9:00 am CT is good for me. Please share the Zoom or Skype or your preferable app's details at hage.yaapa@in.ibm.com.

[2019-07-30 05:20] hacksparrow commented on #534
@bajtos @raymondfeng need your input here.

CDW wants the ability to omit model properties with default values from being written to the database.

While this may seem like a problematic feature, since it will affect the ability to query using those properties; it can actually be a desirable feature to have, if there are a thousands of properties with default values, and thousands such models, whi

[2019-07-30 10:32] bajtos commented on #534
I can see how this feature could be useful to reduce the amount of data stored in MongoDB. I would envision the following implementation in juggler or LB4 repository class (behind a feature flag):

- Allow model properties to define a default value. I believe this is should be already supported in LB4 via `@property({default: SOME_VALUE}`.
- When serializing data to be stored to the database, stor

[2019-08-02 12:01] hacksparrow commented on #534
@arukris-cdw in LB3 using [Operation Hooks](https://loopback.io/doc/en/lb3/Operation-hooks.html), you can programmatically remove the properties you want to omit.

In `Movies.js`:

[code]

[2019-08-05 01:12] alidavid0418 opened #538 "Connected AWS DocumentDB via SSL, but returns EMPTY array"
I'm building an app with `loopback 3.22.2` and `loopback-connector-mongodb 4.2.0`.
The current working mongodb version is **4.0.4**.
BTW, newly migrated AWS DocumentDB always returns nothing but empty array although the DB has been correctly migrated(I've confirmed that through mongod shell).
I understand DocumentDB is based on mongodb **3.6** schema, but is that a main reason for the current issu

[2019-08-05 16:01] arukris-cdw commented on #534
@hacksparrow . Thanks for getting back.

As you are aware i have around 1800 attributes (with multiple nested json array attributes) and how to programmatically unset every attribute. Will you be able to provide me some dynamic function that can check the data for all attributes at different levels and do the unsetAttribute automatically?.

thanks
Arun S.

[2019-08-07 09:34] hacksparrow commented on #534
@arukris-cdw we are considering the possibilities.

[2019-08-07 13:42] hacksparrow commented on #534
@arukris-cdw we have decided to go ahead and implement the ignore feature.

[2019-08-07 15:00] arukris-cdw commented on #534
@hacksparrow , thanks for considering this as a new feature.

Just want to make sure we have the same understanding. Please let me know if you also agree to below explanation for this feature?.

**Ignore Feature:**
Ignore members where the member value is the same as the member's default value when serializing objects so that it is not written to JSON. This option will also ignore all default valu

[2019-08-07 16:16] hacksparrow commented on #534
We'll provide the ability to ignore properties if the value is the default; however, developers will have to set their own default values. We cannot hard-code `0` as default for integers, for example.

You can do something like:

[code]

Will this solve your problem? If no, then we'll have to reconsider the decision.

Can you elaborate this?

[2019-08-07 16:36] arukris-cdw commented on #534
@hacksparrow

That should be fine. We will set the default value for individual elements.
Please include a solution to handle empty object or empty array elements as below .
eg: {
        element1 :{
        } ,
        elementArray : [
        ]
      }

The default value ignored can be changed by placing the DefaultValueAttribute on the property.
-- I was expecting the same solution that you sug

[2019-08-08 08:53] josephlaw opened #539 "Module ./connectors/mongodb not found, will try another candidate."
# Description/Steps to reproduce
Got below error after upgrade loopback-connector-mongodb from 3.0.1 to 3.1.0
Remarks: I tried to use loopback-datasource-juggler@2.59.2 or up still have the same error. I haven't start/use mongodb access control (that mean no need user/password)

 loopback:datasource Module ./connectors/mongodb not found, will try another candidate. +0ms
  loopback:datasource Canno

[2019-08-08 13:58] dhmlau commented on #539
@hacksparrow, have you seen this problem?
@josephlaw, would you consider updating `loopback-datasource-juggler` to 3.x or 4.x? It's because 2.x is already end of life.

[2019-08-08 14:37] hacksparrow commented on #539
@josephlaw to help us diagnose the issue, please share a bare minimum app which reproduces the issue you are encountering.

Unless there is a restriction, we recommend you upgrade to `loopback-datasource-juggler` `3.x` or `4.x`.

[2019-08-08 14:39] josephlaw commented on #539
Already tested 3.x and 4.x, also got the same problem, thanks

[2019-08-08 15:16] hacksparrow commented on #539
@josephlaw please share a bare minimum app which reproduces the issue, we will be able to help you fix it.

[2019-08-08 16:00] josephlaw commented on #539
@hacksparrow https://github.com/josephlaw/loopback-test.git

[2019-08-08 16:12] josephlaw commented on #539
@hacksparrow https://github.com/josephlaw/lp_test.git

[2019-08-09 03:40] josephlaw commented on #539
@hacksparrow @dhmlau I tried to upgrade my nodejs version from v4.8.3 to v6.10.x, and no such database connection problem, thanks .

[2019-08-09 03:40] #539 closed

[2019-08-10 06:41] lazzyms commented on #332
Hey @barocsi , I am having the same issue and yes I removed use of current-context , but still the context is null.

[2019-08-18 16:52] mrbatista commented on #537
Confirm same problem. [See sandbox](https://github.com/mrbatista/loopback-sandbox/tree/error-relation-objectid).
To replicate (require a mongodb database listen on port 27017):
`curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{ \
 "id": "5d59804788cb43842ec72f36", \
 "name": "customer1"}' 'http://localhost:3000/api/Customers'`

`curl -X POST --header

[2019-08-19 15:52] hacksparrow commented on #534
@arukris-cdw we have introduced a new property `applyDefaultOnWrites` in the PR https://github.com/strongloop/loopback-datasource-juggler/pull/1770/, using which you can disable default values being written to the database. Look at the test file for usage  example.

The PR has landed and will be available in the next minor version of `loopback-datasource-juggler`, which will very likely be release

[2019-08-19 18:11] dhmlau commented on #534
I just released new versions of juggler today: 4.12.0 and 3.33.0.

[2019-08-20 19:53] herbertscruz opened #540 "DeprecationWarning: option useUnifiedTopology to MongoClient.connect"
(node:9048) DeprecationWarning: current Server Discovery and Monitoring engine is deprecated, and will be removed in a future version. To use the new Server Discover and Monitoring engine, pass option { useUnifiedTopology: true } to MongoClient.connect.
    at parseFn (/home/herberts/Projects/workspace/aegon/platform-api/node_modules/mongodb/lib/operations/connect.js:312:5)
    at parseConnectionS

[2019-08-22 03:27] dhmlau commented on #534
Closing as done.

[2019-08-22 03:27] #534 closed

[2019-08-22 12:22] ChristoJohn opened #542 "Unable to connect to Mongo DB Atlas using mongodb+srv Protocol"
Connection Properties i tried in datasource.json
[code]
while trying to query some data - getting this error

[code]

[2019-08-22 14:22] #429 closed

[2019-08-22 21:16] dhmlau commented on #542
Can you try with `protocol` property added to the datasource?
i.e.
[code]
See https://github.com/strongloop/loopback-connector-mongodb#using-the-mongodbsrv-protocol

[2019-08-23 06:46] imran-solanki commented on #537
i am also getting same issue.  and i have fix my issue. loopback-connector-mongodb 5.0.0 is not support referencesMany relation i have changed update version 4.2.0  it's working prefect

[2019-08-23 08:45] jbedzinskas opened #543 "Writing to MongoDB failing after mongodb dependency being upgraded"
After our custom service redeploy we started getting these errors while writing to MongoDB instance:
“Transaction numbers are only allowed on storage engines that support document-level locking”

It was caused by mongodb dependency being automatically upgraded by npm to v3.3.0, which enables `retryWrites=true` by default. This leads loopback-mongodb-connector not working with Mongo DB 3.6 instance

[2019-08-23 09:08] ChristoJohn commented on #542
I already tried with this but not working .

In Connector Lib  if we specify url it will take that.

From  loopback-connector-mongodb/lib/mongodb.js
`  s.url = s.url || generateMongoDBURL(s);`

also generateMongoDBURL is not taking  mongodb+srv protocol
[code]

[2019-08-23 17:01] dhmlau commented on #543
@hacksparrow, I was looking at this briefly. The error @jbedzinskas  mentioned (not in this issue) is `Transaction numbers are only allowed on storage engines that support document-level locking`.  It seems to be a mongodb error. Found a few similar threads:
https://jira.mongodb.org/browse/RUBY-1859
https://jira.mongodb.org/browse/RUBY-1853

@jbedzinskas suggested locking the `mongodb` dependency

[2019-08-27 15:21] hacksparrow commented on #543
I am not in favor of locking the version `mongodb` dependency, especially considering MongoDB `4.0.x` has been out for a while now.

What we can do instead is introduce a new datasource property `retryWrites` which defaults to `true`. Users who want or need it to be `false` can simply set it to `false`.

Thoughts @raymondfeng @bajtos?

[2019-08-31 09:53] sylvaindumont commented on #472
this issue is fixed by #522 but the fix is not released yet

[2019-08-31 16:12] #520 closed

[2019-09-02 08:07] heshamelmasry77 commented on #540
any fix for this issue ! ?

[2019-09-04 00:39] herbertscruz commented on #540
I'm waiting to approve.

https://github.com/strongloop/loopback-connector-mongodb/pull/541

[2019-09-05 05:41] siarheidudko commented on #540
keep in mind that in the case {useUnifiedTopology: true}  of connection with mongo never restores
https://jira.mongodb.org/browse/NODE-2147

[2019-09-06 11:12] ChristoJohn commented on #542
Issue Solved by updating to the latest version. loopback-connector-mongodb version 4.2.0 or newer.

[2019-09-06 11:12] #542 closed

[2019-09-08 05:20] ahmedzaki72 commented on #449
i use lb4  and i have this issue  how to solve this issue pls

[2019-09-11 02:32] #489 closed

[2019-09-12 06:24] Tamilselvanret commented on #540
Problem Fixed... Use this @herbertscruz
Mongodb deprecated **current server and engine monitoring** method , So you need to use **new server and engine monitoring** method.. So use

`mongoose.connect(process.env.test_db, { useUnifiedTopology: true, useNewUrlParser: true, useCreateIndex: true  });`

Ref: https://stackoverflow.com/a/57900760/11873380

[2019-09-13 16:19] flow08 commented on #540
This helps me. Go to "\node_modules\loopback-connector-mongodb\lib\mongodb.js" file in your project root. Put "validOptions['useUnifiedTopology'] = true;" between 296 and 297 lines.

[2019-09-19 16:27] #472 closed

[2019-09-27 14:34] emersomcarvalho commented on #540
mongoose.connect('mongodb://localhost:27017/<name of base>',
{useNewUrlParser: true, useUnifiedTopology: true}); // for version  "5.7.1" - Resolved  :)

[2019-09-30 08:26] #535 closed

[2019-10-09 13:22] Limpidius-Fred commented on #537
mongodb.js#1939
replace:
[code]
with:
[code]

[2019-10-11 15:36] taicho opened #545 "`coercePropertyValue` Does Not Account For Array of ObjectID or Array of ObjectID strings"
# Description/Steps to reproduce
Arrays of ObjectID or ObjectId-like-strings cannot be saved/updated/created and attempting to do so results in an error.

1. Create any Entity/Model.
2. Decorate a model w/ `{strictObjectIDCoercion:true}`.
2. Decorate a property with either:
[code]
OR
[code]
I've tried many other variations. No matter what, `coercePropertyValue` in `mongodb.js` does not account for

[2019-10-15 19:12] dhmlau commented on #545
Related to PR https://github.com/strongloop/loopback-connector-mongodb/pull/517

Cross posting @taicho's [comment in the PR](https://github.com/strongloop/loopback-connector-mongodb/pull/517#discussion_r334069205):

[2019-10-18 02:11] #538 closed

[2019-10-21 22:29] joneldiablo commented on #217
Hi there!
I have a problem filtering some data, the database is postgree.
there is an array field: `"category": ["string"]`
and I want filter elements which have category named "objectives", example of data:
[code]

my filter is:
[code]
I have try to many ways, with `"inq"` instead `"in"`... with the word only after "category", putting as array or without the array (looks like: `["objectives"]`  o

[2019-10-21 22:39] joneldiablo commented on #357
hi there!!!!
I have a little problem filtering  by an array field, using this as example, if "stagesToDo" would be the root, my requirement is filter by "parentPhases"
something like
[code]
something like that, but not working o.O

[2019-10-24 16:52] carlos-peru commented on #540
Is this going to get merge into v3 as well?

[2019-10-24 16:53] raymondfeng commented on #540
@carlos-peru Can you cherry-pick the commits and submit a patch for 3.x branch?

[2019-10-28 08:26] hopduong commented on #274
@etsuo @jannyHou I don't know if you guys had resolved this issue, but now I meet this in my project. Could you guys please give your solution?

[2019-10-30 12:30] carlos-peru commented on #540
@raymondfeng done: #548

[2019-11-09 16:11] #543 closed

[2019-11-18 15:49] arukris-cdw opened #552 "Default value Handling not working for JSON object and array"
hi Team,

This issue is in continuation to the solution shared for handling default values in below thread.
https://github.com/strongloop/loopback-connector-mongodb/issues/534

Looks like the fix is working for elements only at the root level, but not for elements inside an object / object array.

Attached is sample input, output and model json I prepared for this testing. Could you please review

[2019-11-18 15:54] dhmlau commented on #552
@hacksparrow, I'm assigning this to you. Thanks!

[2019-11-22 03:55] nisajthani opened #554 "Cannot install latest version 5.2.0"
Greetings. I tried to update the loopback-connector-mongodb from ^4.2.0 to 5.2.0 with the following command
`npm install loopback-connector-mongodb --save`

The version 4.2.0 is installed instead. Is there a reason for this? I would like to know if it is better to stick to 4.2.0 since that is what npm is giving me.

[2019-11-22 04:56] raymondfeng commented on #554
You need to run `npm install loopback-connector-mongodb@5.2.0 --save` as `5.2.0` is new major version over `4.2.0`.

[2019-11-22 04:56] #554 closed

[2019-11-26 14:37] hacksparrow commented on #552
Hi @arukris-cdw we now have a PR for this support - https://github.com/strongloop/loopback-datasource-juggler/pull/1797.

@bajtos @raymondfeng PTAL.

[2019-11-26 15:37] arukris-cdw commented on #552
@hacksparrow
Thanks. Please let me know what version to install to test this feature..

[2019-11-27 14:01] hacksparrow commented on #552
@arukris-cdw will do once we land the PR and publish and new version.

[2019-11-28 08:46] hacksparrow commented on #552
@arukris-cdw `loopback-datasource-juggler 4.16.0` has been published with the supported feature.

[2019-11-28 14:18] dhmlau commented on #552
Closing as done.

[2019-12-02 13:42] Spanizen opened #555 "MongoError: no primary server available"
**### Getting no primary server available when using mongo replica set.**

_Error message -_

MongoError: no primary server available
    at pickServer (/root/cna_api/node_modules/mongodb-core/lib/topologies/replset.js:876:13)
    at ReplSet.getServer (/root/cna_api/node_modules/mongodb-core/lib/topologies/replset.js:330:10)
    at nextFunction (/root/cna_api/node_modules/mongodb-core/lib/cursor.j

[2019-12-02 16:17] ianhorrocks11 opened #556 "TypeError: Cannot read property 'dbName' of null"
TypeError: Cannot read property 'dbName' of null
    at /home/ianhorrocks/Escritorio/Proyecto/TFG/apiTfg/node_modules/loopback-connector-mongodb/lib/mongodb.js:310:17
    at parseHandler (/home/ianhorrocks/Escritorio/Proyecto/TFG/apiTfg/node_modules/mongodb/lib/url_parser.js:135:16)
    at QueryReqWrap.callback (/home/ianhorrocks/Escritorio/Proyecto/TFG/apiTfg/node_modules/mongodb/lib/url_parser.j

[2019-12-03 17:29] arukris-cdw commented on #552
@hacksparrow ,

this issue still exists. below is my versions and attached my quotes.json file. Can you please review and let me know if everything looks good.

C:\Projects\mongodb\mongocloud>npm install loopback-datasource-juggler
+ loopback-datasource-juggler@4.16.0
updated 1 package in 6.984s

C:\Projects\mongodb\mongocloud>npm ls loopback-datasource-juggler
mongocloud@1.0.0 C:\Projects\mongodb

[2019-12-06 15:41] arukris-cdw commented on #552
[mongocloud.zip](https://github.com/strongloop/loopback-connector-mongodb/files/3932899/mongocloud.zip)

@hacksparrow , i have uploaded the zip file of the application .

[2019-12-09 11:52] mrbatista commented on #537
@Hulcsa form me with latest version (5.2.1) the problem is resolved.
Please verify and report feedback.

[2019-12-09 12:46] mikeevstropov commented on #537
"loopback-connector-mongodb": "5.2.1"

[code]

POST `http://localhost:3000/api/News` with following body

[code]

will fail with

[code]

[2019-12-09 14:04] hacksparrow commented on #552
@arukris-cdw default values work in two ways:

1. Getting written to the database if the value was not specified
2. Getting applied to the response IF the data was missing in the database

`applyDefaultOnWrites` is a property-level setting which controls whether the default value is written to the database or not.

`applyDefaultsOnReads` is a model property which controls whether the default shoul

[2019-12-09 18:56] dkrantsberg opened #557 "ping() never returns if database is down"
Whenever mongo database is down **ping()** method never returns. This prevents implementing health checks on APIs with mongo datasource.
There was a [bug](https://github.com/strongloop/loopback-connector-mongodb/issues/47) reported for this  issue back in 2014 and was marked as fixed. However I'm seeing that this issue is still there.

## Steps to reproduce

1. Create a Loopback 4 application with

[2019-12-10 13:59] dhmlau commented on #557
@emonddr, could you please take a look? Thanks.

[2019-12-10 20:01] emonddr commented on #557
Even if I restart the docker container which has the mongo db,

any new requests still show the DB as down

[code]

[2019-12-10 20:03] emonddr commented on #557
I have to stop the LB4 app, and restart it.

Then I perform another test, and it finally shows the DB is up

[code]

[2019-12-10 20:24] emonddr commented on #557
I actually had to define my provider like this:

[code]

instead of

[code]

Otherwise my VSCode editor would complain about this `value()` method:

![image](https://user-images.githubusercontent.com/6864736/70565979-2ed96c00-1b61-11ea-8bb2-ef307e451b1d.png)

[2019-12-15 14:03] adhikmewada commented on #540
Thanks

[2019-12-17 16:09] dhmlau commented on #552
@arukris-cdw,

There are 2 fixes from @hacksparrow
3.x branch: https://github.com/strongloop/loopback-datasource-juggler/pull/1815
master branch: https://github.com/strongloop/loopback-datasource-juggler/pull/1813
Both have landed.

I've released `loopback-datasource-juggler@3.35.0` for the fixes in 3.x branch.  Please give it a try.
I published a release for `master` because I think @arukris-cdw

[2019-12-18 21:50] redakzter01 commented on #537
Hello everybody, this is my hack to mongodb.js and "loopback-connector-mongodb": "5.2.1"

`/**
 * Check whether the property is an ObjectID (or Array thereof)
 *
 */
function isObjectIDProperty(modelCtor, propDef, value, options) {
  if (!propDef) return false;

  if (typeof value === 'string' && value.match(ObjectIdValueRegex)) {
    if (isStoredAsObjectID(propDef)) return true;
    else return !

[2019-12-22 14:46] Thetchina13 commented on #540
Thanks a lot  :)

[2019-12-27 08:55] hanyuzhou2006 opened #558 "connect mongodb twice"
## Steps to reproduce

with loopback-datasource-juggle
[code]

## Current Behavior

connected twice
## Expected Behavior

connected  once
## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-12-28 03:16] dhmlau commented on #558
@hacksparrow, could you please take a look? Thanks.

[2019-12-30 10:10] hacksparrow commented on #558
@hanyuzhou2006 can you share a basic app which reproduces this behavior?

[2020-01-03 01:25] hanyuzhou2006 commented on #558
https://github.com/hanyuzhou2006/test-loopback-connector-mongodb

![image](https://user-images.githubusercontent.com/9476099/71702522-e123ec80-2e0a-11ea-8cb8-043fa844e888.png)

[2020-01-06 06:39] hacksparrow commented on #558
Thanks @hanyuzhou2006. `TestModel.find()` is causing the second trigger, investigating.

[2020-01-06 06:47] hacksparrow commented on #558
In the meantime, you can do:

[code]

[2020-01-06 07:09] hacksparrow commented on #558
Ok, so the second event is caused by `TestModel.find()` triggering a connect function while a connection process is already happening.

In real-world uses cases model method are triggered by events, so you won't face this problem. Even  setting a delay of 100 ms to `TestModel.find()` prevents the second event.

[code]
Having said that, use `mongodbSource.once('connected' ...` instead of `mongodbSo

[2020-01-06 07:09] #558 closed

[2020-01-06 10:28] pookdeveloper commented on #268
I have the same error with mysql:
my dependecies in package.json
[code]

[2020-01-07 02:19] hanyuzhou2006 commented on #558
@hacksparrow
I think the above usage is more common in object-oriented programming. As a DataSource object, it itself needs to maintain the state of its instance, rather than relying on external calls.
I think the implementation of loopback connectors may follow such rules.
Simple, fast and less usage.

[2020-01-08 07:27] hanyuzhou2006 opened #559 "with GeoPoint crash"
## Steps to reproduce

when i use GeoPoint type and the database exsists an incorrect  data , it will make a crash.

## Current Behavior

[code]
this data is ok
[code]
but when the test2 data in mongodb, i will get a crash

## Expected Behavior

get a data with original object, but not crash

Or get an error

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Repo

[2020-01-09 02:46] dhmlau commented on #559
@hanyuzhou2006, could you please provide a sample application that can reproduce the problem? Also, could you please provide the LoopBack and `loopback-connector-mongodb` versions? Simply run `npm ls --depth=0` would do. Thanks!

[2020-01-09 02:59] dhmlau commented on #559
@hacksparrow, when there's more info, could you please help with this? Thanks.

[2020-01-10 02:29] hanyuzhou2006 commented on #559
i only use loopback-connector-mongodb@^4.2.0 and loopback-datasource-juggler@^4.7.0。In correct usage(the mongodb datas is correct) it worked well。But when datas was unexpected, it crashed.

[2020-01-10 12:48] hacksparrow commented on #559
@hanyuzhou2006 please share a minimal app reproducing this bug.

[2020-01-14 01:35] dhmlau commented on #557
@dkrantsberg, did the comments from @emonddr resolve your issue? If yes, please close this issue. Thanks.

[2020-01-15 22:56] dkrantsberg commented on #557
@dhmlau No, wrapping the call to the ping() function in an async function doesn't make any difference. The behavior is still the same:

-  After mongo container stopped the first call to **db.ping()** never returns (neither resolves nor rejects).
-  After some however (maybe ~30 seconds) subsequent calls to **db.ping()** get rejected fast with '**pool destroyed**' error
-  Even after mongo is brou

[2020-01-15 23:30] raymondfeng commented on #557
@dkrantsberg Have you tried to tune the datasource setting for `reconnect` per https://mongodb.github.io/node-mongodb-native/3.5/reference/connecting/connection-settings/?

[2020-01-23 07:57] RunnableWeb commented on #357
@joneldiablo use **inq** operator instead of **in** - this is a loopback specific

[2020-02-07 20:23] #537 closed

[2020-02-07 20:47] dhmlau commented on #545
There's an open PR #550. Reopening this issue.

[2020-02-07 22:24] dhmlau commented on #552
I'm closing this issue since @arukris-cdw has verified that it's working in a LB standalone application. Closing as resolved.

[2020-02-07 22:24] #552 closed

[2020-02-08 07:42] mrbatista commented on #545
@dhmlau related (merged) PR #560

[2020-02-10 18:34] dhmlau commented on #557
Closing due to inactivity. Please create a new issue if you are still running into problems.

[2020-02-10 18:34] #557 closed

[2020-02-12 18:24] fhsakai commented on #532
Dear @hacksparrow,
That issue is closed, but is there any plan to correct it?
Should I open a new one?
To allow to use the mongoDB operator without duplicate the $

until the release v3.9.2 we have in the buildWhere a step to clean $ from the operator before the handler
if (spec.charAt(0) === '$') spec = spec.substr(1);  ( v3.9.2)
but it's since v4.0.0

[2020-02-14 14:42] #555 closed

[2020-02-14 16:42] #556 closed

[2020-02-14 19:44] dhmlau commented on #545
Thanks @mrbatista. Closing this issue as done.

[2020-02-14 19:44] #545 closed

[2020-02-15 22:51] jgwinner commented on #331
This really isn't fixed until the docs are changed, as well as in the CLI code generator (which generates unworking code).

Very frustrating.

Sorry to reopen, just ran into this while doing a small test case app.

[2020-02-15 23:08] jgwinner commented on #331
Can I fix it?

[2020-02-17 10:26] hacksparrow commented on #532
Re-opened. @fhsakai

[2020-02-17 14:23] dhmlau commented on #532
@agnes512, could you please take a look at this? Thanks.

[2020-03-02 00:25] paeolo opened #564 "Would it be possible to handle default values in the auto-update script?"
## Suggestion

Would it be possible to handle default values in the auto-update script ? By this I mean if a model property is required and has a default value, for instance,

@property({ type: 'string', required: true, default: 'foo' }) bar: string;

Then the autoupdate function could add the default value when it's missing from a model object in the DB.

I'm really confused about how values with

[2020-03-05 07:42] raginisahu opened #565 "may i use in filter on array field ?"

[2020-03-05 15:50] #540 closed

[2020-03-06 19:13] emonddr commented on #565
@raginisahu , please provide a full example of what you are asking.
Thank you :)

[2020-03-12 14:35] paeolo commented on #564
For anyone interested, I added this behavior in my migrate.ts.
-> https://github.com/DimitriTuaz/radio-didou/blob/dev/server/src/migrate.ts

[2020-03-13 12:03] agnes512 commented on #564
Setting aside handling the default value by auto-update, there are some discussions about `default` and `required` in https://github.com/strongloop/loopback-next/issues/3058#issuecomment-576542708.

[2020-03-18 18:33] emonddr commented on #565
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-18 18:33] #565 closed

[2020-03-18 18:38] #564 closed

[2020-03-18 18:38] emonddr commented on #564
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-26 03:22] #559 closed

[2020-04-15 16:38] TranDinhKhang commented on #489
Hello, will we have an official release of this?

[2020-04-30 19:03] apparentvisuals opened #570 "fields filter can not be used if mongoDB model defines columnName/fieldName"
## Steps to reproduce

1. Using MongoDB connector defined a model with a property such as:
[code]
2. Find using filter { fields: { aValue: true }}

## Current Behavior

when using filter.fields.aValue = true the result is missing

## Expected Behavior

should return the value

## Link to reproduction sandbox

No re-production sandbox however the bug is in loopback-connector-mongodb/lib/mongodb.js

[2020-05-01 17:32] agnes512 commented on #570
@apparentvisuals I reproduced it. Thanks for reporting the bug. I also checked MySQL, seems like the issue only exists in Mongo connector. I will do some investigation.

[2020-05-08 07:45] mitsos1os commented on #570
@agnes512 if you don't mind I can help since I have worked on this code!
@apparentvisuals you are right. You are right about the function taking as input an array when expecting an object.

I would also advise you to look at the preparation of the inputs for this function [here](https://github.com/strongloop/loopback-connector-mongodb/blob/6c946d1278dbc4b0ea106127bbe793997157d46d/lib/mongodb.js#L1

[2020-05-08 11:26] apparentvisuals commented on #570
@mitsos1os I figured there were path where this function does indeed receive an object, which I see in fromDatabase does so as the data from mongo is an object.

My quick fix was to allow both input types and perform an array check on the data input inside the function and produce the right output accordingly. This fixed the problem and didn't break any query behaviour.

@agnes512 I wasn't sure if

[2020-05-08 12:03] mitsos1os commented on #570
@apparentvisuals No matter what since this is a bug, I believe it would be cool if you submitted a PR to fix it!

As for the approach I believe `convertColumnNames` should keep receiving objects. You should make sure it does so by converting the data before it gets passed into it. In our case this is already done a couple lines below where I pointed out, so I would suggest the change to go there.

[2020-05-08 15:33] agnes512 commented on #570
@apparentvisuals @mitsos1os thank you two! And yes I think it's something related to the type, but I haven't taken a closer look at it yet. It'd be good to see a PR. I'd love to review it 👍

[2020-05-11 10:56] sigalor opened #572 "Update mongodb dependency to fix warnings with NodeJS 14"
After having updated to NodeJS 14.2.0, I noted the following warnings when starting my Loopback application:

[code]

This issue originates from the `mongodb` NPM dependency. It is exactly the same issue as the one described in [this MongoDB forum entry](https://developer.mongodb.com/community/forums/t/warning-accessing-non-existent-property-count-of-module-exports-inside-circular-dependency/3183)

[2020-05-19 18:00] radsal opened #573 "Applying filter for type Array field"
## Steps to reproduce

Create a model with property type array:
e.g:
[code]
Insert some records.
Try to filter the record: {where: { propertyKey: "somevalue"}}

## Current Behavior

It doesn't return any records for the filter.
However, using `loopback-connector-mongodb@5.2.3` package returns the desired response.

## Expected Behavior

It should return matching records.

## Link to reproduction s

[2020-05-25 18:17] xephiah opened #574 "Updating a model with renamed columns, makes non-provided fields to end up with 'null' value"
## Steps to reproduce
Create a model like:
[code]
and another model with renamed column:
[code]
Let's create one instance:
[code]

now by calling:
[code]
we expect for partial updates to be resulted in:
[code]
but we end up with this result:
[code]
(To fail a test that covers this scenario you can add below assertion in 'mongodb.test.js'):
`founduser[0].email.should.be.equal('simon@strongloop');`

[2020-05-26 10:36] wangsenyan opened #575 "add transaction support"
## Suggestion
almost prototype function's use execute function, just add session in options and make a little bit change can support mongodb transaction, see below:

## Examples
mongodb.js
[code]

then use like:
[code]
else,if no session,it can be used normal

of course, begainTransaction ,rollback, commit will support with loopback-datasoures-juggler , loopback-connector

thanks for reading

[2020-05-30 00:27] dhmlau commented on #575
@wangsenyan, are you interested to submit a PR? Thanks.

[2020-06-03 06:06] chunkbro commented on #134
I was facing this issue in Loopback 4. I had to remove the openApi spec that uses json schema generated from the model, to get it working.

[2020-06-05 15:52] jgutix opened #577 "Support for `$meta: 'textScore'`"
## Suggestion
I assume `$meta: 'textScore'` is not supported, so far I tried the following:
[code]
Mostly what stop the implementation here is the type constraint on fields and order filters.

As a workaround I had to access directly to the mongodb's driver as shown here: https://gist.github.com/jgutix/71cbb8a9f5946ecd57328862154e3c15

## Use Cases
Most of the time will go hand on hand with the us

[2020-06-09 06:12] deeeed commented on #532
This error is applicable to all operators "$lt" "$gte" etc... Please fix.

[2020-06-09 13:06] Jonibigoud opened #579 "$geowithin filter support"
## Suggestion

Could mongodb $geowithin filter  be implemented?

## Use Cases

$geowithin helps find points into polygons or multipolygons:
[https://docs.mongodb.com/manual/reference/operator/query/geoWithin/#op._S_geoWithin](url)

## Example

const polygon = { type:"Feature", geometry: { type: "Polygon", coordinates:[ some coordinates] } }
const locations = MyModel.find({geometry: {geoWithin: { $

[2020-06-09 20:08] agnes512 commented on #532
For everyone who's watching is issue:
- for MongoDB supported **update operators**:
  - `$currentDate`, `$inc`, `$max`, `$min`, `$mul`, `$rename`, `$setOnInsert`, `$set`, `$unset`
  - `$addToSet`, `$pop`, `$pullAll`, `$pull`, `$push`
  - `$bit`
They work with `"^5.0.0"` as well. To enable these operators, please indicate `allowExtendedOperators: true` in your `datasource` configuration or the mode

[2020-06-23 23:32] rporta commented on #540
thank you very much for working on this error add this line in my package.json. I can now use useUnifiedTopology. Seriously thank you very much, I was about to upload a fix to my private repository. I save myself a lot of headaches

line: "loopback-connector-mongodb": "git + https: //github.com/strongloop/loopback-connector-mongodb.git#v5.1.0"

[2020-06-25 01:31] jsw commented on #538
@alidavid0418 Did you get it to work? I'm trying to determine if this connector is expected to work with DocumentDB.

[2020-06-25 02:16] rporta commented on #538
Yes, but in my case the error was that the `useUnifiedTopology` option was
not available in version" loopback-connector-mongodb # ^ 4.2.0 ".
I solved it by adding this dependency in package.json

"loopback-connector-mongodb: git + https: //
github.com/strongloop/loopback-connector-mongodb.git#v5.1.0",

Hope you can solve it

El mié., 24 de jun. de 2020 a la(s) 22:31, Jeff White (
notifications@git

[2020-07-02 08:24] Jonibigoud commented on #579
Could someone tell me how i could use the $geowithin filter in my API?

[2020-07-03 12:37] gabjauf opened #583 "Multiple where filters on one property are ignored"
Hello Loopback team!!
Just found an example on this page about querying data with multiple filters:
https://loopback.io/doc/en/lb3/Querying-data.html
`filter(data, {where: {input: {gt: userInput.min, lt: userInput.max}}})`

But tried it on my local LB3 app and could not make it work, it seems to take only the first argument (aka "gt").

Would be awesome to get it to work as it simplifies queries a

[2020-07-03 12:41] gabjauf commented on #583
[users.json.zip](https://github.com/strongloop/loopback-connector-mongodb/files/4869727/users.json.zip)
The created users to import in mongodb, so you can try quickly

[2020-07-10 18:15] #532 closed

[2020-07-10 19:54] agnes512 commented on #583
Related issue: https://github.com/strongloop/loopback-next/issues/5244

[2020-07-11 02:37] fedebaier commented on #572
Ping

[2020-07-13 10:21] Limpidius-Fred opened #587 "Property.array(ObjectId)"
## Steps to reproduce

[code]

## Current Behavior

relatedIds writes strings[] into MongoDb

## Expected Behavior

relatedIds should write ObjectId[] into MongoDb

## Additional information

This looks like correcting the problem (mongodb.js#36, function ObjectId):
[code]

[2020-07-14 11:05] wangsenyan commented on #575
Well,now it's work well in my project ,but it's not match with the loopback's design pattern,but i will try my best to fix it,thanks.
other,forgive my english

[2020-07-15 10:18] gabjauf commented on #583
Hello 😸
Any update on this?
Did you get any opportunity to reproduce it?

[2020-07-18 03:12] wangsenyan commented on #583
use like:
{ "where": {"and":[{"username":{"neq":"ae"}},{"username":{"like":"a"}}]} , "fields": ["username"]}

[2020-07-24 09:27] mrbatista commented on #579
@Jonibigoud

[code]

[2020-08-04 18:21] agnes512 commented on #583
Sorry for the late reply. I hadn't found time to investigate it. I quickly checked it and can reproduce the issue. As @wangsenyan suggested, the following would work:
[code]

And you're right, the issue is causing by how we build the query ([related code](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L994)). That's why only the first operator gets applied. The

[2020-08-04 18:34] agnes512 commented on #583
If you happen to have any proposal, feel free to submit a PR and ping me! Thanks!

[2020-08-04 19:54] agnes512 commented on #577
We're working on `Repository.execute` method that allows raw queries, see https://github.com/strongloop/loopback-next/issues/3342. I think once it is implemented, it would be a good workaround.

[2020-08-04 20:07] agnes512 commented on #587
I think this is fixed in https://github.com/strongloop/loopback-connector-mongodb/pull/582 and released in version 5.3.0. Thanks.

[2020-08-04 20:07] #587 closed

[2020-08-04 20:08] agnes512 commented on #587
Similar issue: https://github.com/strongloop/loopback-next/issues/5848

[2020-08-05 14:42] gabjauf commented on #583
Hello,

Thanks for the reply, I started working on something here => https://github.com/gabjauf/loopback-connector-mongodb
But I just found that the issue comes also from the juggler in the coerce function => https://github.com/strongloop/loopback-datasource-juggler/blob/2f867576b66fe535aa1f82bceaaa680ecd4eec6c/lib/model-utils.js#L362

Trying to find some bandwidth too haha 😄

[2020-08-08 10:06] #574 closed

[2020-08-11 10:11] melGO44 commented on #489
Any update or workaround for this in loopback 4 ?

[2020-08-11 15:15] melGO44 opened #590 "Mongodb Transactions in Loopback 4"
Hello, guys, I wrote some codes to resolve this problem temporarily
[code]
The usage as following:
[code]

_Originally posted by @melochale in https://github.com/strongloop/loopback-connector-mongodb/issues/489#issuecomment-465848696_

Would this work for mongodb transactions in loopback 4 since the connectors are same? Is there any way to do transactions with mongodb in loopback 4

[2020-08-13 22:57] peeyush-es commented on #556
Don't put special character in your password, if you are using old mongodb

[2020-08-18 21:27] jamesjjk opened #593 "UpsertWithWhere with collection().update operation"
## Suggestion

Why not support upsertWithWhere with an update operation and ```upsert: true``` option set

## Use Cases

Atomic update or creation of a document when using upsertWithWhere operations in loopback

## Examples

Currently this is not supported by the connector, whilst it likely should be.

[2020-09-02 08:43] mrbatista commented on #593
@jamesjjk see #563

[2020-09-02 08:47] jamesjjk commented on #593
@mrbatista

Appreciated but I don't understand why this would have to be a transactional operation? Isn't that a bit overkill, considering mongoDB supports: "findAndModify" operation with "new" and "upsert" options that would atomically update OR insert the document and return the updated or inserted document?

https://docs.mongodb.com/manual/reference/method/db.collection.findAndModify/#db.collec

[2020-09-11 05:58] haresh333 opened #597 "Recommend stable version to use with Loopback 3 and MongoDB 3.6"
Hi
I am using Loopback 3.x and Mongo DB 3.6 in my application.
Currently I have loopback-connector-mongodb": "^3.4.4"

I cannot upgrade Loopback and MongoDB right now.

Please advice what stable version of connector I should upgrade to in order to ensure connecter ruggedness and stability.

[2020-09-21 13:06] hacksparrow opened #598 "ObjectID string interface"
All model properties defined as `{type: String, mongodb: {dataType: 'objectID'}` should be stored as `ObjectID` in the database but provide a string interface in the connector APIs. Meaning, string version of the `ObjectID` will be used in queries and results, `ObjectID` will not be directly exposed to users.

Any property not defined as `{type: String, mongodb: {dataType: 'objectID'}` will no be

[2020-09-21 13:12] hacksparrow opened #599 "SPIKE: Connector level model validation"
Follow up of https://github.com/strongloop/loopback-next/issues/3456.

Find out what it takes to implement model validation at the connector level. We may eventually do it for other connectors as well.

## Acceptance criteria

- [ ] Make a note of any unexpected challenges
- [ ] Develop a general direction about how we want to go with the implementation
- [ ] Create follow up task(s)

[2020-09-22 10:39] #572 closed

[2020-09-25 06:34] bajtos commented on #598
Important: we already have a similar implementation in place for `Decimal128` type. Going forward, we should have a single unified solution for dealing with string-based data-types (`ObjectID`, `Decimal128`), to ensure consistent handling of edge cases like nested properties in anonymous models, nested array items, etc.

[2020-09-25 07:41] hacksparrow commented on #598
Yes, in the proposed approach `ObjectID` and `Decimal128` coercion happen in the same block. It can be further optimized.

[2020-09-25 07:54] hacksparrow opened #600 "Remove MongoDB.prototype.getDefaultIdType"
Follow up of https://github.com/strongloop/loopback-next/issues/3456.

As a precursor to https://github.com/strongloop/loopback-connector-mongodb/issues/598, remove `MongoDB.prototype.getDefaultIdType`.

Tips: Consider return string instead of removing it which causes confusion. Add comments explain why we return string in mongodb connector.
- [ ] Update the function.
- [ ] Update and fix tests as

[2020-10-05 16:00] jannyHou commented on #599
Discussion within team:
- We may need more details about the user scenarios and why need connector level validation
- What would be the technique  burden for developers
- It will introduce new responsibility for connector developers

[2020-10-17 23:40] agnes512 commented on #577
See https://loopback.io/doc/en/lb4/Executing-database-commands.html

[2020-10-20 23:47] dhmlau commented on #597
@haresh333, sorry about the late reply. Let me put the question the other way round. What problem are you seeing with the latest version of this connector and the mongodb version? Thanks.

[2020-11-16 14:14] FMGordillo opened #603 "Support for Timestamps Model option"
## Suggestion

A similar feature to [the mongoose one](https://mongoosejs.com/docs/guide.html#timestamps)

## Use Cases

Avoid manual manipulation of `createdAt` and `updatedAt`

## Examples

[code]

## Acceptance criteria

[2020-11-19 02:37] dhmlau commented on #603
@raymondfeng @bajtos, do you think this would be better to be implemented as an extension? Thanks.

[2020-11-24 04:53] joewstroman opened #604 "Custom field name doesn't work on property that is an array of a custom object / model"
Hello all,
I'm new to loopback but I think I may have found a bug. I have a document that has a list of other documents inside of it. With the strict option enabled the only fields that show up in the nested documents are those that match the property names exactly.

## Steps to reproduce

Shopping Cart
[code]

## Current Behavior

The fieldname property does not work in the array of `Item` Elemen

[2020-11-25 04:55] joewstroman commented on #604
Figured it out, item type had to be object.

Note to self: Read the docs carefully

[2020-11-25 05:20] joewstroman commented on #604
I changed the `items` property definition to

[code]

which is provided in some of the documentation but also doesn't work.

[2020-11-25 20:09] joewstroman commented on #604
I added this:

https://github.com/joewstroman/loopback-connector-mongodb/commit/06b2c235800ee87c80b65a6fadc5891221fad20d

and used the property decorator like so:

[code]

and that made things work as expected.

[2020-11-26 15:34] bajtos commented on #603
Closing as a duplicate of https://github.com/strongloop/loopback-next/issues/1857: _Support auto-updated model properties "createdAt" and "updateAt"_

[2020-11-26 15:34] #603 closed

[2020-12-01 15:49] jamesjjk opened #608 "Models defined with id property and defaultFn fail in version 5.5.0"
## Steps to reproduce

Define an ID property with a defaultFn such as shortId

[code]

## Current Behavior

ShortId is no longer automatically generated on an Model.upsertWithWhere call. Validation will fail if the id property is required.

## Expected Behavior

ShortId should be automatically generated on an Model.upsertWithWhere call. Validation must pass as the ID should ideally already exist

[2020-12-01 15:58] dhmlau commented on #608
@hacksparrow, could you please take a look? Thanks.

[2020-12-01 16:27] jannyHou commented on #608
Hey @jamesjjk is `created` method also affected? Or only `upsertWithWhere`?

[2020-12-01 16:40] dhmlau commented on #590
Closing as duplicate of #575

[2020-12-01 16:44] jamesjjk commented on #608
@jannyHou I cannot verify this at this moment in time, assuming that upsertWithWhere is not atomic in release v5.5.0, then created would be effected too.

[2020-12-04 15:51] dhmlau commented on #597
Closing due to inactivity.

[2020-12-04 15:51] #597 closed

[2020-12-07 21:23] jannyHou commented on #608
@jamesjjk @bajtos I did some investigation with PR [juggler#1884](https://github.com/strongloop/loopback-datasource-juggler/pull/1884) and https://github.com/strongloop/loopback-connector-mongodb/pull/609, am afraid with the atomic `upsertWithWhere` fully implemented and controlled by mongodb connector, you have to call `find` then `create` to apply loopback level's default functions. Here is the

[2020-12-07 21:38] jannyHou commented on #608
Sorry that I didn't realize it's a breaking change when review the PR. A solution I could think of is, introducing an option flag to disable the atomic upsertWithWhere, e.g. `Todo.upsertWithWhere(where, data, {disableAtomic})`, to make it fall back to the previous behaviour, then document this. WDYT?

[2020-12-10 00:51] jannyHou commented on #608
cc @mrbatista You may also want to join the discussion :)

[2020-12-10 17:05] bajtos commented on #608
I checked MongoDB's documentation for `findOneOrCreate` [here](https://docs.mongodb.com/manual/reference/method/db.collection.findOneAndUpdate/) and AFAICT, there is no way how to specify values to apply to new records only (i.e. the default values).

I think that means our users have two options:
1. Use the current atomic implementation but don't have default values applied
2. Use the previous fi

[2020-12-10 17:13] jamesjjk commented on #608
@bajtos thoughts from a users perspective:

I think you are referring to findOneAndUpdate: https://docs.mongodb.com/manual/reference/method/db.collection.findOneAndUpdate/ ?

However would it not be great to be able to inject the defaults using setOnInsert https://docs.mongodb.com/manual/reference/operator/update/setOnInsert/index.html incase of an upsert case (i.e. upsert: true?

This way you mai

[2020-12-11 10:18] bajtos commented on #608
Thank you @jamesjjk for the comment. I am not familiar with MongoDB, so I was not aware there is `setOnInsert` operator. If this operator can be used together with `findOneAndUpdate`, then I agree with you that our connector should leverage that mechanism to provide fully atomic operations with defaults.

Would you like to submit a pull request to contribute that change? Here is the code building

[2020-12-16 17:58] agnes512 commented on #604
I am able to create array property with both definitions:
[code]

Glad to see that the second one works for you.

[2020-12-25 13:14] #579 closed

[2021-01-11 07:11] nflaig opened #610 "db name is always admin if url is used without db"
## Steps to reproduce

- Set `url` parameter in connection properties to `mongodb://localhost:27017`
- Set `database` parameter to `mydb`

## Current Behavior

It will use `admin` as database

## Expected Behavior

It should use `mydb` as database

## Additional information

In the connector it checks if the `dbName` is in the url ([mongodb.js#L338](https://github.com/strongloop/loopback-connector

[2021-01-11 14:38] hgeldenhuys opened #611 "Long Camel-Case keys are being converted to .-notated keys and breaks"
## Steps to reproduce

Save a document with init-case. For example: {"projectControllerCreate": {"newProjectInput": {}}}

## Current Behavior

When saving a document that has camel-case gets converted to a .-notation key for some reason.

**projectControllerCreate** becomes **ProjectController.create** and the following error is reported:
```Request PATCH ${URI} failed with status code 500. Error:

[2021-01-12 03:16] dhmlau commented on #610
@nflaig, it sounds like a bug. Would you be interested to submit a PR?

[2021-01-12 07:14] nflaig commented on #610
@dhmlau sure I can look into it