[2013-12-18 15:42] jswartwood opened #12 "Connector fails to find models with ids of type Number"
When attempting to set the id type to be Number, the `MyModel.find` method fails to find by id.

Try configuration:

[code]

I have noticed that the objects will be saved in MongoDB with an `_id` of type number (not String or ObjectID).

[2014-01-27 21:55] #12 closed, assigned to nobody

[2014-02-04 16:30] seanbrookes opened #14 "Mod on _id not allowed when trying to update my model in mongdb"
I'm unable to update an existing document in my mongodb. From what I have been able to read about so far it looks like a conflict between mongodb storing _id as an object conflicting with me passing a string value but I'm not sure how to change that.  Should I have an explicit '_id' property in my model definition?

I have tried: Event.upsert, Event.updateOrCreate, and Event.save and they all fail

[2014-02-05 19:57] #14 closed, assigned to nobody

[2014-02-14 07:27] NikhileshKshirsagar opened #16 "id string converted to large number after save"
Few ids are converted to hex numbers when saved to mongodb.

The id "line-by-line" is interpreted as ObjectId("6c696e652d62792d6c696e65") in mongo and
for id "line-stream" the mongo id is "line-stream"

[2014-02-17 14:46] #16 closed, assigned to nobody

[2014-03-03 23:19] arvingopi opened #21 "Issue with Array format while using MongoDB connector using REST API"
ISSUE is how result of type array is inserted. See the value of result under "2. What was inserted finally." to understand the issue.
1. My input:
   { "cvsName" : "cvs_OrderVolume_StrongLoopTry",
   "database" : "pst",
   "description" : "Orders Previous Year to Date by Month",
   "detailedDescription" : "",
   "displayRank" : 89,
   "graphTitle" : "Previous Year to Date",
   "graphType" : "line"

[2014-03-03 23:42] #21 closed, assigned to nobody

[2014-04-01 16:56] raymondfeng opened #23 "Data conversion for properties of type Buffer"
For a model as follows:

[code]
1. When the ‘employee’ is first created, the response is original object with the returned id from MongoDB.

[code]

The test value is the Buffer.
1. MongoDB stores testValue as Binary:

[code]
1. When the query is run, MongoDB returns testValue as Binary. But it is not converted back to Buffer. And Binary.toJSON() returns the base64 encoded value.

[2014-05-02 04:00] alhazme opened #26 "Can't use logic 'or' in MongoDB query"
Hi, how to use mongodb query with logic 'or' in LoopBack Model? Thanks

[2014-05-02 16:58] #26 closed, assigned to nobody

[2014-05-02 16:59] #23 closed, assigned to nobody

[2014-05-08 13:33] cethal opened #29 "Getting wrong filter result with MongoDB relationship"
Hi,
## I have created a model class using the command .
## slc lb model privileges -i --data-source mongo --connecor mongodb
## Then I have edited the models.json file as shown below.

 "privileges": {
    "options": {
      "relations": {
        "user": {
          "type": "belongsTo",
          "model": "user",
          "foreignKey": "user_id"
        }
      }
    },
    "properties": {

[2014-05-09 10:39] #29 closed, assigned to nobody

[2014-05-14 06:41] cethal opened #31 "Unable to update to MongoDB using "updateAttributes""
Hi,

When trying to update the details to db(mongodb), I am getting error.
------

/Users/username/JavaScriptWorkSpace/myproject/node_modules/loopback-connector-mongodb/node_modules/mongodb/lib/mongodb/connection/base.js:245
        throw message;
              ^
TypeError: Object function ModelConstructor(data, options) {
      if (!(this instanceof ModelConstructor)) {
        return new ModelCo

[2014-06-11 13:28] cethal opened #35 "updateattributes."
Hi,

I am facing issue in updating db using updateattributes.

Getting id related error.
-------
 Orginaluser.prototype.updateAttributes(UserDetail.user_details, function(err, theOrginaluser){

});
-------
/Users/company/JavaScriptWorkSpace/myproject/node_modules/loopback-connector-mongodb/node_modules/mongodb/lib/mongodb/connection/base.js:245
        throw message;
              ^
TypeError: Can

[2014-06-11 14:57] edcoffin opened #36 "Connection closed"
Attempting to grab a large data set from mongodb via REST API [ get : http://localhost:3000/api/someModel ] - should return a roughly 8mb string of JSON. This causes an error in mongodb connection pool, for which I'm not sure why --

[code]

The problem is the node.js server stays responsive, but I can no longer query the mongodb -- there's actually no error posted to the console. Any ideas?

loop

[2014-06-14 04:39] Rikhart opened #39 "How I can run a groupby query, a find distinct too."
which is the properly way to run queries like: GROUP BY , or find DISTINCT documents based on a key in a document's collection through Mongodb connector, also mongodb has $agregation and $mapReduce methods, please help me with this. Thank for answers.

[2014-06-17 13:39] albertoleal opened #40 "What if we use plural field to represent our collection name?"
What do you think to use the plural field to represent our collection name, instead of the model name?

https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L176

thanks

[2014-07-08 17:32] fabien opened #43 "Models with dataSource: memory end up in MongoDB collections"
@raymondfeng seems like a serious bug: any in-code models I explicitly declared as `dataSource: 'memory'` are still being turned into MongoDB collections and items are inserted there instead of memory.

[2014-07-08 19:29] fabien opened #44 "Don't output null values in JSON - don't store NULL values by default"
It's a waste of bandwidth, and non-standard behavior (which probably is the result of BSON handling null, whereas JSON doesn't). Aparently NULL values are indeed inserted into the MongoDB documents.

An option to disable this somehow (on the input as well as output side of things) seems to be in order.

[2014-07-22 18:01] NaqeebSial opened #45 "Mongodb sharding"
How to connect to mongos in mongodb sharding .

[2014-07-28 15:27] #40 closed, assigned to nobody

[2014-08-24 17:05] adamRenny opened #46 "Composite ID component stored in database as _id"
When storing entries into the database using composite IDs, it appears that one of the composite IDs is used as the internal `_id` property.

This is creating an issue with having composite IDs used in a many-to-many relationship manner.

This is accomplished by building a model entity with a foreign key to two other model entities, along with a 3rd ID as its own. It appears to use the first item

[2014-08-27 09:37] bajtos opened #47 "ping never returns on ECONNREFUSED"
When the connection string points to a port where nobody is listening on, the `ping` method never returns. A message is logged instead:

[code]

Test cases (the first one passes, the second one fails):

[code]

See also https://github.com/strongloop/strong-studio/issues/135.

@raymondfeng

[2014-08-28 13:10] willyyr opened #49 "Error when querying mongodb with AND as well as near"
When using a mongo db datasource and trying to query a model by using the and operator it fails when using "near" as well.

Query:
`{"where": {"and": [{"location": {"near": "52.335421, 13.096018"}},{"name": {"like": "aus"}}]}}`

Error:
`"message": "Can't canonicalize query: BadValue not handled: $near",
 "stack": "MongoError: Can't canonicalize query: BadValue not handled: $near\n    at Object.toE

[2014-09-05 14:33] fabien opened #51 "include.test.js not imported (commented out) - fails"
For some reason, the include.test.js is commented out, and it turns out that some of these tests fail.

Also, common.batch.js doesn't run all tests, manipulation.test.js is missing for example (but will run fine when added).

[2014-09-11 09:12] coodoo opened #52 "Why converting string to ObjectId in 'inq' filter?"
I get the idea behind doing so is to allow querying by _id, but the problem it's causing is any string of length 12 or 24 will be converted too, even worser if those strings matches ObjectID format, they will be converted to ObjectID type when they should remain String type.

In short, this kind of "forced" conversion is kind of a surprise and smell like a hack?

[code]

See full code here:
http:/

[2014-09-23 22:38] cnaccio opened #53 "Object Properties in model.json"
I've combed through the documentation, and searched everywhere for an answer to no avail. My question is how would I define the following model in model.json? Specifically how would I define the emails object property? I basically want to create detailed schemas for my MongoDB models to ensure consistent data. Any help is appreciated.

     var Customer = dataSource.createModel('customer', {seq: {

[2014-09-30 08:29] mihail-stanchev opened #55 "Default sort order may impact performance on some queries"
If a sort order is not specified a default one by _id is used. This may impact the performance of some queries where a sort is neither needed nor specified upfront. For example, using model.findOne results in the MongoDB connector calling db.collection.find(query).sort({_id:1}).limit(1)
If the sort part is skipped the result is returned almost immediately using the appropriate indices. However, ha

[2014-10-01 11:03] alexandrusavin opened #56 "How can I use $inc"
If I try to use $inc in the data field of update method I get "The dollar ($) prefixed field '$inc' in '$inc' is not valid for storage.". When I dug deeper I found that the only operation that update method is supporting is "$set" (see mongodb.js:643:43). Am I wrong? Is there no way of incrementing fields using this connector?

[2014-10-02 04:54] sreeroman opened #57 "npm test results in make eror ( even after ensuring mocha is installed.)"
Got the latest build and ran npm test. I am seeing some make errors posted below.

Build error

./node_modules/.bin/mocha -G --timeout 10000 test/*.test.js
/bin/sh: ./node_modules/.bin/mocha: No such file or directory
make: *** [test] Error 127
npm ERR! Test failed.  See above for more details.

[2014-10-07 09:16] bluestaralone opened #58 "I can't use $push in update method ?"
I can't use $push, $addToSet operator in update method ? please help me...

[2014-10-07 17:29] #58 closed, assigned to nobody

[2014-10-31 04:06] kaizhu256 opened #60 "misspelled unique field"
https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L727

[code]

[2014-11-03 20:35] desmondmorris opened #63 "Duplicate Key error when trackChanges is enabled"
With `trackChanges` enabled, I post new content to my model and the server dies shortly after with `MongoError: insertDocument :: caused by :: 11000 E11000 duplicate key error index: mydb.mymodel-change.$_id_  dup key: { : "XXXXXX" }`;  When I restart the server, I get the same error.  Is there a step I am missing after enabling `trachChanges`

Related:
https://github.com/strongloop/loopback/issue

[2014-11-03 21:10] #63 closed, assigned to nobody

[2014-11-03 21:27] EugeneBabushkin opened #64 "Custom collection name for model and base models"
Hello,

Unfortunately, I could not find a single example of how change collection name for models and base models (for example, AccessTokens).

Can you resolve my problem? Thanks.

[2014-11-03 21:37] #64 closed, assigned to nobody

[2014-11-26 14:17] PuKoren opened #69 "$setOnInsert for default model values"
When using default values in a model and creating/upserting a model instance without specifying these values, the mongodb connector stores the document as-is, and does not fetch the default values to use it with $setOnInsert.
http://docs.mongodb.org/manual/reference/operator/update/setOnInsert/#up._S_setOnInsert

Exemple:
My model defined as:
[code]
And using default value for createdAt with:
[cod

[2014-12-15 12:23] pungoyal opened #71 "Config to native mongodb driver"
We should have a way of passing certain config option directly to the underlying native mongodb driver. I am specifically looking for `ReadPreference` config option.

[2014-12-20 16:42] makersu opened #73 "How to save file to gridfs?"
How to save file to gridfs as below for example?
Thank you very much.
[code]

[2014-12-24 12:36] makersu opened #74 "how could I use MongoDB.prototype.buildWhere() function?"
I'd like to use aggregate but I have to convert queries like { "upload_time": {"gt": "2014-12-01T00:00:00.000Z"}} to { "upload_time": {$gt: new Date("2014-12-01T00:00:00.000Z")} for $match.
I found MongoDB.prototype.buildWhere function, how could I use it?
Thank you very much.

[code]

[2014-12-27 08:14] roomond opened #75 "RangeError when querying using 'inq' and 'nin' operators using angular sdk"
Using a mongodb datasource, mongodb connector and angular sdk, queries using 'inq' and 'nin' fail with a RangeError message. Queries without these filters work fine. An example query:

<code>MyModel.find({ filter: { where: { myField: { inq: ['val1', 'val2', 'val3']}}}}).$promise</code>

Fails with the error message:

<code>{"error": {"name":"RangeError", "status":500,"message":"attempt to write ou

[2015-01-07 14:45] gologo13 commented on #60
this issue should be closed because #61 has already been merged.

[2015-01-07 14:47] kaizhu256 commented on #60
k

[2015-01-07 14:47] #60 closed

[2015-01-13 10:27] pungoyal opened #76 "Upgrade to mongodb driver v2.x"
Upgrade to the latest node-mongodb-native version (2+)

[2015-01-13 21:31] raymondfeng commented on #76
See #77

[2015-01-15 08:01] nkgupta1989 opened #78 "how to use write concern"
Hi, This is how i am defining my mongo connection details:- in my loopback config file,
My mongo is a replica set.

"mongo": {
      "connector": "mongodb",
      "url": "mongodb://90.40.26.46,90.40.26.47/ugc-prod?readPreference=secondary"
},

Now I want to add the "write concern" true here, can anyone help me how to accomplish that?

[2015-01-16 08:15] bajtos commented on #47
This has been fixed by https://github.com/strongloop/loopback-connector-mongodb/pull/48

[2015-01-16 08:15] #47 closed

[2015-01-16 10:30] doublemarked opened #79 "1.5.0 breaking JSON Schema documents"
The upgrade from 1.4.5 -> 1.5.0 prevents the creation of models that include JSON Schema documents that contain an embedded ``$ref``. For example (simplified),

[code]
Attempting to create a Model with such a property included produces the error:
[code]

Is this something wrong with loopback-connector-mongodb? Is it produced by a deprecation in the mongo 2.0 driver?

[2015-01-23 20:40] crandmck opened #80 "Document new MongoDB update operators"
#70 adds '$inc', '$max', '$min', '$mul', '$rename', '$setOnInsert', '$set', '$unset' operators. It falls back to $set if no operator is used.

See also #72

[2015-01-23 22:49] Jeff-Lewis opened #81 "Cannot read property value of null"
[On line 382 of mongodb.js](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L382), `result` could be null if err is returned in callback from mongodb.

[code]

[2015-01-23 22:50] Jeff-Lewis opened #82 "v1.6.0 causes MongoException in UpdateOrCreate/findAndModify"
I upgraded to loopback-connector-mongodb `1.6.0` and I am getting the following error after calling `updateOrCreate` several times on the same doc object. I do not get this error if I revert only loopback-connector-mongodb back to `1.4.5`.  We're using mongo version 2.6.7.

[code]

I don't have an isolated reproducible case yet as that would take me a full day most likely, but I wanted to post it

[2015-01-23 23:24] raymondfeng commented on #82
@Jeff-Lewis Thank you for reporting the issue. It might be related to https://github.com/strongloop/loopback-connector-mongodb/pull/77.

[2015-01-23 23:29] raymondfeng commented on #81
Fixed by https://github.com/strongloop/loopback-connector-mongodb/commit/26e99a8b5e783672c3455b5633e63cc83d78f0e3

[2015-01-23 23:29] #81 closed

[2015-01-23 23:34] raymondfeng commented on #79
See http://docs.mongodb.org/manual/faq/developers/#faq-dollar-sign-escaping. It might be related to the mongodb driver upgrade.

[2015-01-23 23:35] raymondfeng commented on #78
Write concern can be specified as part of the `url` per http://docs.mongodb.org/manual/reference/connection-string/

[2015-01-23 23:35] #78 closed

[2015-01-23 23:36] #76 closed

[2015-01-23 23:37] raymondfeng commented on #71
Use the `url` property per http://docs.mongodb.org/manual/reference/connection-string/

[2015-01-23 23:37] #71 closed

[2015-01-25 13:27] alexandrusavin commented on #56
@cpentra1 @jbbr this feature is in master now. To use you have to configure your ața source to enable extended operators (extendedOperators: true).

[2015-01-26 16:15] doublemarked commented on #79
I see. Very interesting. It's a bit surprising to me that it's requiring escaping of normal JSON data.

@raymondfeng - in your opinion, does this sort of escaping belong in library code (like ``loopback-connector-mongodb``) or does belong in the codebase that is consuming the data (such as my API)?

[2015-01-26 16:27] raymondfeng commented on #79
@doublemarked I suggest you open an issue against the mongodb driver as it's a behavior change from 1.x to 2.x in the driver.

[2015-01-26 16:29] doublemarked commented on #79
Ok, thank you for your feedback.

[2015-01-26 16:29] #79 closed

[2015-01-27 22:22] Terekhov opened #83 "'order' field added to query object in MongoDB.prototype.all and never removed"
This causes all of my queries with (for example) `updateAll` to fail.

For example...
[code]
If the filter parameter passed into the `all` method is `{ "username" : "Terekhov" }`, then by the time it gets to
[code]
...the object looks like this:
[code]

My solution was to replace the use of `filter.order` with a `tempOrder` variable, like so:

[code]

However, it's entirely possible I just don't u

[2015-01-27 22:23] Terekhov opened #84 "'order' field added to query object in MongoDB.prototype.all and never removed"
This causes all of my queries with `updateAll` (I suspect not the only method affected) to fail.

For example...
[code]
If the filter parameter passed into the `all` method is `{ "username" : "Terekhov" }`, then by the time it gets to
[code]
...the `where` object looks like this:
[code]

My solution was to replace the use of `filter.order` with a `tempOrder` variable, like so:

[code]

However, it

[2015-01-27 22:24] Terekhov commented on #83
Duplicate.

[2015-01-27 22:24] #83 closed

[2015-02-03 11:24] bajtos opened #87 "Property value `undefined` is converted to `null`"
When a model property defined in the model schema with the value `undefined` is persisted to MongoDB, the value is converted to `null`.

This is inconsistent with other connectors like MySQL, as they preserve `undefined` property values as `undefined.

The fix will IMO break backwards compatibility, thus it will need a new major version.

Test cases for `test/mongodb.test.js` to reproduce the prob

[2015-02-03 17:13] bajtos commented on #87
@raymondfeng thanks, I'll take a look. Do you agree it is a breaking change? Or is it only a bug in DAO's `create` implementation?

[2015-02-03 17:16] raymondfeng commented on #87
I feel it's a bug in the DAO's `create` implementation. It's only exposed by the mongodb driver that coerces `undefined` to `null` if present.

[2015-02-03 20:10] beat84 opened #90 "Boolean fields always true sent to POST via REST"
Hi there,
I made a POST call to rest with jQuery like this:

[code]

but when I go through my DB the isFree field is set to `true`.

Here's my model:

[code]

Here the validation of the model in player.js:

[code]

Here the final result my DB mongo:

[code]

I think this could be a bug in mongo connector.
Anyone with this issue?

[2015-02-03 21:14] raymondfeng commented on #90
In your case, the `isFree` should have a `boolean` type instead of `number`. Please try with the following model def:
[code]

[2015-02-03 21:24] beat84 commented on #90
Sorry about that, I edited the code with number to make it work, and I left it in question.
It was Boolean obviously, I'm going to fix the question.

[2015-02-03 21:54] raymondfeng commented on #90
Can you capture the http request payload from your browser? I wants to make sure that the JSON object received by LoopBack is complying.

[2015-02-04 08:58] beat84 commented on #90
Here's the shots of the http request by developer tools in Chrome:

![chrome_dev_tools](https://cloud.githubusercontent.com/assets/869696/6037479/4dfcf2f4-ac54-11e4-8164-9648b314ab3d.png)
![chrome_dev_tools2](https://cloud.githubusercontent.com/assets/869696/6037487/51236fc6-ac54-11e4-88fa-43fe6c5fc3a1.png)

and here's the response:

[code]

[2015-02-04 16:38] raymondfeng commented on #90
Oh, the request was sent in `application/x-www-form-urlencoded` content type. In that case, the value of `isFree` might be captured as `"false"` and `"false"` is NOT falsy in JS. Can you try `application/json` while we try to find out the root cause?

[2015-02-04 17:38] beat84 commented on #90
Forcing the content type and using JSON.stringify for the object, it works properly.
Could be useful to have the possibility to translate the data server-side (I mean, the classical use of jQuery $.post with "json" as parameter)?
What do you think?

Thanks for the hint! ;)

[2015-02-04 18:11] #87 closed

[2015-02-07 21:20] istinspring opened #93 "Loopback models and "date" property type issue."
Hi massive, i'm pretty new in nodejs, so probably i just missed something.

There is model defined:

[code]

I use AngularJS on front end to save record into mongo:

[code]

And i want to save current time into database (like default=datetime.utcnow in SQLAlchemy) so a added this hook into model:

[code]

Date.now or Timestamp it does not matter, in both cases see:

[code]

It's not a dates it's j

[2015-02-07 21:24] istinspring commented on #93
https://github.com/strongloop/loopback-connector-mongodb/issues/69

there is similar question but no one respond.

[2015-02-07 21:26] raymondfeng commented on #93
You should configure the default to a function that returns new Date() instead of Date.now(). The later is a number.

[2015-02-07 21:34] istinspring commented on #93
Thank you! It works.

[code]

[2015-02-08 11:22] miu-zsolt commented on #81
I have a similar issue. Could you please help me?

[code]

[2015-02-08 18:14] #93 closed

[2015-02-08 18:16] raymondfeng commented on #90
We'll consider to coerce `'false'` and `'true'` for boolean properties in the model class.

[2015-02-08 18:27] #90 closed

[2015-02-08 18:58] #56 closed

[2015-02-08 19:01] #31 closed

[2015-02-08 19:01] #35 closed

[2015-02-08 19:03] raymondfeng commented on #36
Can you try the 1.7.0 of loopback-connector-mongodb. It uses 2.x version of mongodb driver now.

[2015-02-08 19:03] raymondfeng commented on #39
Duplicate of https://github.com/strongloop/loopback-connector-mongodb/issues/74

[2015-02-08 19:03] #39 closed

[2015-02-08 19:03] #45 closed

[2015-02-08 19:07] raymondfeng commented on #84
The root cause if that we do in-place modification of the input argument without cloning it. Can you avoid reusing the same instance of `filter`?

[2015-02-08 19:08] #43 closed

[2015-02-08 19:10] raymondfeng commented on #52
@SSchaaf Can you submit your fix as a patch?

[2015-02-08 19:16] raymondfeng commented on #55
Maybe we can make it controllable via a model/method level configuration property.

[2015-02-08 19:17] raymondfeng commented on #57
Have you run `npm install`?

[2015-02-08 19:18] raymondfeng commented on #57
I cannot reproduce this problem. Please reopen if you still see the issue.

[2015-02-08 19:18] #57 closed

[2015-02-08 19:18] #53 closed

[2015-02-08 19:20] raymondfeng commented on #49
Mongodb `$near` needs to take a [lat, lng].

[2015-02-09 14:45] uduinc commented on #84
I'm not using `filter` at all. I call `updateAll` with a simple query like the above (`{ "username" : "Terekhov" }`) and the filter gets added in by the `MongoDB.prototype.all`.

[2015-02-09 16:28] raymondfeng commented on #84
@uduinc Can you provide a test case? I don't see `updateAll` invokes `MongoDB.prototype.all` at all.

[2015-02-09 16:46] raymondfeng commented on #69
I think the issue should be generalized to `Model.create(data)` and `Model.upsert(data)` for all DBs. The question is that whether the `data` argument should be extended with default values for properties that are not present in the `data` object. The behavior is debatable.

Can you open a new issue in https://github.com/strongloop/loopback-datasource-juggler? I'm closing this one as `$setOnInsert

[2015-02-09 16:46] #69 closed

[2015-02-09 16:48] raymondfeng commented on #46
The composite id support is fairly weak at the moment. We need to enhance it across connectors.

[2015-02-12 14:43] assiomatica opened #96 "ECONNREFUSED when deploy on heroku"
Hi,

I have a strongloop app working pefectly on local even connecting to a remote mongo instance
But when I deploy on heroku or modulus.io I get ECONNREFUSED error doesnt matter where is the mongo instance,

Somebody have experience on StrongLoop on Heroku or Modulus.io?

Thank in advance!

Antonio

[2015-02-13 00:03] seeker89 opened #97 "Default timeout value too low"
Hi,

I am occasionally receiving "Connection fails: { [MongoError: no valid seed servers in list] name: 'MongoError', message: 'no valid seed servers in list' } " when instances bootup (app instances and mongo cluster are in different datacentres). Mongo is hosted at Compose.io

I suspect it's a timeout on the initial connection.

It would be nice to be able to give connection arguments directly t

[2015-02-13 00:51] raymondfeng commented on #97
You should be able to configure the mongodb connector using 'url' property that takes a connection string with the timeout parameter.

Sent from my iPhone 6 Plus

[2015-02-13 16:59] raymondfeng commented on #96
Do you use the mongodb hosted by heroku?

[2015-02-13 18:25] assiomatica commented on #96
Yes I am using mongolab add-on

Antonio Casula

mobile ch   +41 (0)79 9692274

   - ch.linkedin.com/in/antoniocasula/

On Fri, Feb 13, 2015 at 5:59 PM, Raymond Feng <notifications@github.com>
wrote:

[2015-02-14 20:30] seeker89 commented on #97
Thanks a lot, I missed that option !

[2015-02-14 20:30] #97 closed

[2015-02-17 01:59] ghost opened #98 "To get Count of related record"
When using has_many relation its better to have count of related records  or aggregation option

[2015-02-17 20:02] uduinc commented on #84
As far as I can tell, this was all due to failing to use the `where` parameter to wrap search terms in the `MongoDB.prototype.find` method. I switched all calls to that and have been unable to duplicate since.

[2015-02-17 21:10] #84 closed

[2015-02-18 00:12] srguiwiz opened #99 "MongoDB.prototype.buildWhere doesn't $ nested specs"
It doesn't because it isn't fully correctly recursive.  Yet nested specs are needed to query embedded documents.  They almost work, with workarounds.

Workaround is at top level to use LoopBack syntax, at lower levels MongoDB syntax.  Solves many cases.

Suggested low cost fix:  Allow MongoDB syntax at any level.

Example given here.  To achieve MongoDB getting

[code]

had to have a where like

[

[2015-02-18 00:19] srguiwiz commented on #99
pull request #100 has been opened

[2015-02-18 11:01] jmls opened #101 "discovery capabilites"
looking at http://docs.strongloop.com/display/public/LB/Database+discovery+API, it seems that mongo does not have discovery capabilites.

whilst I can understand that mongo is a document-orientated db, would it not be possible to runt hrough the collections (thereby giving you the models) and sampling say 10 records to grab the top-level properties as a helpful start ?

Or is there something like

[2015-02-18 17:04] raymondfeng commented on #101
We have the utility to reverse-engineer a JSON object for the model definition. But it's not integrated with mongodb yet. Do you want to give a try?

[2015-02-18 17:05] jmls commented on #101
more than happy to play with it

thanks!

On 18 February 2015 at 17:04, Raymond Feng <notifications@github.com> wrote:

--
Julian Lyndon-Smith
IT Director,
dot.r
http://www.dotr.com

[2015-02-19 17:55] moguelator opened #102 "If a value is 'undefined' for a 'where' condition, the condition is skipped"
I upgraded to version 1.7.0 and a lot of my queries are not working. When an undefined value is passed to a condition, this condition is just skipped.

For example, if I want to get a post with authorId:1 and groupId:undefined, the result is that I get all of the post for author with id 1, instead of bringing the posts for this author that do not have a groupId defined.

[code]

makes sense?

[2015-02-25 23:23] ilianaza opened #103 "Indexes are not created when declared in Model JSON"
I just want to check whether creating indexes feature has been implemented or not. I followed documentation on http://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Indexes and tried to declare the following index in my model json file:
[code]
But when I check MongoDB, I don't see this index being generated.
1. Has that feature been implemented?
2. If not,

[2015-02-25 23:35] raymondfeng commented on #103
You'll have to run `automigrate` (drop and recreate collections/indexes) or `autoupdate` (ensureIndexes).

[2015-02-26 08:15] shivam-dev opened #104 "How to get the distinct data set from find query on model"
How to get the distinct data set from find query on model

[2015-02-26 22:32] ilianaza commented on #103
@raymondfeng Thanks for the quick response. Saved my day!

[2015-02-27 01:17] BerkeleyTrue opened #105 "Where conditional inconsistent with docs"
Docs say conditional where (gt, lt) should look like this

[code]
This throws mongoDB error `unknown command: $points`
this works but is not how it is stated in the docs

[code]

loopback-connector-mongodb 1.8.0

[2015-02-27 03:45] raymondfeng commented on #105
You had a wrong argument for `count()` which only takes the `where` instead of the whole `filter`.

[2015-02-27 03:45] #105 closed

[2015-02-27 05:08] BerkeleyTrue commented on #105
I see. thanks! @raymondfeng to the rescue again!

[2015-03-02 11:42] makersu commented on #73
When I try to run the sample,it returned:
[code]
So, I npm install mongodb and  var GridStore = require('mongodb').GridStore,then I got:
[code]
Any help will be appreciated.Thanks.

[2015-03-09 08:15] mamboer opened #106 "Support mongoose-paginate"
it will be cool if loopback-connector-mongodb integrate mongoose-paginate, and then loopback can expose a paginate api

[2015-03-09 15:55] shyambalu-sellaco opened #107 "Depth issue when using complex queries with mongo db operators."
Range queries are not supported, have to do more verbose. But in general more than one level of depth is not supported for complex queries, using mongodb operators.

[code]

Only the `gt` arrives at the database. It has to be translated to

[code]

[2015-03-09 22:55] srguiwiz commented on #107
Sounds related to issue #99 for which there is a workaround/fix in pull request #100.

[2015-03-09 22:58] shyambalu-sellaco commented on #107
Ah yep that would be it. Great thanks.

[2015-03-09 23:16] srguiwiz opened #108 "Cannot do simple case insensitive where like"
This is a problem description.  A second comment will describe one workaround/fix, which might be less than ideal.  A third comment will describe a hopefully more acceptable workaround/fix.

Background fact: JavaScript regular expressions don't support flags, modes, modifiers.  I.e. not `(?i)` for case insensitive. JavaScript regular expressions are used in MongoDB.

A problem if trying to enable

[2015-03-09 23:26] srguiwiz commented on #108
Here is a proven workaround/fix in `dao.js`.  As I do *not* suggest using it, I do not provide a pull request for this one.

In `DataAccessObject._coerce` name the `for` loop:

[code]

and for `like` do:

[code]

After which in Node.js you can pass in e.g. to `find` for a `like` a `new RegExp("mat","i")` and get a case insensitive match.

Doesn't solve the problem for RESTful.  And compatibility w

[2015-03-09 23:31] raymondfeng commented on #106
LoopBack already supports pagination, see:

http://docs.strongloop.com/display/LB/Limit+filter
http://docs.strongloop.com/display/LB/Skip+filter

[2015-03-09 23:31] #106 closed

[2015-03-10 00:37] srguiwiz commented on #108
Better fix here in `loopback-connector-mongodb`'s `lib/mongodb.js` insert:

[code]

and change to:

[code]

then you can `like: "(?i)whatever"` either from Node.js or via RESTful API.

Submitting pull request.

[2015-03-10 02:10] srguiwiz commented on #108
pull request #109 has been opened

[2015-03-11 05:09] makersu commented on #73
My solution:
[code]

[2015-03-11 05:30] makersu opened #111 "updateAttributes/upsert cause "MongoError: not master" when running with mongodb replica set"
UpdateAttributes/upsert will cause MongoError due to update to secondary?

error message:

[code]

datasources.json:

[code]

numessage.js

[code]

[2015-03-11 10:54] mamboer commented on #106
but it's not friendly for client side paging, most javascript pagination components expect  a data structure like {"total":200,"items":[]}

[2015-03-14 16:47] srguiwiz commented on #107
until the fix has been merged this should remain open

[2015-03-28 20:25] srguiwiz commented on #108
This implementation provides a standard syntax `(?i)` for case insensitive regular expressions.  Same as Python, Java, PCRE, Perl.  Seems a reasonable way to "sneak in" this missing feature.

[2015-03-30 18:59] Terekhov commented on #102
Use the operators mentioned here, that's what they're for. https://github.com/strongloop/loopback/issues/1009#issuecomment-85567830

[2015-03-31 05:19] makersu opened #120 "MongoError with user "hasAndBelongsToMany" friends(the same user model)"
I'd like to create the relations of user which has many friends.
Or is there other way to handle with "user has-many friends of the same user model"?
Many Thanks.

[code]

And when I add a friend to a user, I got MongoError.

[code]

[code]

[2015-03-31 05:27] makersu commented on #111
My solution:
use updateAll instead.
[code]

[2015-04-08 08:56] nvcken opened #122 "Could I get model of level 2 parent of instance model ?"
My implement
Model A  < -----belongs to -----Model B <---------belongs to-----------Model C
Current instance is Model C
I get Model B with include relation key.
code: modelC.find({ include : [relationKey] }
Result

[code]

Question is "could I get embedded Model A into ?"

[2015-04-08 15:43] bkniffler opened #123 "Validation issue when put is used (tested with User model) on Windows"
Steps to reproduce:
- Use Windows (issue won't appear on Mac)
- Load Loopback-Sandbox
- npm install loopback-connector-mongodb
- Set "Users" datasource to MongoDB
- Post a new user
- Put /api/users/..id, e.g. with data {realm: "xxx"} (using a matching access token of course)

Result: ValidationError 402, "The `User` instance is not valid. Details: `email` Email already exists.." etc.
Expected: It

[2015-04-08 15:50] bkniffler commented on #123
Here is the full response body
[code]

[2015-04-08 16:28] bkniffler commented on #123
Here is a Debug Screenshot
![error](https://cloud.githubusercontent.com/assets/4349324/7049812/0957c3a4-de1d-11e4-82d9-628c6b1adc79.jpg)

[2015-04-12 20:39] wojohowitz opened #125 "Debug does not output query"
While running in the repl with debug: true on the adapter, I do not get the query output like I would for an RDBMS adapter.

[2015-04-18 13:51] jcsmesquita commented on #104
+1

[2015-04-22 10:20] paulJordaan opened #128 "PrincipleId stored as string in Rolemapping model"
When assigning a role to a user as per the ACL example the principleId field in the Rolemapping model is stored as a string in mongodb. This causes all of the role related functionality to break. When manually changing the principleId to the objectId type it fixes the problem. How can I fix this via code?
[code]

[2015-04-23 19:15] wrensburg commented on #111
Ditto here! Any progress yet?

[2015-05-02 10:28] vvaleriu commented on #98
Yes that would be a great option.

[2015-05-02 11:03] terrence0488 commented on #52
@raymondfeng hi Raymond, is this going to be fixed? Right now, if I would like to do a inq search to a non id field, how can i do it? Im trying to avoid changing code in the mongo-connector.

[2015-05-04 14:26] n8stowell82 commented on #96
Have there been any updates on this?  I am having the same issue while trying to connect to a Postgres DB on heroku.  With the loopback app running locally I can successfully connect and use the heroku hosted db, however, as soon as I deploy my loopback app I get the the 'ECONNREFUSED' error.  Below is a log dump from the app running on heroku:
[code]

[2015-05-08 08:24] paulJordaan commented on #73
When trying this example with:

`var db = app.datasources.db.connector.db;`

It returns with with db as undefined.

Any suggestions?

[2015-05-15 12:33] mrfelton opened #129 "Limiting the number of query results incorrectly applied due to batchSize"
When using the mongo connector, applying a limit to a query does not limit the results properly. Actually, the number of results returned corresponds to the batchSize that is set for Mongo (1000 in my case). Query limits work correctly up to the point where the batchSize is reached.

For example:

[code]

and so on. (I'm using http://stedolan.github.io/jq/ to count the returned results easily).

[2015-05-15 14:14] mrfelton commented on #129
The original patch (explicitly setting batchSize) worked up until the point where the limited result set was upto 7002 results in length. Beyond this, an unpredictable number of results would be returned.

I have refactored the `all()` method to use `each()` to iterate through the results rather than using `toArray()` which seems to be the cause of the issue. Using each(), I get the correctly limi

[2015-05-16 14:43] peterwilli opened #131 "Disable to explicitly set _id when posting an object."
Hi,

When trying to post an object I can set the underlying model's _id property by explicitly setting it.

The POST JSON:

[code]

This is ok for 1 time but then an error about duplicate key shows up obviously ;)
I know that if I omit the "id"-key it makes a random id.
The point is I dont want my users to make their own id, just always random.
I "sort-of" made a ductape solution, using the read-o

[2015-05-16 16:49] raymondfeng commented on #131
You can use `defaultFn` for the property, see http://docs.strongloop.com/display/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Generalpropertyproperties

[2015-05-16 16:49] #131 closed

[2015-05-16 21:44] mattapperson opened #132 "Relationships and mongo... broken or did I miss something?"
I have a model that looks like this:
[code]

And I am trying to create a new GeoStop like so:
[code]

in this example, `result.location` is a method, but no value is saved to the DB for location in the GeoStop collection... What am I doing wrong?

Note I have tried setting location to `loc.id` in the create method, and I have tried GeoStop.hasOne setting Location to the string "Location" as well a

[2015-05-16 22:03] peterwilli commented on #131
@raymondfeng I'm sorry, but I fail to see how that's an easier solution than what I have above :) But thanks for responding!

[2015-05-16 22:10] mattapperson commented on #132
Yup it was me... needed BelongsTo no HasOne... it's been a long day lol

[2015-05-16 22:10] #132 closed

[2015-05-19 09:33] peterwilli opened #134 "Ignore properties that are not in the model schema"
Hi,

In the API explorer, I can send trough any property, even the ones that arent in my schema.
What I expect to happen is that those variables get ignored.

See the 2 screenshots. The first one I enter some extra properties in the explorer.
![schermafbeelding 2015-05-19 om 11 31 24](https://cloud.githubusercontent.com/assets/1212814/7699779/af630a8e-fe1a-11e4-8abe-7a73b563ea18.png)

In the secon

[2015-05-19 15:31] raymondfeng commented on #134
You can configure the behavior using ‘strict’ for your model. See http://docs.strongloop.com/display/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Top-levelproperties. In your case, the value can be `true` (ignore), `validate` (report as validation error), or `throw` (throw).

[2015-05-19 17:14] peterwilli commented on #134
Thanks @raymondfeng !!

[2015-05-19 17:14] #134 closed

[2015-05-21 19:15] nagey commented on #128
this is causing problems for me as well. I'd like to avoid manually casting the id to an ObjectID (to maintain datasource portability), but don't see how that is presently possible.

[2015-05-23 08:41] fabien opened #135 "autoupdate and automigrate don't respect settings.mongodb.collection"
We should add a `prototype.getCollectionName` helper method, which will be used by `prototype.collection` as well. All 'auto' operations should lookup the name using this new method.

/cc @raymondfeng

[2015-05-26 07:18] ainesophaur opened #136 "_id is always removed even when explicitly requested"
I've noticed when I create a filter which includes the filed '_id' it never gets returned. In my model.json I'd set _id to be my 'id' and I created a couple scopes to allow me to restrict the fields returned in GET requests.

Once I modified line 587 of mongodb.json to allow the inclusion of _id it worked. I then ran npm test and I had the same amount of passed tests as with the unmodified version

[2015-06-02 03:13] rejunrajreju commented on #49
I get a different error while executing the code bellow

Car.find({filter:{   "where": {"and":[{"geop": {"near": [ lat, long ],maxDistance:5} }, {"name":carname }]} }},function(d){})

{"error":{"name":"MongoError","status":500,"message":"n/a","$err":"Unable to execute query: error processing query: ns=qataryellow.main limit=1000 skip=0\nTree: $and\n    name == \"Auto Body Repair\"\n    GEONEAR  fi

[2015-06-02 03:18] rejunrajreju commented on #49
I get a different error while executing the code bellow

Car.find({filter:{   "where": {"and":[{"geop": {"near": [ lat, long ],maxDistance:5} }, {"name":carname }]} }},function(d){})

{"error":{"name":"MongoError","status":500,"message":"n/a","$err":"Unable to execute query: error processing query: ns=qataryellow.main limit=1000 skip=0\nTree: $and\n    name == \"Benz\"\n    GEONEAR  field=geop max

[2015-06-03 18:32] mailmevenkat opened #140 "Mongodb connectors getting crashed"
MongoDB connection is getting crashed when executing any operation. I have attached the screenshot below.

I have checked through the source code, seems like notifyObserversAround is not defined.
![screenshot from 2015-06-03 12 51 12](https://cloud.githubusercontent.com/assets/9083583/7968129/5fc5ac46-0a4c-11e5-87ea-a266c07bc244.png)

[2015-06-03 21:04] raymondfeng commented on #140
Please run `npm up` to upgrade the version for loopback-datasource-juggler.

Thanks,

---
Raymond Feng
Co-Founder and Architect @ StrongLoop, Inc.

StrongLoop <http://strongloop.com/> makes it easy to develop APIs <http://strongloop.com/mobile-application-development/loopback/> in Node, plus get DevOps capabilities <http://strongloop.com/node-js-performance/strongops/> like monitoring, debugging a

[2015-06-04 17:56] mailmevenkat commented on #140
It's working now :+1:

Thanks

[2015-06-04 17:56] #140 closed

[2015-06-05 05:32] wrensburg commented on #52
:+1: Having to hack the framework to achieve this!

[2015-06-05 15:55] chrisamoore commented on #52
:+1: Def need this. /cc @ShubhraKar @dashby3000

[2015-06-07 11:05] uzyn commented on #103
@raymondfeng If that is the case shouldn't it be included as one of the boot scripts by default?

[2015-06-08 11:18] willyyr commented on #49
@raymondfeng i thought the notation is backend-agnostic? That's why I used to notation as documented.

[2015-06-08 17:56] Karabi-Choudhury opened #144 "How to get distinct of a collection from mongodb"
I am using mongodb connectot with strongloop.I have a cities collection.I want to get the distinct data from the city collection.How can i do that

[2015-06-08 20:07] raymondfeng commented on #144
You have to use the mongodb driver to get distinct data directly. There is no aggregation based query supported by LB yet.

[2015-06-08 20:08] raymondfeng commented on #144
I'm closing this issue as questions are better posted to https://groups.google.com/forum/#!forum/loopbackjs.

[2015-06-08 20:08] #144 closed

[2015-06-11 13:35] kwiky commented on #49
@rejunrajreju @willyyr @raymondfeng Please HELP :'(
I have the same problem :
I can't use the near condition if it's in a "and" object

Works :
{"where":{"location":{"near":[47.4722343,-0.5507339]}},"skip":0,"limit":100}

Don't works :
{"where":{"and":[{"location":{"near":[47.4722343,-0.5507339]}},{"jobType":"COOPERATIVE"}]},"skip":0,"limit":100}

It returns :
{"error":{"name":"MongoError","status

[2015-06-11 14:59] kwiky commented on #49
It's maybe because the query is transformed in the first case here :
https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/geo.js#L7

and not in the second case...

[2015-06-11 19:04] StribBrentDoll opened #146 "1.11.0 Breaks multiple mongo connection url"
It looks like the work around in PR #142 breaks our use case for multiple servers.

Our datasources.json looks like:

[code]

The url `connectToMongoDB` tries to connect to ends up being:

`mongodb://@primary.example.com:53069,secondary.example.com:53069/my_db?readPreference=secondary`

The app then times out on any connections to mongo

[2015-06-12 07:44] kwiky commented on #49
I just realize that, in the first case, the near criteria is not passed to mongodb but executed in the geo.js file in loopback-datasource-juggler.

In the second case, the parameter is given to mongodb.
I have to add a 2dsphere indexe and use the $nearSphere criteria in this case :
{"where":{"and":[{"location":{"nearSphere":[47.4722343,-0.5507339]}},{"jobType":"COOPERATIVE"}]},"skip":0,"limit":100

[2015-06-12 10:24] kwiky opened #147 "Default sort order overwrite the $nearSphere criteria"
When i use the $nearSphere criteria, the default order on id overwrite the location order :(

Here :
https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L653

[2015-06-12 17:56] nvcken commented on #103
I tried automigrate and autoupdate at boot scripts
[code]
Then all data of Product lost without preserve

[2015-06-12 17:59] raymondfeng commented on #103
Use autoupdate, NOT automigrate.

[2015-06-12 18:01] nvcken commented on #103
Thanks :+1:

[2015-06-15 17:04] MrMMorris opened #148 "Connector seems to ignore database when authenticating"
I have this connection string that results from my config:
`mongodb://boss:pass@mongo-1.node.consul,boss:pass@mongo-2.node.consul,boss:pass@mongo-3.node.consul/inventory?readPreference=secondaryPreferred&replicaSet=rp0`

I have this user:
[code]

This setup results in this error in the mongo logs: `I ACCESS   [conn12401] SCRAM-SHA-1 authentication failed for boss on admin from client 172.17.0.14 ;

[2015-06-15 17:07] MrMMorris commented on #148
ah, just say `* Add a workaround for auth with multiple mongos servers (Raymond Feng)` in the latest release. I will try 1.11.0

[2015-06-15 18:45] Karabi-Choudhury opened #149 "geoPoint api nearby not showing up"
Hi,

I have used geoPoint in one of the models with mongo db connector. But in the strongloop api i dont see nearby api in tha model. The geolocation property is treated as an object.
I have added  the below data source in datasources.json
"geo": {
    "name": "geo",
    "connector": "rest",
    "operations": [
      {
        "template": {
          "method": "GET",
          "url": "http://maps.

[2015-06-15 21:00] seeker89 commented on #146
+1 I'm also seeing this behaviour.
Spent last 2 hours trying to see what happened to my firewalls...

[2015-06-15 21:25] raymondfeng commented on #146
Good catch. Should be fixed in 1.11.1 now.

[2015-06-15 21:25] #146 closed

[2015-06-17 08:02] afaucogney commented on #96
Which mongodb address did you set on the datasource json file ?

[2015-06-17 09:00] assiomatica commented on #96
Hi ,
I set the address showed in the mongodb service on heroku.
but this is an old issue , was solved changing my node.js code and now I
cannot rember how.

Sorry

Antonio Casula

mobile ch   +41 (0)79 9692274

   - ch.linkedin.com/in/antoniocasula/

On Wed, Jun 17, 2015 at 10:02 AM, Faucogney Anthony <
notifications@github.com> wrote:

[2015-06-20 19:39] BerkeleyTrue commented on #108
I believe this issue is resolved and can be closed.

[2015-06-20 20:00] BerkeleyTrue opened #151 "Bug: 'like' query should check if 'cond' is a regex in disguise."
Docs state that a regex can be used with a `like` query to provide flags without needing to use options prop.
![mongodb_connector_-_loopback_-_documentation](https://cloud.githubusercontent.com/assets/6775919/8268953/7b262a2e-1749-11e5-940c-333c7ebd0d1b.png)

however, [this line](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L594) simply passes the condition a

[2015-06-21 21:22] MrBoolean opened #152 "Cannot change collection name on the user model"
Hi Guys,

as you can see i extend the `User` model by defining `BaseUser` as follows:

[code]

Unfortunately, if I create a new `user` the collection is called `User` insteadof `user` (first character should be lowercased).

Don't know why.

Greets,
Marc

[2015-06-22 20:09] #148 closed

[2015-06-25 11:18] kuskov opened #153 "Is not creating index creation when collection doesn't exist"
We have defined a model and then emptied the collections in the MongoDB. When we start the server, loopback creates the collection, but it doesn't create the index on the fields specified in the model. For example:

[code]

When i check the collection, there is only one index called "_id" the standard one. Is there a solution/fix?

[2015-06-25 15:30] raymondfeng commented on #153
The indexes are created with dataSource.autoupdate or automigrate. See http://docs.strongloop.com/display/LB/Implementing+auto-migration

[2015-06-25 15:30] #153 closed

[2015-06-25 15:39] vasiliyb commented on #111
Folks, we are seeing this with MongoDB v 2.6.9, nodejs driver 1.4.38.  Any solutions?

[2015-06-29 10:21] zakuapps commented on #49
@kwiky I followed your tips, but without success. When I use the nearSphere criteria the results are not filtered by location. Any ideas?

[2015-06-29 12:01] kwiky commented on #49
@zakuapps have you create your 2dsphere indexe ?
http://docs.mongodb.org/manual/tutorial/build-a-2dsphere-index/

[2015-06-29 13:08] zakuapps commented on #49
yes, thanks. Anyway, I found the issue.

I'm using the maxDistance filter, and I realized that it is never passed to mongodb (when I use the "and" operator). That's why the results weren't filtered.

I've just solved by replacing the MongoDB "buildWhere" defined in mongodb.js with the following one:

[code]

Now I'm also able to use the "near" nested in the "and" object (I had to create a "2d" ind

[2015-06-29 13:12] kwiky commented on #49
Oh yes, to make this works, i have also remove the default order on _id on this method !

[2015-07-01 08:31] josepe36 opened #154 "Proposition Bug Mongodb conector"
Hi
After long time with relational problems with mongodb conector, i 've found a way to fix this problem.

The problem is than when we are using mongodb conector, the rolemapping does not work, the relations are not followed.
Because the principalId is recorded as a string and not as ObjectId the orm does not match.

So i looked in the file :
node_modules/loopback-connector-mongodb/lib/mongodb.js

[2015-07-03 17:21] voitau opened #156 "updateAttributes() ignores values wihtout operators if any operators are specified for other values"
These are the working examples:
- `updateAttributes({description: 'v1', version: 1}, ...)`
- `updateAttributes({'$set': {description: 'v1', version: 1}}, ...)`
- `updateAttributes({'$set': {description: 'v1'}, '$inc': {version: 1}}, ...)`

This does not work, although seems like a combination of the examples above:
- `updateAttributes({description: 'v1', '$inc': {version: 1}}, ...)`.

Complete exa

[2015-07-03 17:45] voitau opened #157 "updateAttributes() returns either old or updated instance"
Based on the [documentation](http://docs.strongloop.com/display/LB/PersistedModel+class#persistedmodel-prototype-updateattributes), `updateAttributes()` is supposed to return updated instance. However, behavior is not completely consistent.
Updated instance is returned here:
- `updateAttributes({description: 'v1', version: 1}, function(err, updated) {...})`

This will return old instance:
- `updat

[2015-07-05 11:59] #135 closed

[2015-07-14 14:49] williamchang73 opened #160 "can not get correct object when contains "result" key in document"
### "loopback-connector-mongodb": "1.5.0" ~ "1.11.3"
mongo version : 3.0.4
"loopback-datasource-juggler" : "2.33.1"

##### if contains result in document, it will return wrong objecct

{ "deviceID" : "empty", "type" : 2, "command" : 1, "progress" : 5, "routerID" : "12345", "result" : [ { "test1" : 1 }, { "test2" : 1 }, { "test3" : 1 }, { "test4" : 1 } ], "createdByDeviceID" : "12345", "executeStat

[2015-07-14 16:39] raymondfeng commented on #160
Good catch. I was able to reproduce it and opened an issue against mongodb driver 2.x (which we use starting from loopback-connector-mongodb@1.5.0).

https://jira.mongodb.org/browse/NODE-505.

[2015-07-14 19:40] christkv commented on #160
pushed 2.0.38 to npm with fix.

[2015-07-14 19:47] christkv commented on #160
sorry 2.0.39

[2015-07-14 19:58] raymondfeng commented on #160
@christkv Thank you for the quick fix!

[2015-07-14 19:58] #160 closed

[2015-07-15 05:47] williamchang73 commented on #160
Thanks for the fix !

[2015-07-16 10:00] bharathkontham opened #161 "How to encrypt mongodb database credentials in data-sources?"
Is it possible to encrypt mongodb credentials and load them into data-sources? If so how to do it?

[2015-07-16 15:07] raymondfeng commented on #161
You can use server/datasources.local.js to programmatically export an object representing the DS config. See http://docs.strongloop.com/display/LB/datasources.json#datasources.json-Environment-specificconfiguration.

[code]

[2015-07-16 15:07] #161 closed

[2015-07-19 19:12] behrad opened #162 "belongsTo with redis connector model"
I'm trying to build a `belongsTo` from my mongo model to a redis model, but nothing seems to work!
Can anyone point me somewhere I can debug it !?

[2015-07-22 08:04] seanbrookes commented on #96
I just ran into this issue while deploying a loopback app to heroku.

``` 2015-07-22T07:06:11.441996+00:00 heroku[web.1]: Starting process with command `node server/server`
2015-07-22T07:06:12.666076+00:00 app[web.1]: Detected 512 MB available memory, 512 MB limit per process (WEB_MEMORY)
2015-07-22T07:06:12.666099+00:00 app[web.1]: Recommending WEB_CONCURRENCY=1
2015-07-22T07:06:14.717357+00:00 a

[2015-07-22 15:20] fabien opened #163 "Honor Model.definition.settings.allowExtendedOperators"
See: https://github.com/strongloop/loopback-datasource-juggler/pull/666#issuecomment-123754151

[2015-07-22 15:22] raymondfeng commented on #163
@fabien Do you want to submit a patch? It is very straightforward. :-)

[2015-07-22 17:43] seanbrookes commented on #96
update:
after verifying with a working version on heroku, I deleted the version 1.8 loopback-connector-mongodb folder from node_modules and re-installed the latest:
``` npm install loopback-connector-mongodb --save ```

re-deployed to heroku and the problem seems to have gone away

[2015-07-27 10:50] fabien commented on #163
@raymondfeng patch is ready #164

[2015-07-27 13:59] #163 closed

[2015-08-03 15:29] simoami opened #165 "Honor type 'number' for auto-generated ids"
the documented type number doesn't work if the inserted record doesn't have an id. The generated id is a string in the form: `55bef3c66b07d5602d1b93f6`. The presence hex characters prevents the type number from working.

The example from the LB [documentation](http://docs.strongloop.com/display/public/LB/MongoDB+connector) implies that this is possible:

[code]

Same thing in [id.test.js](https://

[2015-08-03 15:41] simoami commented on #165
For reference the [mongoose-auto-increment](https://github.com/codetunnel/mongoose-auto-increment) module can add this functionality and can be used here for ids of type number.

[2015-08-03 15:43] raymondfeng commented on #165
Unfortunately, mongodb doesn't support DB-generated number ids. To allow client-side number ids, you need to do two things:

1. Disable the DB auto generation by setting `generated` to `false`, for example: `{id: {type: 'number', id: true, generated: false}`.

2. Use `defaultFn` to generate number ids on the client side.

[2015-08-03 15:54] simoami commented on #165
Thanks @raymondfeng, but I see that MongoDB actually have a way of supporting it. See the official documentation: http://docs.mongodb.org/manual/tutorial/create-an-auto-incrementing-field/

This is btw, the same technique used by mongoose-auto-increment and mongoose-simpledb. See [want to get rid of objectid altogether and use a simple incrementing number _id](https://github.com/codetunnel/mongoos

[2015-08-03 16:01] raymondfeng commented on #165
In the future, we could use the technique from http://docs.mongodb.org/manual/tutorial/create-an-auto-incrementing-field/ to implement the auto-incrementing ids. That requires a bit change in how connector decides the generated id type and enforce the id generation as part of `create`. Patches are welcome.

[2015-08-04 04:17] simoami commented on #165
Thanks for clarifying. Maybe if I get sometime, I can look into it. but for now I ended up using objectid which can have architectural advantages over number-based increments.

[2015-08-04 20:46] simoami commented on #165
I found another problem with loopback in the HttpContext process of [coercing arguments of type 'any'](https://github.com/strongloop/strong-remoting/blob/master/lib/http-context.js#L200). All [shared methods](https://github.com/strongloop/loopback/blob/0f9dd93abacf451f09fff9a6d99ec4d13d1c2a29/lib/persisted-model.js#L583) define `id` as type 'any', which leads to [converting](https://github.com/str

[2015-08-07 19:04] jamesjjk opened #168 "How do you do an $elemMatch style query in loopback?"
For example:

db.myCollection.find( { active: true, $where: "this.credits - this.debits < 0" } );

Or

db.myCollection.update( { active: true, $where: "this.credits - this.debits < 0" },{SOME UPDATE} );

I have switched on .dataSource.settings.allowExtendedOperators = true;

[2015-08-07 19:27] ainesophaur commented on #168
I just worked with it last night and got it to work this way

[code]

[2015-08-07 19:37] jamesjjk commented on #168
@ainesophaur Thanks for the reply. But where did you define self? And how would you use the operators?

[2015-08-07 19:46] ainesophaur commented on #168
@jamesjjk that call is from a instance method for another model called BoomOffer -- so self references the instance of BoomOffer.prototype.this

As far as I can tell any of the default mongo operators like $gt, $in, $elemMatch are available in loopback, just call them without the $ -- which specific operators are we talking about though?

I dont think you need $elemMatch though  .. see if this get

[2015-08-07 20:15] jamesjjk commented on #168
@ainesophaur You are right I don't need an element match but good to see it works. I have tried permutations of the above. I'm trying to update a 'stock' value with a specific ID where its 'credits' - 'debits' are less then < 0 for the document in question. I can do this in Mongodb, however trying to find documentation on how to use the loopback model.execute command is not easy... But I would rat

[2015-08-07 21:28] ainesophaur commented on #168
@jamesjjk I've been racking my brain on it for the past hour and I cannot see any way that you can do it directly through the strongloop models. You'll probably have to do a raw mongodb query and then init the models from the results.

Mongo lets us do something like this:
`db.getCollection('Stock').find( {$where : function(){return (this.credits -  this.debits < 0)} })`

It would be nice if the c

[2015-08-07 21:35] jamesjjk commented on #168
@ainesophaur Thanks! I has a feeling the loopback connector would not be able to do something like this. It makes fairly simple atomic operations very complicated to achieve. Like the above where we simply want to compare values, prior to an insert. This is used in many transactions. There is an execute method but its not documented properly and hopefully the LB team can feedback on this one..

[2015-08-08 21:01] jamesjjk commented on #168
@ainesophaur Just an FYI you require to wrap function when using the mongodb node driver.

[2015-08-10 19:37] #168 closed

[2015-08-16 20:19] satyadeepk commented on #157
+1
I am seeing this with `$inc` operation too
`user.updateAttributes({"$inc": {balance: 100}});`

[2015-08-16 20:21] satyadeepk commented on #156
I am seeing this too. If I include any other property along with `$inc`, it is ignored.

[2015-08-17 15:33] pulkitsinghal opened #170 "Add the ability to perform bulk updates"
1. I imagine that first, juggler and/or connectors would need to expose an abstract methodName/API for bulk updates ... that individual connectors may or may not implement.
2. Then mongodb connector could reuse something like the following (not exactly ofcourse) as a base for bulk updates: https://gist.github.com/pulkitsinghal/5e9df647366f1b5e4d32 ... My code:
   1. does not address what happens t

[2015-08-20 10:13] bboalimoe opened #172 "does the mongo connnetor supports the mongo 3.0.5 server?"
thanks a lot!

[2015-08-23 04:13] faustomorales opened #173 "Slow creation of access tokens"
For some reason, when Loopback creates access tokens in my application, they take a really, really long time. It happens when I run the application from a server, but not from my laptop (both are connected to MongoLab). Once the login takes place, performance is the same between the two. Any idea what the cause may be? An example log is provided below.

[code]

[2015-08-23 04:28] ainesophaur commented on #173
Is the OS the same between the laptop and server? From what I can tell if
you have build tools and compilers available it'll try to compile bson from
c++

Try setting some debug strings and see if it hints to anything

https://docs.strongloop.com/display/public/LB/Setting+debug+strings
On Aug 23, 2015 12:13 AM, "Fausto Morales" <notifications@github.com> wrote:

[2015-08-23 04:34] faustomorales commented on #173
OS is not the same. The laptop is OS X Yosemite. The server is Raspian (it's a Raspberry Pi). I tried setting the mongodb connector strings but the only thing I see different is the time to complete requests. Is there another set of debug strings I should try for comparison?

[2015-08-23 05:43] ainesophaur commented on #173
I believe it's more related to the hardware vs software. When it creates
the access token it generates a bson encrypted token which wouldn't be too
fast at 750 MHz
On Aug 23, 2015 12:34 AM, "Fausto Morales" <notifications@github.com> wrote:

[2015-08-23 06:41] faustomorales commented on #173
You are so, so right. Turns out that, in order to avoid a binary dependency, there was a switch to use bcryptjs by default unless native bcrypt was available. This is the subject of strongloop/loopback#892, though, of course, I didn't know that until you made your observation. All of my problems were solved in one line at the terminal (explained in the referenced issue, and below for convenience).

[2015-08-23 06:41] #173 closed

[2015-08-25 12:52] ekussberg commented on #52
@raymondfeng @bajtos is this problem patched/fixed? We had several times already this issue and needed to change the type of ID to string from ObjectId as INQ just converts the String always to ObjectId and MongoDB return zero results. Could you provide a fix or solution how to make INQ with simple strings? I tried already this
[code]
It also doesnt work. If i put string, then it returns 0 as stri

[2015-08-25 22:19] raymondfeng commented on #172
It does.

[2015-08-25 22:19] #172 closed

[2015-08-25 22:22] raymondfeng commented on #52
Can you try with https://github.com/strongloop/loopback-connector-mongodb/pull/174?

[2015-08-28 16:38] zanemcca commented on #157
It is probably related to the "new" option on mongoDBs findAndModify function.
You can see the documentation [here](http://docs.mongodb.org/manual/reference/method/db.collection.findAndModify/).

[2015-08-28 22:44] raymondfeng commented on #157
We should make it explicit via the `options` arg. But not all DBs support it.

[2015-09-02 15:02] ekussberg opened #175 "MongoDB sslValidate option in datasources"
Hello,

we are not able to work with our database, as as it seems the connector doesn't take the "sslValidate" option to the driver.

Is there a fix for that?

[2015-09-02 15:20] raymondfeng commented on #175
You can override the settings using `url` property set to the full mongo connection string.

[2015-09-02 15:20] #175 closed

[2015-09-05 17:45] zanemcca commented on #156
+1
I am using the alternative provided by @voitau for now.
```updateAttributes({'$set': {description: 'v1'}, '$inc': {version: 1}}, ...)```

[2015-09-10 17:24] victorhqc opened #176 "Between dates"
I'm trying to filter a query using two dates, I've read that in MongoDB you can use something like this:

[code]

It does work in a noramal MongoDB query, but when I try to adapt this in Loopback I get a weird result as if it was ignoring the second parameter.

[code]

I also read that Loopback has a method called `between` and it does what I want but it seems weird that I can't get it properly do

[2015-09-15 21:31] mazesoul commented on #147
+1

[2015-09-15 21:32] mazesoul commented on #55
+1

[2015-09-19 07:04] ssuarezbe commented on #176
Hi, I have the same problem.

Then I checked the code and I realized that the loopback-connector-mongodb do not support $gte or $lte by date.

I suppose that a regular expression must be added to check if the parameter could be a Date or not, to solve the problem. Right now I do not have time to solve the problem but I could offer you a solution:

Just create a native mongodb connection, add a new

[2015-09-19 07:26] ssuarezbe commented on #176
Related tickets:
https://github.com/strongloop/loopback/issues/303

[2015-09-29 17:20] joncarlson opened #178 "Case insensitive queries don't appear to be working anymore"
I have a Tag model and I've added a tag with the name: 'Technology'

In Explorer, if I use the filter {"where":{"name":{"like":"Tech","options":"i"}}}, I get back the above tag.

However, if I change the filter to {"where":{"name":{"like":"tech","options":"i"}}}, there are zero results.

This was previously working until I nuked my node_modules directory and reinstalled.

[2015-09-29 21:45] superkhau commented on #152
LoopBack is doing the proper thing by naming your mongodb collection `user` (since you set the collection property in the definition).

1. If the `collection` property is specified in the model definition (ie. `common/models/model.json`), it will use what you define as the collection name.
2. If there is no collection property set in the definition, it will use the model name (ie. `BaseUser` in yo

[2015-09-29 21:45] #152 closed

[2015-10-07 19:47] MrMMorris commented on #111
I am also seeing the `not master` error with `3.0.3`:

[code]

datasources.json:
[code]

[2015-10-08 23:41] grindfuk opened #180 "Nested Foreign Keys"
Hi,
Just started using loopback and was wondering:
Can foreign keys be nested in a mongo document?
For example, can you have

[code]

[2015-10-09 09:00] schitransh opened #181 "Node process crashed /loopback-connector-mongodb/node_modules/mongodb/lib/utils.js:98"
Hi
I am getting error like
/loopback-connector-mongodb/node_modules/mongodb/lib/utils.js:98
    process.nextTick(function() { throw err; });

and i my looback find query callback err and response object was null.
also my server run was crashed.

Then i have added console log above  and found mongo was returing this error 2 time

`{
    [
        MongoError: exception: E11000duplicatekeyerrorindex:

[2015-10-09 16:10] ainesophaur commented on #180
The foreign key would just be supplierId. If you don't provide a specific
foreign key then loopback will set it to model + "Id"

Your mongo entry should then have just the regular properties along with
the ObjectId of the relation target

If I'm misunderstanding your question please let me know.
On Oct 8, 2015 7:41 PM, "grindfuk" <notifications@github.com> wrote:

[2015-10-12 14:03] grindfuk commented on #180
Thanks for the response.
Sorry, I should have clarified the models. I imagine an account document instance would be something like this:
[code]
where the mongo _id is deeply nested inside some json. If you hoist the ref to a first level key, you get the example that you provided which is a nice work-around. I was just wondering whether this was possible since if you could, you could namespace and

[2015-10-12 15:43] Ijmir commented on #55
+1

[2015-10-13 12:47] jskrzypek commented on #147
+1

[2015-10-13 15:05] ainesophaur commented on #180
I don't believe you can do directly what you're trying to. Are you working
with existing data that is already in that format and you're trying to
migrate to strongloop? If so you can just use a hasMany relation and set
the foreignKey to supplierId. The name of the supplier won't be returned
when you query the parent model unless you then query/lazy load the
relation.
On Oct 12, 2015 10:03 AM, "gri

[2015-10-15 16:53] grindfuk commented on #180
Thanks.
It is how the data is currently formatted but it is not hard to change on MongoDB.
So, the foreign keys *must* be hoisted to the top level?
Maybe something like:
[code]

[2015-10-15 17:20] ainesophaur commented on #180
No, the way you currently have the data would be fine. You would need to
create a hasMany/belongsTo or hasAndBelongsToMany relation from the top
level model to the supplier model. The relation name (or using the 'as'
property) is what gets read from the top level keys.

Account model

{
  properties: {
    type: String,
    name: String
  },
  relations: {
    suppliers : {
      foreignKey: "supp

[2015-10-18 12:51] thaiat commented on #103
for what it worth here is my autoupdate script:
[code]

[2015-10-18 12:53] thaiat commented on #55
+1

[2015-10-19 14:49] mazi095 commented on #104
+1 =)

[2015-10-20 11:47] riemers commented on #96
For people coming with the same issue, in my case i had an entry in there that was faulty. My assumption was that it would only 'load' the configs of my model-config.json. So i had mongo in model-config but still had a postgre in datasources.json (which i didn't use anymore, but was bad)

[2015-10-22 13:25] bboalimoe opened #183 "how to set the http GET default limit number of results"
hello,
how to set the default http GET limit number in the loopback-connector-mongodb ....
eg.
i request one models' all data . If not configured, strongloop would return all the results in the db.
But i only want fetcher to get only 100 by default . how to deal with this
thanks a lot

[2015-10-22 15:01] matejc opened #184 "time out if id is a string in the relation"
I am not sure if this is `loopback-connector-mongodb`s issue but here it goes...
I have HasAndBelongsToMany relation from model Venue to model Language. And it is allowed to add `"undefined"` to `languageId` field like .. so:

[code]

Q: Is this a correct behaviour from connector?

Then comes really annoying thing, when the code reaches:

[code]

The terminal output is empty and response is nowher

[2015-10-29 21:32] AlmaasAre commented on #46
+1

[2015-10-30 16:37] AlmaasAre opened #185 "document OptimisedfindOrCreate"
![image](https://cloud.githubusercontent.com/assets/1777366/10851697/6f1a4a74-7f24-11e5-87dd-9a17f25d4dfd.png)

Had a hard time making findOrCreate work as i expected, until i noticed this in the connector.. Don't know if this is the correct repo, but this should be documented!

[2015-11-01 12:57] Ijmir opened #186 "creating entity with relation stores the foreign key as plaintext instead of ObjectID"
https://github.com/Ijmir/loopback-post-relation
with reproduction steps

I have feed and comment models.
comments belongsTo feeds with foreign key feedRef and relation name feed.
feedRef field is an ObjectID - defined in boot script.

[code]
1. When I save a comment with feed object (with _id) attached I see that in mongodb feedRef is stored as plaintext and feed is discarded
2. When I save a comm

[2015-11-01 15:04] ainesophaur commented on #186
What does your feed model look like? I'd imagine you have a hasMany
relation from feed to comments.  From what I see so far it's doing what its
supposed to do.

When you created comment with the feed object it'll just save the objectId
and loopback juggler makes the matching of the comment when you query feed
for its comments.

If you wanted it to actually save comments inside of feed without havi

[2015-11-01 16:07] Ijmir commented on #186
I am not sure that we are on the same page:

1. saving comment with feed object results in feedRef field being saved as a string
2. saving comment with feedRef field results in feedRef field being saved as an ObjectID
3. I don't query for feed entity nor do I try to save feed with comments

It seems wrong. Is it by design or its a bug?

You can look at the repo I have created.

[2015-11-01 17:03] ainesophaur commented on #186
Would you be able to add a unit test or script file which produces both
results? This way I can understand the end result properly, because I never
get the related object saved as a string.
On Nov 1, 2015 11:07 AM, "Tamir Aminov" <notifications@github.com> wrote:

[2015-11-01 17:05] ainesophaur commented on #186
Also what version of mongo and driver are you using?
On Nov 1, 2015 12:03 PM, "Travis Sheldon" <traviscsheldon@gmail.com> wrote:

[2015-11-02 10:30] Ijmir commented on #186
It's all in the repo I posted. mongo connector 1.13.0 mongo 2.0.47.
running create commands from node will work, but the bug occurs in the explorer or REST interface.
I posted a reproduction steps in the repo README.md.

[2015-11-02 16:15] matejc commented on #184
I think I solved it for myself, but I still think there is a bug, venue.languages(...) should not halt the request.

[code]

This example does not halt the request, even if id in relation collection/table does not exist in database.

[2015-11-05 18:18] pxwise commented on #111
+1 Any update?

[2015-11-06 16:54] robinskumar73 opened #187 "How to create a database at runtime?"
I want to create a loopback database at run time for each user that signup. Any help how to?

[2015-11-08 03:33] joeauty commented on #176
I'm having this same problem, and for me it looks like neither ISO date strings nor timestamps work, e.g.:

{"where":{"dateStart":{"gt":1446953123185},"dateExpire":{"lt":1446953123185}}}

[2015-11-08 22:00] donratta commented on #176
I seem to be having the same issue too. Anyone with any luck on this?

[2015-11-10 01:08] achintverma opened #188 "Issue with MongoDB Connector when using @ within password"
When I run sudo npm install loopback-connector-mongodb --save I get following output.

[code]

Looking at the output it seems that connector is installed. Then I added connection string in DB based on https://docs.strongloop.com/display/public/LB/MySQL+connector

I'm getting following Error when I run application.

[code]

[2015-11-11 02:08] achintverma commented on #188
OK, this is not a question now. I figured out the issue. If we pass @ in password string, which was present in my MongoDB password, it fails in URL Parsing since the code in loopback-connector-mongodb/node_modules/mongodb/lib/url_parser.js uses @ character as separator.

Please fix this issue.

[2015-11-13 15:32] gausie opened #191 "Coercion in aggregation"
Hey there,

I'm using aggregation by accessing the connector directly. However, I want to add a $match before my $group.

The $match is going to be based on a REST param (i.e. a filter) so I need type coercion. Any ideas if that is possible?

[2015-11-16 22:40] mastertinner opened #192 "find queries with the where:near filter don't trigger "loaded" operation hook"
When using the MongoDB connector, queries which use the "near" filter of the [GeoPoint class](https://docs.strongloop.com/display/LB/GeoPoint+class) (e.g. `{ "where": { "geo": { "near": "47,7" }}}`) don't trigger the `loaded`[operation hook](https://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-loaded). All other queries do trigger the hook.

This error doesn't occur when us

[2015-11-21 03:55] smartmouse opened #193 "loopback-connector-mongodb test failed on zlinux SLES 11"
✓ aborts when `before save` hook fails
      ✓ applies updates from `before save` hook
      ✓ validates model after `before save` hook
      ✓ triggers `persist` hook
      ✓ applies updates from `persist` hook
      ✓ applies updates from `persist` hook - for nested model instance
      ✓ triggers `loaded` hook
      ✓ emits error when `loaded` hook fails
      ✓ applies updates from `loaded` ho

[2015-11-21 17:50] paulomcnally opened #194 "remoteMethod 'all'"
Hi.

I have remote method with name **all**.

This remote method have:

[code]

Order filter dont work, but renaming remote method to **allData** work ok.

This make conflicts? https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L657

[2015-11-23 06:26] dcajio commented on #74
This has gone unanswered for close to a year now.  Has there been any traction on this, another way to handle it, or is it still not possible?

[2015-11-23 16:55] Ijmir opened #195 "connector hook "after execute" called after getting the cursor and not the actual results"
maybe its by design, but I would expect to have the results from my connector on the "after execute" hook and not only the cursor.
my use case is measuring time that takes the backend to work.

[2015-11-24 20:34] rawrmaan opened #197 "1.13.1 breaks inq query"
Commit to blame: 35c4299d9fbc4922e361eba19dfa3b77116b3dc1

Here's a generalized version of the query that's failing for us:

[code]

And here's an abridged stack trace:

[code]

@raymondfeng

[2015-11-26 14:06] ekussberg opened #198 "Latest release fails the tests"
Hello,

the latest release of the package destroys our tests, that worked with 1.13.0. Here is the error:

[code]

[2015-11-29 14:00] ghislainf commented on #129
I have the same issue. @mrfelton your fix works well ! Please merge

[2015-12-02 23:03] rawrmaan commented on #198
Related to #197

[2015-12-03 17:31] Ijmir commented on #136
+

[2015-12-07 09:48] benkroeger opened #200 "Documentation - datasources.json"
Just found out, that if you provide a `url` property in your `datasources.json` file, other properties like `hostname`, `port`, `username`, `password`, `database` are ignored.
I actually wanted to override my general `datasources.json` with an environment specific `datasources.production.json` - had `url` defined in the global one but wanted to use all other properties in the environment file.
Set

[2015-12-07 09:56] benkroeger opened #201 "Wrong positioning of db options in lib/mongodb.js#initialize()"
While debugging some other issue, I found that the `initialize` function actually sets database options like `safe` and `w` (`writeConcern`) on the settings that are passed on the the native-mongo-db client's [connect](http://mongodb.github.io/node-mongodb-native/2.0/api/MongoClient.html#.connect) method.
This method actually would expect **db options** in a hash property of the settings called `d

[2015-12-07 22:32] #80 closed

[2015-12-11 11:09] MichaelDiguet opened #205 "Incompatibility between enableOptimizedFindOrCreate and validatesUniquenessOf"
Hi ,
I am very happy to use the new option 'enableOptimizedFindOrCreate'.

It is very important for my application that findOrCreate operations are atomic. This wasn't the case before enableOptimizedFindOrCreate, it is now the case.

**Unfortunately, there is a big issue related to the usage of enableOptimizedFindOrCreate:**
It does not work with Models using the 'validatesUniquenessOf' to ensure

[2015-12-13 03:52] BerkeleyTrue opened #206 "[BREAKING] 0.13.1 Id coercion results in id: 'undefined'"
Using the static `create` method with a data object will result in an id value equal to `undefined`

This is a breaking change.

Seems that [this](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L237) will coerce id's into strings, but when the id  undefined, it gets coerced into a string `undefined` and saves to the db with that id. Trying to use the create met

[2015-12-13 19:22] #206 closed

[2015-12-15 23:09] BerkeleyTrue opened #207 "[Breaking] 1.13.1 buildWhere no longer turns ID's into ObjectID's"
A breaking change is introduced into 0.13.1

The buildWhere function no longer creates objectId from data id.

The line that is removed is here https://github.com/strongloop/loopback-connector-mongodb/commit/35c4299d9fbc4922e361eba19dfa3b77116b3dc1#diff-567d120f151f51afa9605ebcf0f20106L549

This fundamentally changes the behavior of this function and effects all queries where the id is used.

[2015-12-15 23:18] jmls opened #208 "11.3.1 breaks findbyId in mongo"
I have a record with id "5656ff55447fe38d129a5767"

in 11.3.0 the findById in the explorer works just fine, and returns the record
in 11.3.1 it no longer can find the record

https://strongloop/loopback-connector-mongodb@681da1f

may have introduced this problem

[2015-12-15 23:48] raymondfeng commented on #207
Duplicate of #208

[2015-12-15 23:48] #207 closed

[2015-12-16 00:06] raymondfeng commented on #208
@jmls @BerkeleyTrue Can you provide a test case?

[2015-12-16 00:11] raymondfeng commented on #208
I cannot reproduce the problem with newly added tests - https://github.com/strongloop/loopback-connector-mongodb/blob/master/test/id.test.js#L134-L152

[2015-12-16 00:40] BerkeleyTrue commented on #208
Here is where it fails for us https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/common/models/promo.js#L40

Here is where the job is created initially
https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/server/services/job.js#L25

[2015-12-16 00:56] raymondfeng commented on #208
@BerkeleyTrue Your job model has the following id: https://github.com/FreeCodeCamp/FreeCodeCamp/blob/staging/common/models/job.json#L8-L11

Please note its type is set to `string` and `generated` is NOT set to `true`. In this case, LoopBack thinks its type is string, but the generated `_id` is `ObjectId`. In earlier versions, mongodb connector always coerce `_id` to ObjectId if the string matches

[2015-12-16 00:59] BerkeleyTrue commented on #208
@raymondfeng Yes, but that change was introduced and acceptable as ID's were still stored as ObjectID's. The changes introduced in 1.13.1 break this behavior.

[2015-12-16 09:21] jmls commented on #208
Breaks it badly, I might add - code and systems that were running just fine started failing with some very odd errors. Turns out that a findbyid() is now not working, despite everything looking fine

Whilst I admit guilt in changing the id datatype with data in the db, I *did* run checks and tests and established that no harm was done, and all of our system tests showed that the change was working

[2015-12-24 07:20] TidyHuang opened #217 "Can't get results by using $in as query filter for mongodb datasource"
The following query filter works well by MogoDBHub and returns several expected entries, but get empty array when using node API to query mongoDB datasource. An '$in' querying example: { services: { '$in': [ 'baidu' ] } }

Any one find the same issue?

[2015-12-24 07:45] #217 closed

[2015-12-31 17:26] noamtz opened #218 "Filter documents where 'type' field doesn't exists not working"
I have a model called "Form" with fields: "name", "status".

recently I've added new field called "type".
I need to get old forms that  "type" field doesn't exists so i pass this filter:
[code]
and i'm getting an empty array. (with every other field it works just fine)

I set DEBUG variable to be:
[code]

and the debug print this lines:
[code]

and if i try to check existence of different field su

[2016-01-05 00:38] listepo opened #219 "Native validation support"
Hi, it would be very useful to use the native validation included in mongodb 3.2.
You have already provided this implementation?
Thank you

[2016-01-06 20:22] Amir-61 commented on #102
Hey @moguelator,

Could you please let us know if `$exist` like the following usage worked for you, if so please let us know so we can close this ticket.

The example usage for `$exist`:

[code]

If it does not work, please create a sample repo using our [loopback-sandbox](https://github.com/sharkinsspatial/loopback-sandbox) so we can look into it.

Thanks!

[2016-01-06 22:35] fabien opened #220 "Race condition (multiple connections created)"
There's a race condition when `connect` is called multiple times. While Juggler keeps track of `dataSource.connecting`, it is not used on a lower-level inside the connector.

Here's a fix:

[code]

@raymondfeng care to take a look? I ran in to this while using Juggler standalone, and the script would not exit, even when properly closing the connection.

[2016-01-06 23:10] raymondfeng commented on #220
Does the same problem occur to other connectors too?

[2016-01-06 23:18] fabien commented on #220
I'm not 100% sure. It didn't happen with the memory connector - which is no surprise I guess.

In the standalone script I'm explicitly connecting all datasources, before I actually define or use any models. This effectively sets the status to `connecting`. However, as soon as I actually start using models, a connection attempts are made, causing the `db` property to be overwritten, and leaving 'zo

[2016-01-06 23:23] raymondfeng commented on #220
Feel free to make a patch as you proposed.

[2016-01-07 01:25] #102 closed

[2016-01-07 01:25] moguelator commented on #102
Thanks, it worked.

[2016-01-07 15:09] Amir-61 commented on #102
@moguelator,

Glad that your problem is solved.

Thank you!

[2016-01-07 21:12] fabien commented on #220
@raymondfeng I've created a PR. In case you're interested, I pushed the project I was talking about:

https://github.com/fabien/independent-juggler

It eases some of the steps you'd otherwise have to go through when using Juggler independently from Loopback. In a way, I feel some parts of `loopback-boot` should have been implemented in `loopback-datasource-juggler` instead. Hence this helper modul

[2016-01-11 14:55] rkmax commented on #197
I'm having the exactly same issue with version 1.13.2. I think this is critical

[2016-01-11 21:28] Amir-61 commented on #178
Hey @joncarlson,

I just tried your example on my end and there was no problem; I used version `1.13.1` for `loopback-connector-mongodb`. Could you please upgrade your packages and try again; if the problem persists could you please create a sample repo using our [loopback-sandbox](https://github.com/sharkinsspatial/loopback-sandbox) to re-produce the issue?

Also, if your problem gets solved by u

[2016-01-11 21:47] Amir-61 commented on #218
@noamtz,

I have tried the following syntax and it works;

[code]

 could you please create a repo uisng our [loopback-sandbox](https://github.com/sharkinsspatial/loopback-sandbox) to reproduce the issue?

Thanks

[2016-01-11 22:05] Amir-61 commented on #201
@benkroeger,

Could you please clarify more if there is something wrong? As far as I can say In [initialize method](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L56-L72) `dataSource.settings.safe` and `dataSource.settings.w` can be undefined and in this case the default values will be set.

Thanks a lot!

[2016-01-11 22:12] Amir-61 commented on #198
I just tried `loopback-connector-mongodb` version `1.13.1` and all tests pass.

[2016-01-11 23:56] cchacons opened #224 "is db.collection.distinct supported?"
Hi guys,

is db.collection.distinct() supported?
https://docs.mongodb.org/manual/reference/method/db.collection.distinct/

I got this error:
{"error":{"name":"TypeError","status":500,"message":"Event.distinct is not a function"

Thanks,
Carlos

[2016-01-12 00:33] cchacons commented on #224
Can we get this supported? How difficult is to add support for this?

Thanks,
Carlos

[2016-01-12 08:30] benkroeger commented on #201
@Amir-61 it is correct, that this module would use default values for the settings `safe` and `w`. However, the way these settings are passed on to the [MongoClient.connect](http://mongodb.github.io/node-mongodb-native/2.0/api/MongoClient.html) method is not correct. The constructor will simply ignore them, since the only valid options are `uri_decode_auth`, `db`, `server`, `replSet`, `mongos` and

[2016-01-14 22:41] Amir-61 commented on #201
@benkroeger Would you like to submit a patch?

[2016-01-18 19:11] masalinas opened #225 "Filtering dates"
I'm using 1.13.3 version mongo connector, I'm trying filtering dates from mongodb configured like ISODate like this:

[code]

But any register is recovered, it's a bug of the connector??, what solution I have to filter dates in mongodb.

Regards.

[2016-01-18 19:25] masalinas commented on #225
I'll resolve the problem the date type was string and must be date

Regards

[2016-01-18 20:39] charlesdeuter opened #226 "No support for $bitsAnySet?"
Hi I'm trying to do a bitmask query, however it looks as if there is no support for the mongoDB $bitsAnySet query operator.

I'm using a simple call, as such:
'Archive.find({where: {options: { $bitsAnySet: 15}}}, callback);'

the object attribute is configured as such:
'"options": {
    "type": "number",
    "required": true,
    "default": 12
}"'

'Can't canonicalize query: BadValue unknown opera

[2016-01-18 22:21] ainesophaur commented on #226
That operator is available for mongodb driver 2.1 -- if you check the package.json for loopback-connector-mongodb it uses driver 2.0.35

[2016-01-19 13:41] vasanthps-rm commented on #176
Any updates on this issue?

[2016-01-19 14:27] mariohmol commented on #123
This is really strange. I had an app using mysql and it worked. Then i resolve to port it to mongodb and after that login stop working, giving me this email already exists error.

After removing coding and testing i could see that this problems happens when i have something like that:

[code]

When i remove the verify function it works as normal.

So it looks like a bug in the connector.

[2016-01-19 14:28] mariohmol commented on #123
Just to let you know, i'm using Mac OS with:

strongloop v6.0.0 (node v4.2.2)
├── strong-arc@1.8.5 (d01942e)
├── strong-build@2.0.6 (d008a3e)
├── strong-deploy@3.1.2 (be6180a)
├── strong-mesh-models@8.1.0 (62e539b)
├── strong-pm@5.0.1 (b96f806)
├── strong-registry@1.1.5 (f46e58f)
├── strong-start@1.3.2 (1327018)
├─┬ strong-supervisor@3.3.1 (1e39220)
│ └── strong-agent@2.0.2 (4ea7ee9)
├── generator

[2016-01-19 15:06] mariohmol commented on #123
i found out my problem.. I had my user.json from mysql and i changed some attributes to make it working in mongodb.. but i forgot to remove the identity from on.. example:

[code]
Its necessary to remove the "id": true to make mongodb find the correct object in user.save used inside verify function.

[2016-01-19 17:41] erg0dic commented on #128
+1, affects me as well

[2016-01-22 02:44] Amir-61 commented on #218
I'm closing this ticket since the given solution works. Please feel free to open a ticket if the problem persists.

Thanks a lot!

[2016-01-22 02:44] #218 closed

[2016-01-24 04:45] BerkeleyTrue commented on #208
@raymondfeng Would this change also effect queries? I'm finding the state method updateAll no longer behaves the same as well.

[2016-01-24 05:26] BerkeleyTrue commented on #208
@raymondfeng Just confirmed that the behavior of buildWhere is still breaking queries with id prop.

This:
[code]
No longer works. I'm having to hack together code like this to get it to work:

[code]
While this works, I'm afraid of other queries throughout the site might be broken as well and will need to revert production back to pre 1.13.1.

Any reason that commit is not reverted and pushed on

[2016-01-24 05:31] raymondfeng commented on #208
@BerkeleyTrue Sorry for the breaks. Would you please contribute your test cases so that we can make sure there is no regression as we change the code?

[2016-01-24 18:10] AurelieV commented on #197
Currently this brokes include for HasManyThrough relation. Rollback to 1.12 version has corrected the problem for me.

[2016-01-26 02:11] cchacons opened #227 "StrongLoop: “in” filter not working for string type"
Copying from StackOverflow:
http://stackoverflow.com/questions/35005956/strongloop-in-filter-not-working-for-string-type

In StrongLoop, the "in" filter it is not working for fields of string type. I'm posting here to see if anyone else have seen this issue or if its a known issue in StrongLoop MongoDB connector. Also to see if there is any workaround.

It does work for me for integer types fields

[2016-01-26 04:30] cchacons commented on #227
I added more debug notes in stackoverflow

http://stackoverflow.com/questions/35005956/strongloop-in-filter-not-working-for-string-type

[2016-01-26 19:28] Amir-61 commented on #178
Hi @joncarlson,

I tried this issue and it seems it is working, if you still have the same issue, could you please provide a sample repo, re-producing the issue? If the problem does not persist, I will be closing this ticket soon.

Thanks!

[2016-01-26 19:32] Amir-61 commented on #198
I'm closing this ticket since it seems all tests pass with the newer versions. Please feel free to re-open it if you still have the same issue.

Thanks!

[2016-01-26 20:34] joncarlson commented on #178
@Amir-61 I just tried the example again and it's working now. One of the upgraded packages must have fixed it. Thanks!

[2016-01-26 20:34] #178 closed

[2016-01-26 20:40] Amir-61 commented on #178
Glad that the problem is solved! Thanks!

[2016-01-28 00:13] cchacons commented on #227
Solved. Should use inq instead. See details here:
http://stackoverflow.com/questions/35005956/strongloop-in-filter-not-working-for-string-type/35015804?noredirect=1#comment57797968_35015804

[2016-01-28 00:13] #227 closed

[2016-01-28 09:19] vserrao opened #228 "npm test fails with error " Uncaught TypeError: Cannot read property 'lengthOf' of undefined ""
After doing a clone of this repo and "npm install", when I try to do"npm test", I'm getting the error:  "Uncaught TypeError: Cannot read property 'lengthOf' of undefined".
The console output locates the source of error at "node_modules/loopback-datasource-juggler/test/include.test.js:105:71" .

Tracing to the above location, I tried to modify line number: 105 from "user.toJSON().should.have.proper

[2016-01-29 07:47] yshing commented on #176
It seems that the date compare only works if date is passed as String.
And between filter doesn't works while ```?filter[where][and][0][postDate][lt]=2016-01-27&filter[where][and][1][postDate][gt]=2016-01-26``` returns correct result

[2016-01-29 10:48] Josurom commented on #176
I have the same problem.
In mongodb the sentence is:

            "activity.date" : {
                "$gte" : ISODate("2013-06-01T00:00:00.000+0000"),
                "$lte" : ISODate("2013-06-30T00:00:00.000+0000")
            }

But in loopback I can't use between (I use moment for the dates):

"activity.date" : {
                                   between: [desde.format("YYYY-MM-DDT00:00:00.00

[2016-01-29 18:05] #198 closed

[2016-01-31 10:16] barocsi opened #229 "Debug Strings with MongoDB connector"
I am trying to use debug strings filter with DEBUG=loopback:connector:mongodb
to find what could cause one of my queries to fail. However the result has a lot of information, the queries are only outputting

[code]

type of strings, which is not elaborate enough.

[2016-01-31 10:42] barocsi commented on #229
Anyone who might want to see the latest queries for a collection in mongodb:
[code]

[2016-02-01 07:52] jamesjjk commented on #205
+1 incompatible function for atomic updates.

[2016-02-03 17:28] alFReD-NSH commented on #128
There's two ways, to fix this.

- Make sure when inserting roleMappings, the principalId is ObjectId. Right now there are multiple places in loopback's code that will convert the principalId to string, and this seems to me it is by design, so I guess this is not possible.
- On queries make sure when principalId is not converted to ObjectId. This is fixed in #67, but not merged, due to unresolved c

[2016-02-04 22:09] Amir-61 opened #230 "Date Filter Causing Issue with GET end point filter"
Issue asked by: @kalimulhaq

I am trying to get documents from a mongodb collection using a **filter** in GET end point and I get an empty result

My filter is
`http://localhost:3101/api/quizRecord?filter={%22where%22:{%22and%22:[{%22createdAt%22:{%22gt%22:%222016-01-28T08:00:00.000Z%22}},{%22createdAt%22:{%22lt%22:%222016-02-05T07:59:59.000Z%22}}]},%22order%22:[%22createdAt%20ASC%22],%22limit%22:

[2016-02-06 13:56] alFReD-NSH commented on #128
Actually it seems like we can set the principalId type to ObjectId and it works(for me at least):

[code]

It uses the [`ObjectID` defined by the mongodb connector](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L15-L34) which will handle the cases where the input cannot be converted to ObjectID.

[2016-02-08 16:19] mrfelton opened #231 ""cannot dropAllIndexes when index builds in progress" during automigrate"
I'm getting the following when running `db.automigrate()` on a database that contains a lot of data.

  loopback:connector:mongodb automigrate +7ms
  loopback:connector:mongodb drop collection Campaign for model Campaign +3ms
  loopback:connector:mongodb create collection Campaign for model Campaign +3ms
  loopback:connector:mongodb drop collection Event for model Event +3ms
  loopback:connector:m

[2016-02-08 18:05] Amir-61 commented on #220
I'm closing this issue as the [PR#221](https://github.com/strongloop/loopback-connector-mongodb/pull/221) fixed this problem

[2016-02-08 18:05] #220 closed

[2016-02-11 16:36] ahsanshafiq commented on #104
+1

[2016-02-11 16:37] ahsanshafiq commented on #224
+1

[2016-02-12 03:36] vserrao commented on #228
hi,

Any updates on this issue ?

[2016-02-15 10:20] SynerG commented on #55
+1 Please, fix this. Even if you create a specific index for your query, MongoDb cannot use the index because Loopback requests to order by `_id`, and the field is not included in the index. MongoDB docs explain it: https://docs.mongodb.org/manual/core/index-intersection/#index-intersection-and-sort

[2016-02-15 16:42] Freyert opened #232 "allowExtendedOperators documentation could be more clear."
I've been trying to set `allowExtendedOperators` all morning, but I can't seem to place it in the right place, and the documentation has conflicting advice: do I set it in `settings` or  `options`? I can't seem to set it when I call `createOrUpdate(document, options)` either.

[2016-02-19 10:39] ashutoshdev commented on #181
I am also getting the same error .

[2016-02-19 11:42] benkroeger commented on #201
PR submitted

[2016-02-22 15:56] Amir-61 commented on #201
@benkroeger Thanks a lot for the patch; someone will review it soon.

[2016-02-24 11:48] mariohmol commented on #197
in my case i cant see this error.. but inq is not working anyway

[2016-02-24 11:51] mariohmol commented on #75
in my case i cant see this error.. but inq is not working anyway

[2016-02-24 19:20] BerkeleyTrue commented on #197
This commit and the subsequent patch release has introduced a ton of breaking changes. A new release should be made reverting that commit and that commit should come in a 2.0 release.

I've frozen our production to 1.13.0 until this commit is reversed.

[2016-02-26 10:55] Freundschaft opened #234 "mongo native GeoJSON and GeoIndex not compatible with loopback GeoPoint"
I have implemented loopback with GeoPoint, but queries are quite slow due to nonexisting geoindexing.

Now when I use a geoJSON Ponit data structure, the problem is I cant use the GeoPoint feature for the near queries in loopback, is there a solution to bring these two things together?

Cheers

[2016-02-26 11:02] Freundschaft commented on #234
apparently theres a pull request for this but it hasnt been merged https://github.com/strongloop/loopback-connector-mongodb/pull/68

[2016-02-28 05:37] jerowe commented on #224
+1

[2016-03-09 12:23] Morriz opened #235 "record ids are not strings"
IMO it is implied that id of type string should be a string.

It's now not possible to test two identical model id's (that have the same string value) by reference.

[2016-03-09 12:52] Morriz commented on #235
To add to this, I found that it is now even impossible to test these id's using abstract equality (i.e. ==).
We now have to resort to doing this to circumvent failure:

[code]

What is going on here?

[2016-03-14 08:33] oscar-anton opened #236 "near filter not work property because connector not implements buildNearFilter"
Recently i' ve detected an issue in near filter, when you do something like this:

`Mymodel.find({where:{near:{lat:latitude, lng:longitude}}})`

First, when loopback-datasource-juggler  checks geoSupport by checking buildNearFilter method, detects that mongodb connector not support near filter and executes in memory filter by accessing to all documents of the collection (this causes several perfor

[2016-03-14 13:52] Amir-61 commented on #236
I believe this [PR](https://github.com/strongloop/loopback-connector-mongodb/pull/68/files) solves this problem. We will merge it soon. Thanks :-)

[2016-03-14 14:08] oscar-anton commented on #236
Thanks @Amir-61 , nice solution that solves entire issue ;)

[2016-03-19 10:07] Lughino opened #237 "Give a chance to enter the options for each query and remove default options"
In database queries the object options is not passed.
It would be very useful to be able to pass these options at the query level.
For example, if I wanted that for a specific query the `writeConcern` option is equal to 0 I could pass it to the query.

Also enter the default options for some queries, see [https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L317](url

[2016-03-25 13:02] sebastianhaas commented on #55
+1

[2016-03-28 08:25] ahmed-abdulmoniem commented on #236
@Amir-61 This will be merged when please?

[2016-03-28 13:23] Amir-61 commented on #236
@ahmed-abdulmoniem As you see it is being reviewed by one of the team leads. It will be merged soon. Thanks!

[2016-03-28 16:18] ahmed-abdulmoniem commented on #236
Thanks

[2016-03-28 16:20] ahmed-abdulmoniem opened #238 "Is using a big include object will affect performance specially if collections have a lot of data?"
Hi,

I have a big `include` object:

[code]

Actually, 3-5 of those collections/relations are big collections and contains a lot of data.

Is that will affect performance?

Thanks.

[2016-03-30 06:31] ahmed-abdulmoniem commented on #238
Any clue guys?

[2016-04-03 21:11] Amir-61 commented on #185
Hi @AlmaasAre

Could you please put the link to the code you got the screen shot from? Thanks for helping us to improve the documentation.

Thanks!

[2016-04-03 21:16] Amir-61 commented on #187
I believe we don't have support to create a **database** at runtime; But could you please give me use-cases for this feature?

Thanks!

[2016-04-03 21:22] Amir-61 commented on #108
I believe this has already been solved and closing it.

[code]
Via the REST API - see strongloop/loopback-connector-mongodb#86
[code]

[2016-04-03 21:23] #108 closed

[2016-04-04 07:32] AlmaasAre commented on #185
https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L90

[2016-04-04 19:25] ahmed-abdulmoniem commented on #238
Any clue guys?

[2016-04-05 03:20] superkhau commented on #238
@ahmed-abdulmoniem Sorry for the late reply. The more data you have, the longer it'll take to query all the items. You also have some nested includes, so there will definitely be a penalty to query the items in the related models.

For future reference, please post questions at https://groups.google.com/forum/#!forum/loopbackjs. See https://github.com/strongloop/loopback/wiki/Questions for more de

[2016-04-05 03:20] #238 closed

[2016-04-06 09:37] ahmed-abdulmoniem commented on #238
@superkhau I mean it will be slow even with Mongo which is not relational database?

[2016-04-06 18:03] superkhau commented on #238
That really depends on how much data you're fetching. "Slow" is also relative, so in general yes it wil take more processing to fetch from multiple collections and combine them into one result set. Please do your own performance testing and see if the speed is adequate for your use case.

[2016-04-07 13:29] jmbegley1968 opened #239 "Cannot find object by ID for complex ID objects"
Cannot find object by ID for complex (non-string) ID objects.

`buildWhere(model, {"_id": { key1: "val1", key2: "val2"}})`will cause error message from mongo _Invalid Operator $key1._

`MongoDB.prototype.buildWhere` function assumes we have a spec (i.e. lt, gt) which it assumes is the first/only property at the top level of the where parameter.
What I really want to do in my app code is `model.fin

[2016-04-07 19:51] jannyHou commented on #128
Thank you @alFReD-NSH
Same issue report in loopback:
https://github.com/strongloop/loopback/issues/1441
Let's keep discussion in that issue.
Thanks for understanding:)

Also post another workaround here just in case someone google and see this issue:
https://github.com/strongloop/loopback/issues/1441#issuecomment-179802633

[2016-04-07 19:51] #128 closed

[2016-04-14 20:51] Amir-61 commented on #239
Could you please provide a sample repo explaining what you are trying to do using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox); also could you please provide the exact version of you mongDB server? `2.4` or `2.6`?

Thanks!

[2016-04-19 18:14] jmbegley1968 commented on #239
Thanks for your reply.  Forked sandbox: https://github.com/jmbegley1968/loopback-sandbox
Mongo version 2.4.6
I have MyModel with 2 endpoints.  Executing the endpoints in explorer will show the situation:
GET /MyModels/myFind1:  Gets and displays object with ID:  "string_id"
GET /MyModels/myFind2:  Attempts to get object with ID:  { "key1" : "value1", "key2" : "value2" }
  Error:  "invalid operator

[2016-04-20 16:08] pulkitsinghal commented on #170
@superkhau - is there an internal roadmap for this maybe?

[2016-04-21 08:55] superkhau commented on #170
hi pulkit, long time to talk. ;)

Bulk operations is definitely something I will bring up during our discussions this week. It is definitely somewhere on the roadmap, but I'm not sure how high it is in terms of priority.

[2016-04-21 23:48] demsey2 opened #242 "Upgrade to the latest mongodb driver 2.1.16"
I have a few issues with connection to mongodb database. After sometime my API stopped working and displays "topology was destroyed". I looked at similar issues with other nodejs frameworks and libraries and most of them point to some issues with connection. It has been fixed but "loopback-connector-mongodb" has a dependency to the old mongodb driver which also points to the old mongodb-core modul

[2016-04-21 23:59] Amir-61 commented on #228
It actually passes on the latest version. Please update your package.

Thanks!

[2016-04-22 00:04] Amir-61 commented on #234
Yes The PR will be merged soon hopefully..

[2016-04-29 15:13] MichaelKohler opened #243 "1.13.3 does not work with custom Role and User models"
Hi everyone

We're using custom Role and User models and we discovered that this does not work anymore with version 1.13.3. ```http://localhost:3000/api/users?filter={%22include%22%3A%22roles%22}``` does only return empty arrays for the roles. **With version 1.13.2 this is not a problem at all.**

We have two models (NcUser, NcRole) which are connected through the "roles" relationship (https://git

[2016-04-29 17:12] MichaelKohler commented on #243
Compare between releases: https://github.com/strongloop/loopback-connector-mongodb/compare/v1.13.2...v1.13.3

Though the principalId is still stored in the MongoDB as string (in the RoleMapping collection), not ObjectId for all current modules, it's converting to an ObjectId (and therefore probably doesn't find it):

[code]

coming from https://github.com/strongloop/loopback-connector-mongodb/comp

[2016-04-29 17:12] MichaelKohler commented on #243
@ raymondfeng do you have any input for me for that case?

[2016-05-08 10:00] mattohoh opened #245 "Using extended operators causing non-extended operator update data lost"
If I update a data with some data likes
`{ $addToSet: { set: 1}, updated: date}`

I added the `updated` field in a model operation hook `before save` to let it record the document update time.

The MongoDB.prototype.parseUpdateData will produce the following result
`{ $addToSet: { set: 1}}`

The `updated` field is lost because the `usedOperators` will be 1 and

[code]

will let the non-extended op

[2016-05-15 15:58] pierissimo opened #246 "User login ending in a accessToken entry, with an empty userId property"
I'm using:
- Built-in User model
- Built-in AccessToken model

if I hit the route for login (/User/login), I got back a response with token, but an empty userId.
In the AccessToken collection in the database, the userId property is empty as well.
I'm on fresh project, with no logic added.

Not sure if the issue come from loopback-connector-mongodb module.

[2016-05-16 18:47] superkhau commented on #246
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-05-17 20:06] jmimi commented on #232
It is for mongodb datasources.
In `model.json`, set below block into `options` key
[code]

[2016-05-18 17:43] Amir-61 commented on #228
I'm closing this issue now; please feel free to open a ticket if you run into the same issue.

Thanks!

[2016-05-18 17:43] #228 closed

[2016-05-26 16:28] fedebalderas commented on #99
Hi @srguiwiz any idea about why this query doesn't work?

I'm trying to do a query over  a property wihc is a Date type using **elemMatch** (sorry about my english). Take a look please (i've change a little my model for this example)

![screen shot 2016-05-26 at 11 13 01 am](https://cloud.githubusercontent.com/assets/5208431/15581924/19044dba-2334-11e6-92d3-ee61b9963167.png)

That is my model... S

[2016-05-27 23:10] zanemcca opened #248 "allowExtendedOperators and enableGeoIndexing can break geoPoint"
The `toDatabase` prototype does not catch the `geoPoint` type if it is within a `$set` operator.

This results in the geoJSON database structure being replaced by the geoPoint object.

[2016-05-30 22:42] ebarault opened #249 "no mongos proxy available"
At some point this day, my stronloop api node kept replying
`{ [MongoError: no mongos
proxy available] name: 'MongoError', message: 'no mongos proxy available' }`
to any request

apparently there have been a bug at some point with the mongodb native driver used by loopback-connector-mongodb : [here](https://github.com/Automattic/mongoose/issues/3945) [there](https://github.com/christkv/mongodb-cor

[2016-06-02 05:07] pulkitsinghal opened #250 "RFC: Add something like a `scroll` operation?"
While, RFC ofcourse means `request for comments` ... please keep in mind that I'm partially fishing for something to contribute, and not stir up a hornet's nest of backlash ;)

There are various use-cases around efficiently paging through data in MongoDB and I was recently contemplating how a loopback connector's ORM helps or hurts:
1. The ORM's use of [skip](https://github.com/strongloop/loopback

[2016-06-06 22:02] ebarault opened #251 "random “MongoError: not authorized on XXX to execute command {YYY}” with mongo 3.2 since loopback upgrade"
since my latest loopback upgrade I have random errors like these:

[code]

I'm running mongo 3.2,
using latest nodeJs mongodb driver (node-mongodb-native 2.1.21) and latests strongloop API framework (latest datasource-juggler & related dependancies)

loopback@2.28.0
loopback-datasource-juggler@2.46.1
loopback-connector-mongodb@1.15.2
-------mongodb@2.1.21

Auth schema is SCRAM-SHA-1 over a replica

[2016-06-08 14:05] vgmcglaughlin commented on #251
Seeing the same issue after updating dependencies. Changing from loopback-connector-mongodb@1.15.2 back to loopback-connector-mongodb@1.13.3 resolves the issue for me.

[2016-06-08 14:12] ebarault commented on #251
that's strange, because i just updated back to 1.15.2 the mongodb connector while leaving the rest unchanged (older working set) and i do not have the issue right now. It might come from a certain dependency versions sandwich

[2016-06-08 14:24] vgmcglaughlin commented on #251
Possibly. If it helps, my loopback dependency versions are below.

Working before dependencies updated:
[code]

Failed with updated dependencies:
[code]

Working after changing loopback-connector-mongodb back to 1.13.3:
[code]

[2016-06-08 14:26] ebarault commented on #251
could you confirm your mongodb version (inside loopback-connector-mongodb) (`npm ls mongodb`) when it does not work?

[2016-06-08 14:44] vgmcglaughlin commented on #251
Looks like it's mongodb@2.1.21.

[2016-06-08 15:00] ebarault commented on #251
ok, seems that they retrofit to 2.1.18 on npm and there is a bug filed for it on their mongodb JIRA
https://jira.mongodb.org/browse/NODE-726
The culprit is mongodb driver 2.1.21. Anyone who recently updated loopback's dependencies and is having this issue should mongodb driver to 2.1.18

@loopback team: maybe you could fix the mongodb driver version inside the mongodb connector package?

[2016-06-09 11:33] mrbatista commented on #251
@ebarault same problem. Rollback to mongodb@2.1.18 solved issue.

[2016-06-11 13:31] ahmed-abdulmoniem opened #252 "MongoDb maxDistance is not working?"
Hi Guys,

Trying to make `maxDistance` with `near` work but no luck?

Any clue?

[2016-06-11 21:44] husseiny-m commented on #252
+1

[2016-06-12 14:15] fabien opened #253 "MongoError with empty updateAttributes({})"
As commented at https://github.com/strongloop/loopback-datasource-juggler/pull/772 the PR has uncovered a serious issue in how MongoDB treats 'empty' updates (turned into `$set` by `loopback-connector-mongodb`).

Previously this (or any other error, for that matter) was silently ignored, and I still believe this should be the case with this specific error:  `MongoError: $set is empty. You must spe

[2016-06-14 10:24] hgouveia opened #255 "CRUD operations doesn't work when id property is defined in json file"
CRUD operations doesn't work when the id property is defined in json file

I created a simple model using `slc arc` named **City**, then i went to explorer , make a simple **POST** to create a new **City** ,this works, but then i tried with the **DELETE** request, using the id of the created item, and the result is `{ count : 0 }` ,and should be `{ count : 1}` , this issue happends also with anoth

[2016-06-14 14:19] stephenwil opened #256 "Add a "disabled" property to the datasource configuration"
When having more than one mongo instance in use (e.g. local vs remote), it's annoying that the connector wants to connect on initialisation to all the instances defined in datasources.json.
Ideally, when swapping between the instances, I'd like to be able to add
"disabled" : "true" to the config to disable a particular datasource.

[2016-06-14 16:11] superkhau commented on #256
@stephenwil Would you like to submit a PR?

[2016-06-14 21:01] ahmed-abdulmoniem commented on #252
++++1

[2016-06-14 23:11] mrbatista commented on #157
@raymondfeng Is there any reason why data returned by callback method `updateAttributes` is not set?
I had a look to the code and the method [updateAttributes](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L1000-L1002) implemented in connector does not return updated data (missed option `{new: true}` in findAndModify as @zanemcca said), also in module **loopba

[2016-06-15 17:17] Ijmir opened #258 "upsert performs updateAttributes"
standard loopback PUT(without id in path) performs update attributes instead of upsert. in the connector the update data params is mapped using $set in parseUpdateData function:
[code]
the result is updateAttributes on the query even if upsert flag is defined.

[2016-06-17 19:40] Amir-61 commented on #258
@Ijmir

In LB 2.x PUT(without id in path) performs upset not updateAttributes. Please see:
![screen shot 2016-06-17 at 3 38 37 pm](https://cloud.githubusercontent.com/assets/10672146/16162465/a976820e-34a1-11e6-8cc3-897ef59cecd0.png)

[2016-06-23 12:16] Ijmir commented on #258
thats what you expect. but PUT(without id in path) performs update attributes

[2016-06-23 19:17] Amir-61 commented on #258
Hey @Ijmir
This does not seem a bug to me! If you do not provide `id` in path, but you provide it in `data` object; that is used as the `id`, so in your examples for  PUT (no id in path), although you are not providing `id` in path, you provide `id` in `data` object, so thats why are they being treated as `update` part of `updateOrCreate`.

Thanks!

[2016-06-23 19:21] Amir-61 commented on #224
AFAIK I don't believe if we have support for `is db.collection.distinct()`. @superkhau could you confirm? Would any of you like to submit a PR for that?

Thanks

[2016-06-23 19:24] Amir-61 commented on #225
Hey @masalinas,

Is this issue good to be closed now?

Thanks!

[2016-06-23 19:46] Amir-61 commented on #232
Hey @Freyert

Is this still an issue? Or your problem is solved?

Thanks!

[2016-06-23 19:54] Amir-61 commented on #224
Here is the list of accepted operations at the moment: https://github.com/strongloop/loopback-connector-mongodb/blob/7c717e4446f08210dec628295049835f9206a977/lib/mongodb.js#L469-L476

[2016-06-23 20:02] Amir-61 commented on #237
Hi @Lughino,

Would you like to submit a patch for this?

Thanks!

[2016-06-23 20:09] Amir-61 commented on #243
Hey @markm186

This is a duplicate of this issue: https://github.com/strongloop/loopback-connector-mongodb/issues/208

I'm closing this in favour of #208

Thanks!

[2016-06-23 20:09] #243 closed

[2016-06-23 20:17] Amir-61 commented on #242
Please see [here](https://github.com/strongloop/loopback-connector-mongodb/pull/244#issuecomment-218712429); this is a bug in the `mongodb` module. The peer dependency is listed by `mongodb-core`, which is a dependency of `mongodb`.

Please folow the issue here: https://jira.mongodb.org/browse/NODE-612

Closing now...
Thanks!

[2016-06-23 20:17] #242 closed

[2016-06-23 20:20] Amir-61 commented on #245
Hey @mattohoh ,

Could you please send a PR with failing test? Also if in the PR you can fix the issue, you see, it will be perfect.

Thanks

[2016-06-23 20:22] Amir-61 commented on #248
Could you either send a PR with failing test or reproduce the issue using our [loopback-sandbox](https://github.com/strongloop/loopback-sandbox)?

Thanks!

[2016-06-23 20:27] Amir-61 commented on #249
It seems this is related to `mongodb` native module; it is better if we follow up there...

I keep this ticket open for a while. I will close it soon.

Thanks!

[2016-06-24 05:01] geruiz commented on #49
This error still exists in the latest version .  This correction will be integrated soon?  Thanks

[2016-06-25 08:52] Ijmir commented on #258
If this is true, this means that I can't do a full update by id. I think that upsert means update(full update by id)/insert.

[2016-06-26 14:44] thaiat commented on #258
In version 2.29 it seems that all updates from the REST API are partial updates.
This looks like a bug to me...

[2016-06-28 08:42] rickyngk opened #260 "Can not use gt/lt operation for id field (ObjectId)"
Hello, I've got trouble when query ObjectID

This is my query:

And this is my model

[code]

When I use [gt] or [lt], it always returns empty array. Is it a bug? Or I have to change something in model to do this.

Thank you in advance!

[2016-06-28 21:28] r1b commented on #251
@mrbatista how do you rollback to 2.1.18 since the mongodb dep is "nested" inside loopback-connector-mongodb?

[2016-06-28 21:31] ebarault commented on #251
hi @r1b , just go inside de node_modules rep inside loopback-connected-mongodb and force the install ot the version you desire with npm install mongodb@2.1.18

[2016-06-30 06:54] piu130 opened #261 "We should encodeURIComponent() for username, password and database"
If you have some special character like @ and others in username, password and database it returns:

[code]

We should encode the components before using them.
Should be somewhere in `mongodb.js` in the function `generateMongoDBURL(options)`.

[2016-06-30 11:34] Piu130 commented on #260
How would you compare this `5761dfdd5d50dd18825f129c`? String comparison where a>b and so on?
Does this make sens?
[Here](https://docs.strongloop.com/display/public/LB/Where+filter) you find the available where filters. As you can read there for [lt] and [gt]:

[2016-06-30 18:41] Amir-61 commented on #258
`updateAttributes` does `patch`/`partial update` and we added an alias called [patchAttribute](https://github.com/strongloop/loopback-datasource-juggler/blob/45e14af4a981fcf376276babeb344ceac578186c/lib/dao.js#L2786) recently. To have the full update functionality you should use [replaceById](https://github.com/strongloop/loopback-datasource-juggler/blob/45e14af4a981fcf376276babeb344ceac578186c/li

[2016-07-04 09:47] rickyngk commented on #260
Well, That's perfect if it could be compared as ObjectId, but I found no way to do that.
I see that [lt] and [gt] is for numerical and date type only, but do we have a specific solution for MongoDB?

[2016-07-04 11:43] Piu130 commented on #260
Why do you need this?

[Here](https://stackoverflow.com/questions/33404504/auto-increment-using-loopback-js-and-mongodb) is a possible solution.

[2016-07-04 14:56] rickyngk commented on #260
I'd like to try apply this https://scalegrid.io/blog/fast-paging-with-mongodb/

[2016-07-05 20:21] darknos opened #262 "Reconnection issue after 1.13.x"
I have a problem with losted connection to db with version 1.15.2. on Ubuntu

How to reproduce on any loopback project:
1. start server like node serve/server or slc run
2. check access to any api endpoint ti be sure that you get data from db
3. restart mongodb
4. trying to repeat 2. and no result and timeout after 3 minutes.

with version 1.13.0, on step 4. connection restored and it works like c

[2016-07-06 20:23] arielmcm commented on #56
Enabling (allowExtendedOperators: true) worked for me.

[2016-07-11 06:32] seanbrookes commented on #252
I could really use this functionality right now as well.

There is a PR for a potential fix:  https://github.com/strongloop/loopback-connector-mongodb/pull/259

Would be good if it could be landed.

[2016-07-11 20:08] anagrath commented on #168
I am having issues with an elemMatch on a referencesMany relationship where we are just storing the objectId of the referenced object....

[2016-07-14 15:20] Malkiat-Singh opened #265 "Causing issue in Loopback Current Context Null"
Hi
The fix in this commit causing the current context null issue
 https://github.com/strongloop/loopback-connector-mongodb/commit/566503842f2c5d80b6bd40f8e7002b3b8859aba0

Please fix this

[2016-07-16 06:01] demsey2 commented on #262
I have the same problem running on AWS ESB, I reverted to 1.13 and works fine, before I was running 1.15.2 for a few weeks and all was fine, now I need to use 1.13 not sure what changed

[2016-07-18 06:03] alvinleonard opened #266 "Unable to connect to MongoDB with SSL"
Hi, I have been trying to connect my models to a MongoDB database with SSL turned on. However, I keep getting the following error:

[code]

Is anyone facing the same issue?

[2016-07-19 01:37] #266 closed

[2016-07-28 06:08] rudijs opened #268 "Failed to connect to server on first connect - No retry"
Hi,

I'm seeing some inconsistent reconnect behavior that I can't resolve so would like to ask for some assistance please.

Using Mongo 3.2.6 and these loopback\* versions:

[code]

[code]

MongoDB configuration is:

[code]

You can see I'm trying two different forms of the auto reconnect property name.

I've also tried using one form or the other only.

**Scenario 1 Application startup**)

If Mon

[2016-08-01 01:45] etsuo opened #270 "Documentation unclear about "additional settings""
https://github.com/strongloop/loopback-connector-mongodb#additional-settings implies that:
- `enableGeoIndexing` is set in the datasources.json file.
- `allowExtendedOperators` appears to be set in the model's json config file, according to: https://docs.strongloop.com/display/public/LB/MongoDB+connector

The way the README.md file reads, that's not clear.

Also, it's not clear what the debug:true

[2016-08-01 19:25] etsuo opened #271 "enableGeoIndexing / GeoJSON Bug with $and operations"
I’m having an issue with the Mongo connector and Geo searches when I have the enableGeoIndexing feature turned on…

If I send a REST query over with a simple `near` filter:

[code]

...the proper mongo query gets generated:

[code]

If, however, I send a more compound type of filter with an `and`:

[code]

… the query generated for mongo is invalid because it expeted a 2d index rather than a 2dsph

[2016-08-01 19:42] etsuo commented on #234
It looks like #68 was merged, and the query appears to be working correctly for simple filters where you're just searching on location... but introducing an `and` operator reverts it back to using a GeoPoint rather than a GeoJSON query... I opened a new issue here: #271

[2016-08-01 22:39] etsuo commented on #271
The problem seems related to the [`hasNearFilter` function](https://github.com/strongloop/loopback-connector-mongodb/blob/a10478bc08270f1890a6b529d69bb174686c6ac8/lib/mongodb.js#L758).

[code]
This appears to have been introduced here: 8112ebc720c4dbb74b72db3e44260905ed25128c.

When `and` is encountered, it evaluates to `false`, so the `buildNearFilter` function is never called.

[2016-08-01 23:17] etsuo commented on #271
ok, found the root of the problem... `loopback-datasource-juggler`'s [`lib/geo.js:nearFilter`](https://github.com/strongloop/loopback-datasource-juggler/blob/27c6279d6ce84d624457658d843967edbfd4ba61/lib/geo.js#L12) does a non-recursive search...

As a result, dao.js's find function never triggers because `near` evaluates to false...

So the question is: should this be supported?  This is a valid m

[2016-08-01 23:22] etsuo commented on #271
This issue is also reported here: https://github.com/strongloop/loopback-datasource-juggler/issues/931

[2016-08-02 21:52] etsuo commented on #271
For what it's worth, I have a working fix on my fork here: https://github.com/etsuo/loopback-connector-mongodb

If it's wanted, I'll open a PR, but I need guidance on a couple things:

1. The patch spans two projects: loopback-datasource-juggler and loopback-connector-mongodb. The latter depends on the former to work and the former breaks the latter... so, how do you guys normally go about that?

[2016-08-02 23:02] etsuo commented on #271
Also added `maxDistance` support... which was reported as not working in #252.

[2016-08-03 20:55] 0candy commented on #271
You can create the PR in the respective repo. Then put in the description or add a comment to cross link the two issues and specify which one needs to be merged first or is dependent on the other. Thanks!

[2016-08-03 22:42] superkhau commented on #270
@crandmck ^

[2016-08-04 20:51] crandmck commented on #270
It looks like @timosaikkonen added `enableGeoIndexing` support--can you (or @superkhau) confirm that `enableGeoIndexing` is set in `datasources.json` and  `allowExtendedOperators` is set in the model's json? If so, I can change the README.

Also, I notice that this README still mentions `.loopbackrc`, which I believe has been deprecated for ages and certainly isn't best practice.  I assume I shoul

[2016-08-04 21:16] superkhau commented on #270
@crandmck You can still use `.loopbackrc` via https://github.com/strongloop/loopback-connector-mongodb/blob/master/test/init.js#L11. We don't recommend it though. We need to refactor this project to follow a simple clone, npm install, set your mongodb configs and npm test type of flow. That of course is coming in the future (can't say when).

[2016-08-05 05:35] etsuo commented on #271
@0candy PR opened

[2016-08-05 06:01] etsuo commented on #270
@crandmck `enableGeoIndexing` gets set here: https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L108

I assumed that `settings` represents `datasources.json`, but then I saw that `allowExtendedOperators` appears to be in the `settings` object... but also the `options` object: https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L458

[2016-08-06 19:07] etsuo opened #274 "`include` filter with `{scope: {limit: ...}}` produces wrong query"
Consider the following filter applied to a model (e.g., `Member`):

[code]

Member `belongsTo` Organization, so each member returned has a single Organization record. That works fine.

Member `hasMany` Events. Here's where the problem arises. If I remove the `limit` condition under `scope` for the `events` relation, each Member has every event. That's way too much data to pull across the wire. The

[2016-08-09 19:57] jmbegley1968 commented on #239
Any progress with this?

[2016-08-09 21:00] 0candy commented on #103
Closing this issue as its been resolved.

[2016-08-09 21:00] #103 closed

[2016-08-10 10:02] Freundschaft commented on #46
is this still a problem? in my setup its not working properly

[2016-08-11 07:37] aniljaangra commented on #225
how can it be closed without getting any solution ... how to filter dates ?

[2016-08-11 07:43] masalinas commented on #225
For it's good to be closed
Regards

[2016-08-11 16:36] renanwilliam commented on #255
Facing the same situation here.

[2016-08-11 16:54] superkhau commented on #225
@0candy Can you take a look at this one? Should be a doc issue or a bug.

[2016-08-11 19:10] 0candy commented on #225
@aniljaangra @masalinas has resolved his issues. He was using the wrong type for date. Closing this issue. Thanks!

[2016-08-11 19:10] #225 closed

[2016-08-16 02:18] etsuo commented on #270
@crandmck I ended up having to use the `allowExtendedOperators` today - for what it's worth, putting it in the Model's JSON's `options` got it working for me:
[code]
The documentation says it should go in `settings` in the model. As far as I could tell, that did not work for me... see "Using MongoDB operators in update operations" here: https://docs.strongloop.com/display/public/LB/MongoDB+connect

[2016-08-16 09:45] MylesHarding commented on #268
I am seeing the same issue.

[2016-08-19 00:27] adanmuguirofoo commented on #218
In my case this operator isn't working, the query always returns 0 results when it should be all the documents in that collection.

I tried $exists, exists and "exists" with the same result, and I'm not using any other condition in my query.

`Model.find({ where: { notExistingProperty: { $exists: false } } }, function(err, results) { });`

Am I missing something? My connector version is 1.13.3.

T

[2016-08-19 13:01] 0candy commented on #236
PR has been merged, closing this issue.

[2016-08-19 13:01] #236 closed

[2016-08-19 13:02] 0candy commented on #234
Closing this issue as PR was merged.

[2016-08-19 13:02] #234 closed

[2016-08-22 15:37] gpincheiraa opened #277 "Models change source directory"
I need change the models folder structure. According to the docs I can modify the json config file that by default is:
[code]
I've been trying to change to:
[code]
But when I load the project, i get this error

**How to change the models default directory for models??**

[2016-08-22 15:38] #277 closed

[2016-08-26 08:34] scstan opened #280 "Upsert concatenates nested array instead of just updating it"
So I have a basic model (already saved):
[code]
In my custom save function i do some processing but no changes occur and the result updates are identical to my saved data.
When I do the following ( I use upsert because it is possible to have no previous saved data ):
[code]
The result is:
[code]

I think it should not concatenate my nested array. If I don't do that in my code. It should only repla

[2016-08-26 09:49] scstan commented on #280
Please ignore.
If was using lodash.clone(baseObject) (which failed for some reason). So I ended up using the JSON.stringify(JSON.parse()) strategy.

[2016-08-26 09:49] #280 closed

[2016-08-30 11:36] perkd opened #281 "Extended operators does not work with updateAttributes()"
Works fine with updateAll() but not updateAttributes(), for example:

`anInstance.updateAttributes({name: 'abc', '$inc': { count: 1 }}, { allowExtendedOperators: true }, callback);`

Seems that the extended operators are filtered/removed before reaching the mongo connector?

[2016-09-05 07:42] bachirelkhoury opened #282 "idInjection: ValidationError The instance is not valid. Details: `id` can't be set"
I'm getting this new problem when creating an entity and manually setting its id.

I have created a small test project demonstrating the problem here:
https://github.com/bachirelkhoury/loopback-idinjection-issue

Given I have an entity called group:

[code]

which I'm creating and setting it's id to 'a00000000000000000000000'

I'm getting this error:

[code]

Been stuck on this all day.

[2016-09-11 10:19] bachirelkhoury opened #285 ""Error: Callback was already called" when using "near" filter"
Given this simple geolocation query, when I include the "near" query I'm getting this error:
[code]

Can't find the root cause of this.

This code works:

[code]
This one below throws the error. I've placed a breakpoint in the callback, and it does get called twice internally. Couldn't trace it too far so not sure what's firing this.

[code]

[2016-09-12 04:47] huytbt opened #286 "Cannot filter document with value contain "(" or ")""
I have document
[code]
I cannot filter it by `?filter[where][name][like]=This is example (Abc)`
I just filter it by `?filter[where][name][like]=This is example`
How to filter with `(Abc)`?

Thank!

[2016-09-14 04:02] lushibi commented on #268
same problem, especially when debugging with node-debug, any resolution?

[2016-09-19 05:05] BoLaMN commented on #282
seems to be https://github.com/strongloop/loopback-datasource-juggler/commit/8935b978f33f7cf4dd88454762d26cb78aac3e87

[2016-09-19 08:25] yohanesgultom commented on #224
In case anyone need it, I successfully did it like this using `"loopback-connector-mongodb": "^1.15.2"`:

[code]

[2016-09-19 11:59] robinskumar73 commented on #197
I am having same Issue when used with hasOne relation.

[2016-09-20 19:50] Amir-61 commented on #285
Possibly duplicate of https://github.com/strongloop/loopback-datasource-juggler/issues/1102

[2016-09-20 20:28] rptally commented on #285
I had another version of the server code running on a different machine that wasn't showing the problem.  The only dependency I changed to correct the issue was the loopback-datasource-juggler version back from 51 to 50 to 49.  The loopback-connector-mongodb performs the query correctly with loopback-datasource-juggler 2.49.0.

This is the dependencies section from the project package.json

    "d

[2016-09-20 20:36] Amir-61 commented on #285
@rptally @bachirelkhoury it seems this is a regression from a recent work. Could @rptally or @bachirelkhoury  please provide a sample repo using our loopback-sandbox so I can reproduce it on my local machine and then label it as a bug and escalate it?

I suspect this is a regression from a recent community [PR#259](https://github.com/strongloop/loopback-connector-mongodb/pull/259); @superkhau sinc

[2016-09-20 20:48] rptally commented on #285
It's very easy to duplicate.  Create a loopback app; add a mongo datasource; create a model (Store) with a geopoint field called loc; start the server.   Then use the browser to run the query:

    http://localhost:3000/api/stores?filter[where][loc][near]=32.0,-92.0

You immediately get the "Error: Callback was already called." error.

I've attached the project as requested.  Please let me know wh

[2016-09-22 18:33] habbes commented on #281
Well it worked for, but the `instance` passed to the callback seems to be that of the document before modification and not the updated document. So the document in the database gets update, but the instance you get back in the callback doesn't reflect this.

[2016-09-22 18:37] habbes commented on #281
This seems to be because, they're passing an empty options `{}` to the `"findAndModify"` command on line 1027 of `mongodb.js`. I'm not sure why they chose to implement it this way. On the other hand, they seem to specify `{..., new:true}` for the `updateOrCreate` method (line 527). So I suppose that's what would need to be done to return an updated instance. More on that in the [MongoDb docs](http

[2016-09-22 20:04] superkhau commented on #285
@Amir-61 Thanks for verifying the bug. Let's escalate/TOB/major it.

[2016-09-22 20:34] superkhau commented on #285
@rptally What node version are you on?

[2016-09-22 20:40] superkhau commented on #285
As for the regression, that part is not for sure yet. @loay Is looking into a similiar failure to confirm or see a related fix will fix this too.

[2016-09-22 20:50] rptally commented on #285
@superkhau v4.5.0

fred@dal-api-1:~# node -v
v4.5.0

[2016-09-22 23:24] superkhau commented on #73
Closing as resolved. @paulJordaan @makersu does `var db = app.myDataSource.connector.db;` work? Ping and I will reopen this issue if you still more information.

[2016-09-22 23:24] #73 closed

[2016-09-23 02:41] jainisenough commented on #285
issue exist with too
node: 5.11.1
"loopback-connector-mongodb": "^1.15.1"

[2016-09-23 02:58] superkhau commented on #285
@Amir-61 has been able to reproduce the error and is working on a fix. It is a regression introduced at https://github.com/strongloop/loopback-datasource-juggler/pull/1061.

If @jainisenough @rptally @bachirelkhoury want to take a crack at it, ping me and we can get the fix landed sooner.

[2016-09-23 11:13] habbes commented on #281
I just noticed the calling `instance.updateAttributes` does not seem to return the result from the database in the callback, it seems to be returning the current instance, which could be different from the one in the db... I think this needs to be fixed, it doesn't help to return the same instance when we just called an update.

[2016-09-23 11:36] habbes commented on #281
The result object passed to the callbback from the `updateAttributes` in the connector code is not the same one you get in the callback from the model's `instance.updateAttributes` method...

[2016-09-23 16:41] superkhau commented on #281
Can you provide a sample for us to reproduce the issue? See https://github.com/strongloop/loopback/wiki/Reporting-issues#bug-report

[2016-09-26 06:16] geodeveloper commented on #285
I can reproduce this bug too, by using the **near** filter with datasource MongoDB.

[2016-09-27 17:41] youngtt opened #290 ""near" filter (version 2.53.0) crashes the server if used with an empty current position object."
Filtering on GeoPoint property within an embedded model always return empty [] results:

`where: { 'geoList.point' : { near: { lat: 0, lng: 0} } }`
- 'geoList' being property name of an embedsOne/embedsMany model
- 'point' being a GeoPoint property in the embedded model

[2016-09-28 07:49] betonildo commented on #290
No fix yet?

[2016-09-28 18:51] jwebcat commented on #285
This bug exists with postgres connector as well.

[2016-09-28 19:19] Zvika88 commented on #285
It happens with either Mongo or Postgres. Distance query causes the server to crash with the "Callback was already called" error. Wow, that is a show-stopper issue. @superkhau , would you mind sharing if there is an ETA on a fix for that?

[2016-09-28 19:32] Amir-61 commented on #285
Hey guys we have moved it to top of backlog, and we will take care of it soon. Unfortunately there was a regression from a recent work and there was no test coverage to know that the changes break this geo query as a result of lacking test coverage for geo query. Sorry for inconvenience. For now you may use `loopback-datasource-juggler@2.49.0` to get rid of this bug. We will take care of it soon.

[2016-09-28 19:40] superkhau commented on #285
@Zvika88 @Amir-61 is working on the issue ATM and has better insight into the ETA. It will definitely be pulled into planning for next sprint (ie. next Tuesday). The workaround for now as mentioned by @Amir-61 is to use juggler@2.49.0 until the fix gets landed.

[2016-09-30 16:05] youngtt commented on #290
Nope.

Used the latest GitHub build for both loopback-connector and connector-mongodb

[2016-10-04 20:26] jannyHou commented on #290
@youngtt @betonildo
I am trying to reproduce the issue.
Could you fork https://github.com/strongloop/loopback-sandbox and replace with your code?
Thanks!

This is probably raised due to same bug in https://github.com/strongloop/loopback-connector-mongodb/issues/285

[2016-10-05 17:31] Sequoia commented on #270
# Questions
These are the questions in this ticket, if I'm understanding correctly:

1. Where does `enableGeoIndexing` go? (datasources or model json)?
2. Where does `allowExtendedOperators` go? (datasources or model json)?
3. What does the `debug:true` setting in datasources.json do? ✅ *answered below*

# Observations
From code & discussion on this ticket

1. `enableGeoIndexing`
  * Setting it to

[2016-10-05 17:36] Sequoia commented on #270
fdb3448ead26b81a61b7f7fdd0420d3a32da60b1, which introduces this change, includes tests that explain the intended behavior.

* mongodb connector
  * updateAll
    * extended operators
      * should be possible to enable per model settings
      * should not be possible to enable per model settings when globally disabled
      * should not be possible to use when disabled per model settings

@etsuo

[2016-10-05 21:51] jannyHou commented on #286
@huytbt Could you provide me a repo to reproduce your problem?
You can fork https://github.com/strongloop/loopback-sandbox and replace with your code.
Thanks.

i tried on my local, the filter with `()` works fine..see pic:
![screen shot 2016-10-05 at 5 38 11 pm](https://cloud.githubusercontent.com/assets/12554153/19132623/85181d50-8b22-11e6-8010-97df7063d54f.png)

[2016-10-06 16:39] huytbt commented on #286
Ok @jannyHou
Thanks

[2016-10-06 16:39] #286 closed

[2016-10-06 18:47] jannyHou commented on #282
Thank you @BoLaMN that pr does change the default behaviour of modelInstance creation, and @bachirelkhoury In loopback 3.x defaultly we don't allow users to set id to avoid security issues.
If you need to set your id, the quickest way is add '"forceId": false' in your model.json file.

Please check our doc for more details:
http://loopback.io/doc/en/lb3/3.0-Release-Notes.html

[2016-10-06 19:54] nammaianh commented on #285
Why 2.49.0 works, but 2.51.0 does not ❓

[2016-10-11 15:37] jannyHou commented on #281
@habbes any update for the sample code? you can fork https://github.com/strongloop/loopback-sandbox and replace with your code? Thanks.

[2016-10-11 16:03] jannyHou commented on #274
@etsuo I am trying to reproduce your problem, could you fork https://github.com/strongloop/loopback-sandbox and replace with your sample code?
Thanks.

One important thing I want to know is do you have a through model for the `hasMany` relation? And where did you get the Mongodb query? Did you get it from `DEBUG=*mongodb` or other debug info?

[2016-10-11 17:46] jannyHou commented on #268
@rudijs I am trying to reproduce your problem.

- For scenario 2, I reproduced your problem and label it as a bug.
  But as a workaround, my app returns error 500 when "lb app running but mongo server shut down" if I don't provide the `server` configs for mongodb.
  MongoDB shell version: 3.2.6
  My dependencies version
[code]

- And for scenario 1, the app **won't** run if your mongodb server is

[2016-10-12 01:24] rudijs commented on #268
@jannyHou Hi, yes for scenario 1 the app won't run at all if MongoDB is down.

So it's quite serious.

We expect the app (express server) to start and just return a valid error, rather than not start at all.

[2016-10-12 01:25] rudijs commented on #268
@jannyHou Will try scenario 2 without the server properties shortly and reply here with the results.

[2016-10-12 02:27] Amir-61 commented on #253
Connect to https://github.com/strongloop/loopback-connector-mongodb/pull/254

[2016-10-12 02:37] Amir-61 commented on #258
I'm closing this issue since the question has been answered. Please feel free to open the issue, if you see any issues.

Thanks!

[2016-10-12 02:37] #258 closed

[2016-10-12 03:57] rudijs commented on #268
@jannyHou For scenario 2 seeing the same behavior as described with or without the server reconnection properties.

[2016-10-12 15:04] jannyHou commented on #268
@rudijs If you want to run the app no matter ds server is open or down, we have a config variable to do it, in `datasources.json`, set `lazyConnect` to true:

[code]

Please check doc http://loopback.io/doc/en/lb2/datasources.json.html#standard-properties for details

[2016-10-12 18:17] Amir-61 commented on #285
@rptally @bachirelkhoury @jainisenough @geodeveloper @jwebcat @Zvika88

https://github.com/strongloop/loopback-datasource-juggler/pull/1108 fixes the bug reported here. I tried https://github.com/strongloop/loopback-datasource-juggler/pull/1108 and it seems the bug reported here gets resolved; before landing the patch I also appreciate if one of you please verify that the bug you reported here is

[2016-10-12 23:08] Amir-61 commented on #285
To make it simpler, I uploaded [loopback-geopoint-example](https://github.com/Amir-61/loopback-geopoint-example), which has a simple geopoint query with `near` filter using `loopback-connector-mongodb` as a datasource for backing system. If you run it as is with `"loopback-datasource-juggler": "^2.51.0"`, it fails. However if you do the steps mentioned in the previous comment using `npm link`, it

[2016-10-13 01:47] rudijs commented on #268
@jannyHou I've just tried using the "lazyConnect" option as detailed at:

http://loopback.io/doc/en/lb2/datasources.json.html#standard-properties

I'm still having problems though.

The server does start up ok, lazy, but when I turn MongoDB on (was off on nodejs start up) there's no reconnect.

The server remains unable to connect to MongoDB. Seems similar to scenario 1 above - no reconnect.

[2016-10-13 08:52] bajtos commented on #285
FWIW, npm can install directly from github. `npm install strongloop/loopback-datasource-juggler#fix_geo_2.x` should work equally well.

[2016-10-13 14:41] jannyHou commented on #268
@rudijs I also noticed the bug after I wrote that comment, I created a bug issue for it:
https://github.com/strongloop/loopback/issues/2850

Sorry I thought you didn't see that comment and since it won't solve the problem I deleted it.

[2016-10-13 14:45] Amir-61 commented on #285
https://github.com/strongloop/loopback-datasource-juggler/pull/1108 landed and released `loopback-datasource-juggler@2.53.0`

[2016-10-13 20:00] Amir-61 commented on #285
https://github.com/strongloop/loopback-datasource-juggler/pull/1108 landed and released loopback-datasource-juggler@2.53.0.

I will be closing this issue.

Thanks!

[2016-10-14 13:56] #285 closed

[2016-10-18 11:21] jamesjjk opened #296 "Release version 1.17 throws type errors"
Release version 1.17 is throwing DB type errors.

Using Loopback version 2.29
juggler version 2.46.1
mongodb 3.0.7

Downgrading to version: 1.15.2 resolves the issue.

Full log output:

[code]

[2016-10-19 09:40] gvillenave commented on #296
I'm seeing the same issue (same client versions, mongodb 3.2.7)

[2016-10-19 20:37] jannyHou commented on #296
@jamesjjk @gvillenave I run `npm test` on my local with the latest version, but didn't see any error.
Can you elaborate more about how do you get the error?

my local result of `npm test`:
[code]

[2016-10-20 09:42] jamesjjk commented on #296
@jannyHou Hi Janny we have taken out this version of our environments, we needed a quick fix. But it could be related to atomic writes, or extended operator usage, just looking at your tests. We also use where so required the mongodb client directly - which is in your documentation too.
[code]

[2016-10-24 06:45] iamprohaktiv commented on #125
I need to console the query which is executing on models which included many relations.  Please help me if possible.

[2016-10-24 22:45] Amir-61 commented on #290
Is this still an issue?

[2016-10-25 18:23] Zvika88 commented on #290
I've been working with juggler 2.49 since the bug report and for most cases
it was OK. I'll try the new version over the next few days and let you
know. Thanks!

On Mon, Oct 24, 2016 at 3:45 PM, Amirali Jafarian <notifications@github.com>
wrote:

[2016-10-26 09:01] myvo commented on #251
I got this error too.
And I resolved after force to use loopback-connector-mongodb@1.15.2 and mongodb@2.2.11.

[2016-10-26 15:45] youngtt commented on #290
Hi Amirali,

From my tests, the issue is still present.  Here’s my fork with the test cases:  https://github.com/youngtt/loopback-sandbox

Cheers.

- Young

[2016-10-26 17:46] #253 closed

[2016-10-26 17:48] Amir-61 commented on #253
https://github.com/strongloop/loopback-connector-mongodb/pull/254 fixes the issue

[2016-10-26 21:32] jannyHou commented on #290
@youngtt Thank you for the sandbox.
I believe it's the same issue with https://github.com/strongloop/loopback/issues/517
The problem is at this moment we don't support "Filter on level 2 properties", so when you filter against `sub.geo` like
[code]
it fails to get the result.

And another thing not related to the bug but need to correct here:
The embedded instance should be created independently,

[2016-10-27 15:47] youngtt commented on #290
Noted.   You aware of any fix in the works for this?

[2016-10-27 17:50] jannyHou commented on #290
@youngtt "Filter on second level properties" has the most thumbs up from community and I believe we will work on supporting that in the near future.

To keep git clean for features&bugs I am closing this issue. We can move further discussion under https://github.com/strongloop/loopback/issues/517
Thanks for understanding.

[2016-10-27 20:12] Zvika88 commented on #290
major issue: "near" filter (version 2.53.0) crashes the server if used with an empty current position object.

[2016-10-27 21:05] betonildo commented on #290
Hi, i made the fix at
https://github.com/betonildo/loopback-connector-mongodb.git

Just reference the package as git Repo with tag 1.15.8

"git+ https://github.com/betonildo/loopback-connector-mongodb.git#1.15.8"

Fixes of my fix are welcome!

Thanks
Em 27/10/2016 13:47, "youngtt" <notifications@github.com> escreveu:

[2016-10-28 15:54] jannyHou commented on #290
@betonildo @Zvika88 Thanks for contribution and feedback. I changed this issue title to ""near" filter (version 2.53.0) crashes the server if used with an empty current position object."

And @betonildo could you send a pull request against `loopback-connector-mongodb`? I will take a look and merge it if it fixes the bug. You can follow our doc to see how to create pr: http://loopback.io/doc/en/co

[2016-10-29 14:01] fabien opened #300 "buildSort is not being used in .all"
We should use the `buildSort` method instead of handling the `order` inline in the `.all` method.

[2016-10-30 04:06] jjhesk opened #302 "strictObjectIDCoercion 1.17.0 bug"
This issue is now resurfaced. [ticket](https://github.com/strongloop/loopback-connector-mongodb/issues/52) that also affected to [this ticket](https://github.com/strongloop/loopback/issues/2907), #255

I get the idea behind doing so is to allow querying by _id, but the problem it's causing is any string of length 12 or 24 will be converted too, even worser if those strings matches ObjectID format,

[2016-10-31 06:06] michaelfreund commented on #103
@thaiat thanks for the script. works like a charm. but what if you remove an index definition from a model.json? I recognized that indexes are not removed from db.

[2016-10-31 19:26] marlon-medullan commented on #266
@alvinleonard  Was this issue resolve?

[2016-11-01 05:16] jjhesk commented on #206
@BerkeleyTrue Does it mean when i pass in a string of 12 hex characters or a string of 24 hex characters it will convert to ObjectId automatically?

[2016-11-01 09:54] phra commented on #274
@etsuo do you have solved this issue in some way?

@jannyHou do you have reproduced successfully the problem?

[2016-11-01 09:58] phra commented on #281
@perkd @habbes can you provide the sample code in order to help fixing this problem? thanks.

[2016-11-01 13:37] desduvauchelle commented on #251
+1 on the issue with:

[code]

[2016-11-02 14:43] alemhnan opened #304 "Not possible to use property named 'trigger'"
I have a property named 'trigger' with type string. I get this error:
```TypeError: this.trigger is not a function```

Is there a way to use such name?

[2016-11-02 17:27] 0candy commented on #304
Dup of https://github.com/strongloop/loopback-datasource-juggler/issues/855

[2016-11-02 17:27] #304 closed

[2016-11-03 06:06] padelagani commented on #251
Please update mongodb version to 2.2.11 in loopback-connector-mongodb `https://github.com/strongloop/loopback-connector-mongodb/`

[2016-11-04 02:06] yellowred commented on #268
+1 same issue just bit me in production, had to restart the app in order to reconnect, because auto reconnect did not work.

if any details or help I can provide please let me know.

[2016-11-04 18:41] mrfelton opened #305 "11000"

[2016-11-05 19:53] Alex2357 commented on #268
I experience same problem very often.  I'm using Nodejs and old 2.4.8 mongodb.
Here's some info

Sun Nov 06 06:46:13.968 [initandlisten] db version v2.4.8
Sun Nov 06 06:46:13.968 [initandlisten] git version: a350fc38922fbda2cec8d5dd842237b904eafc14
Sun Nov 06 06:46:13.968 [initandlisten] build info: windows sys.getwindowsversion(major=6, minor=1, build=7601, platform=2, service_pack='Service Pack

[2016-11-07 06:19] #305 closed

[2016-11-07 13:25] desduvauchelle commented on #251
I use heroku to host my apps, so the manual force update mongodb@2.1.18 inside the connector is a bit tricky.

So I created a git repo here: https://github.com/desduvauchelle/loopback-connector-mongodb
Where I changed the mongodb@2.1.18 and use that in my package.json

But I'm still having the issue.

Here is my current config (based on initial question)

[code]
Any ideas?

[2016-11-07 15:23] jannyHou commented on #268
Anyone also run into the problem please thumb up on the first comment https://github.com/strongloop/loopback-connector-mongodb/issues/268#issue-168020014

We have a git bug voting system which counts thumbups and accordingly decide the priority.

[2016-11-08 04:09] superkhau commented on #268
We do not have this system yet, but will have one in place once we flush out the details. See https://github.com/strongloop/loopback/issues/2905

[2016-11-08 04:12] superkhau commented on #251
@strongloop/fa-db-connectors PTAL

[2016-11-08 15:37] jannyHou commented on #268
@superkhau hmm... isn't https://www.bountysource.com/teams/strongloop/issues tracking the vote?

[2016-11-10 07:17] superkhau commented on #268
@jannyHou That is true to an extent, but we need to let user's know that is the official system being used, ie. how do they know if we don't document that is the case somewhere?

[2016-11-11 03:28] demsey2 commented on #268
I have the same problem with version 1.17.0 running on AWS EC2 with ELB
1.15.1 works fine

[2016-11-11 20:42] jannyHou commented on #251
So based on https://github.com/strongloop/loopback-connector-mongodb/issues/251#issuecomment-258070125 and https://github.com/strongloop/loopback-connector-mongodb/issues/251#issuecomment-258070125 I am updating mongodb to use latest major version in pr https://github.com/strongloop/loopback-connector-mongodb/pull/306
Let's see if that solves the problem.

[2016-11-15 15:26] jannyHou commented on #255
Confirmed it's a bug.

[2016-11-15 15:29] jannyHou commented on #302
@jjhesk Can you describe the bug a little bit here? You can follow this template: https://github.com/strongloop/loopback/issues/new Thanks.

If it's an existed bug please reopen the old issue and mention me.

[2016-11-18 05:00] Jeff-Lewis commented on #296
FYI - Getting same error with 1.17.0. Reverted to 1.15.2 works fine again.
Node: 4.6.2
juggler: 2.53.0
loopback: 2.36.0
(node) mongodb:  2.2.11
mongodb: 3.0.7

Is it a coincidence that both @jamesjjk and I are running exactly mongodb 3.0.7?

[2016-11-18 10:11] jamesjjk commented on #296
@Jeff-Lewis Same problem with mongo 3.2 +

[2016-11-18 15:12] jannyHou commented on #296
@jamesjjk @Jeff-Lewis can you explain more about which endpoint or function you call that getting this error?
And is it also related to some config variables like
[code]
If you set them as false do you still run into the problem?

[2016-11-18 16:59] Jeff-Lewis commented on #296
Is 1.17.0 compatible with juggler 2.28?  npm tests pass with juggler 3, but fail heavily for juggler 2.28.

[2016-11-18 21:47] 0candy commented on #251
@ebarault Did @jannyHou 's fix resolve your issue?

[2016-11-18 22:22] jannyHou commented on #296
@Jeff-Lewis 1.17.0 is released with `devDependency` 3.x so I would suggest upgrade your juggler to 3.x version.

And we do have a branch compatible with juggler 2.28 called `loopback-2.x`: https://github.com/strongloop/loopback-connector-mongodb/tree/loopback-2.x

I run test cases on that branch still all pass....

[2016-11-18 22:37] jannyHou opened #308 "Publish new major version"
Now we only have one major version as loopback-connector-mongodb@1.x but the latest release(1.17.0) is not compatible with juggler3.x

Suggestion here is we need two major versions in mongodb:
  - version 1.x: compatible with juggler@2.x
    - code in branch "loopback-2.x"(confirmed compatible with juggler@2.x)
  - version 2.x: compatible with juggler@3.x
    - code in branch master(confirmed comp

[2016-11-18 22:49] jannyHou commented on #296
I open an issue to solve the compatibility problem: https://github.com/strongloop/loopback-connector-mongodb/issues/308

@Jeff-Lewis can you post your result of `npm test` here?
I once got 12 failures but now they disappeared....

[2016-11-20 16:12] anoop-ananthan commented on #104
+1

[2016-11-21 10:02] bajtos commented on #308
How comes? I don't remember making any intentional changes that would make the mongodb connector behave differently on LB 2.x vs 3.x

I strongly prefer to have a single version that supports both 2.x and 3.x versions of LoopBack, so that we have less major versions to maintain. Unless the effort needed to support two LoopBack versions outweighs the maintenance costs.

No. The rule is to use a bran

[2016-11-21 15:48] jannyHou commented on #296
@Jeff-Lewis Also please note that the latest juggler 2.x version is 2.53.0, please update your juggler to 2.53.0 and see if that will solve your problem.

[2016-11-21 16:03] jannyHou commented on #308
@bajtos Hmm, I should add more context in this issue:
Some users observe failure with latest release version `loopback-connector-mongodb@1.17.0`, see issue https://github.com/strongloop/loopback-connector-mongodb/issues/296, and comment https://github.com/strongloop/loopback-connector-mongodb/issues/296#issuecomment-261583363 says it might be a compatibility problem.

I run `npm test` of `loopback

[2016-11-21 16:03] #308 closed

[2016-11-21 19:42] jannyHou opened #310 "query with near & order filters doesn't work together"
The original issue opened in loopback: https://github.com/strongloop/loopback/issues/2917
And turns out it is a mongodb specific issue.

I reproduced it in `loopback-connector-mongodb` with test case https://github.com/strongloop/loopback-connector-mongodb/blob/07afdbfa02476d04bcc08b1cb7008d622987a51b/test/mongodb.test.js#L1527

filter:
[code]

and result are not ordered by `_id`

[2016-11-21 19:44] jannyHou commented on #310
cc @TuNi54 @balanza

[2016-11-21 20:03] Amir-61 opened #311 "idInjector: false seemingly ignored w/mongodb connector"
_From @CNSKnight on November 11, 2016 21:59_

[code]
YAML Sample:
[code]
Sample PUT Request:
[code]
Response _always_ returns eg:
[code]
And stores eg:
[code]

Additionally, I've tried _id as an integer with same results (likely a mongo reserved thing)
Also, API Designer reports **Additional properties not allowed: idInjection** but saves the YAML
(I typically ``$ slc deploy...``)

_Copied from or

[2016-11-21 20:03] Amir-61 commented on #311
This issue was moved to strongloop/strongloop#332

[2016-11-25 19:53] balanza opened #312 "Query with near and maxDistance won't work on MongoDB 2.x"
Hi,

it seems it's actually impossible to perform a query over a MongoDB version 2.x if `filter` contains both `near` and `maxDistance` for a field.

A trivial use case would be to retrieve all point-of-interest in a given area, thus quite a common task.

The problem is the following: the connector is actually composing this query in the `buildNearFilter` function:

[code]

On the other hand, Mong

[2016-11-29 20:40] TuNi54 commented on #310
Hi,

Can someone help ?

Thanks

[2016-11-29 21:48] jannyHou commented on #282
I am closing this issue now since solution already provided in https://github.com/strongloop/loopback-connector-mongodb/issues/282#issuecomment-252053853
Feel free to reopen it if you still have problem.

[2016-11-29 21:48] #282 closed

[2016-11-29 23:17] Amir-61 commented on #232
I believe this issue has been resolved as you can set it in `dataSource.settings`; please see https://github.com/strongloop/loopback-connector-mongodb/blob/32d86c586a4904ba0a802dec8ed3dd3db90c816c/test/mongodb.test.js#L617

Closing this issue now...

Thanks!

[2016-11-29 23:17] #232 closed

[2016-11-29 23:18] Amir-61 commented on #248
Closing this issue due to inactivity... please feel free to open issue with a sample repo.

Thanks!

[2016-11-29 23:18] #248 closed

[2016-11-29 23:20] Amir-61 commented on #249
Is this still an issue?

[2016-11-30 09:37] balanza commented on #310
I can fix it, but I need to understand what is the behaviour we want to achieve. I propose this:

[code]

@jannyHou do you agree with this algorithm?

[2016-12-02 05:49] bappr commented on #251
Any update ? Our applications in production are facing this issue.

[2016-12-02 14:33] mrfelton commented on #251
We're also facing this issue using master. The commit from #306 doesn't look to have solved the issue.

The fork that @desduvauchelle created with mongodb pinned to 2.1.18 gives us better results.

[2016-12-02 15:44] ebarault commented on #251
@jannyHou : can't confirm with certitude : in production we're still relying on 2.1.18, and in dev, mongodb version is the one shipped with loopback 3 dependancies : 2.1.21. Got no error in dev, but cannot guarantee production wide.

Wait... i can see [here](https://github.com/mongodb/node-mongodb-native/releases) that there are many releases since 2.1.21. latest on npm is 2.2.12. and npm list giv

[2016-12-02 16:03] padelagani commented on #251
@bappr @mrfelton If you want it urgent, downgrade loopback-connector-mongodb version to @1.13.2. It will solve your issue.

Since this connector is upgraded you can try upgrading version of connector.

You wont get any issue in development mode. I was also facing the same issue. But after downgrading it, issue was solved.

[2016-12-02 16:09] Jeff-Lewis commented on #296
@jannyHou Sry, for not getting back earlier. With Juggler 2.53.0, 956 tests passing, 72 pending. Thank you!

[2016-12-02 19:17] 0candy commented on #312
Closing this as a dup. Please see https://github.com/strongloop/loopback-connector-mongodb/issues/252

[2016-12-02 19:17] #312 closed

[2016-12-02 19:52] 0candy commented on #229
@barocsi Thanks for sharing the debug info. Closing this as its not an issue.

[2016-12-02 19:52] #229 closed

[2016-12-03 13:32] shashank008 commented on #103
@thaiat I'm getting this error when the script is executed. But the indexes are being created.
MongoError: collection already exists

[2016-12-05 08:55] dharmendrasdlt commented on #111
@MrMMorris Will this work ? Will this actually use replicaset ?

[2016-12-05 18:11] masalinas opened #313 "Bug exist from 1.15.2 connetor using the $in agregate filter with an ObjectId array collection"
Using the connector 1.15.2 to filter and array of ObjectId like this:

[code]
 Runs OK.

With the next version 1.17.0 of the connector the same agregate query give me this error:

`Error 500: Argument must be a String`

[2016-12-05 19:25] jannyHou commented on #296
ah great! @Jeff-Lewis Do you still run into same error?

I am still trying to reproduce the error, any update on the steps?

[2016-12-06 18:04] alemhnan opened #315 "toJSON doesn't convert ObjectId into string"
If I call toJSON() the resulting JSON will have ObjectIds as fields instead of the excepted strings.
I use a library that needs strings to operate (or anyway basic types).

[2016-12-07 09:22] TuNi54 commented on #310
@jannyHou  can I confirm the previous message pls ?
Thank you

[2016-12-07 19:15] jannyHou commented on #310
Now the question seems to be:
If we have both `order` and `near` to sort the result, which one has higher priority?
And if `near` includes `maxDistance`, will it affect the priority?

@raymondfeng @ritch @superkhau @bajtos Any thoughts? Thanks.

[2016-12-07 21:20] superkhau commented on #310
@jannyHou IMO, it depends on how the query is structured and the nesting level of each operation. Inside out is the way I see it.

[2016-12-08 09:39] bajtos commented on #310
In my opinion, `order` has higher priority than `near`.

As I see it, it should not affect the priority - explicit `order` has always the highest priority.

---

I would argue that if the user has provided `filter.order` value, then we should either honour it (when there is a way how to get the requested results) or return a `400 Bad Request` error if we (or the database) cannot fulfil such query

[2016-12-13 06:48] superkhau commented on #310
@bajtos Good points, one thing I'm curious about though. Is it the ORM's job to support sort for an underlying DB that doesn't support it? If the DB can't sort all those records, why should we sort in memory what the DB (which was probably optimized for this type of operation) can't do? I can see a speed argument for in mem, but maybe we can allow the user to do a custom query for those edge cases

[2016-12-14 11:04] jjhesk commented on #239
it is very important!

[2016-12-14 11:19] jjhesk commented on #252
++++1

[2016-12-14 11:30] jjhesk opened #316 "query using cross reference FK doesnt being recognized as objectID"
item FK in a model does not convert to objectid mongodb during http query.

To reproduce this,
I developed a remotemethod in a model js like so

[code]
redirect the valuable into another method call from the model js
[code]

notice that `userId` is the FK ( foreign key )
[code]

the results is [] where the db is not the case.

[2016-12-14 11:32] jjhesk commented on #186
i think i have the same issue.
1++++++++++++++++

please fix.

[2016-12-14 12:49] bajtos commented on #310
I think that's a decision each ORM need to make.

If we want allow users to easily switch between databases without code/client changes, then we need to support a reasonable subset of geopoint operations for all connectors. So that an app written for MongoDB can be switched to let's say MySQL while preserving the client API.

To be honest, I think that idea sounds better in theory than it turns ou

[2016-12-14 13:02] jjhesk commented on #316
This is the temp fix for this unsupported issue

[code]

[2016-12-14 13:14] jmbegley1968 commented on #239
We are now using Mongo 3.x and this issue is less important, as you can do following:
find({where: {"_id": {'eq': objId}}}
However it is very odd that findById still only works with strings.

[2016-12-14 21:29] gregbanks commented on #251
it should be noted that versions of the mongodb driver < 2.2.12 are *not* compatible with versions of mongodb >=3.2 (https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/#node-js-driver-compatibility).

also, connection leaks were observed in the 2.1 branch (https://jira.mongodb.org/browse/NODE-719).

[2016-12-15 02:36] superkhau commented on #310
I agree, the question is do we? I'm leaning more towards supporting the operations provided by the DB and allow the user to string up the operations to do those things.

In your example, say MongoDB supports a type of Geopoint op and MySQL does, as long as they have the same API in Juggler, all is well. Now let's say MySQL does not support the op, do we go as far as crafting up some custom solutio

[2016-12-15 16:21] bajtos commented on #310
Let's start with returning 400 Bad Request if there isn't any easy solution we would know. If somebody from our community contributes a decent implementation, then I think we should accept it into the connector.

[2016-12-20 01:11] #226 closed

[2016-12-22 16:20] viki53 commented on #49
Hi,

We (@ebarault and I) have the same issue here, but not explicitly.

In fact, using the model directly everything is fine as we don't use the `$and` operator.

But, as we have to go through a parent model (`hasMany`+`belongsTo`) for the ACLs, the `$and` operator gets added to the final query (to filter the foreign key), it fails with Mongo saying it doesn't find the index for the GeoNear query

[2016-12-24 09:15] taoyuan opened #317 "Pass options to execute context."
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature

Pass options to execute context like SQLConnector dose. So we can get options in connection observer `execute`.

The use case is that we need to do some post-processes for command on `execute` like adding additional conditions to command. So we hope that the `execute` observer can get options from invoker to d

[2016-12-24 12:11] alihalabyah commented on #251
Any new updates on this? I'm still facing the same issue and was on 1.13.x

[2016-12-26 11:29] aks0020 commented on #251
@jannyHou You have updated driver version on Nov 14 but it was never released on npm so npm is still using old code(last release Oct 17) so please release this fix on npm as well.

[2016-12-28 10:34] virendra656 commented on #176
Solution :  Use between operator of loop back and if you are using third party library like moment or something then do not pass moment dates directly in between operator but rather use new Date() along with moment date object.

 where: {
        dateTime: {
          between:[new Date(sd), new Date(ed)]
        }
      },

[2016-12-28 23:06] skyserpent commented on #251
👍

[2016-12-30 02:57] Sanbornzhang commented on #104
+1

[2016-12-30 07:38] mnaveenriaz opened #318 "GeoPoint Field Type - Issue when updating data"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
In a MongoDB Collection with field "GeoPoint",
GeoPoint field gets generated correctly when a new document is created.
The format is {"coordinates": [0,0], "type": "Point"}

But when updating the document, the geopoint field is generated as { "lat": 0, "lng": 0}

### Link to sampl

[2017-01-03 14:45] TuNi54 commented on #310
Hi,

Can someone do the change please?

Thanks !

[2017-01-03 22:48] mike-aungsan opened #319 "Connection fails: MongoError: no valid replicaset members found"
- [X] Bug

Cannot connect to mongodb service with replica set. I can connect with native driver tho.

    "database": "abc",
    "username": "abc_rw",
    "password": "password",
    "url": "mongodb://10.0.0.138:7407,10.0.0.139:7407,10.0.0.140:7407/ekg?replicaSet=mongo7407&poolSize=25&autoReconnect=true&reconnectTries=100&reconnectInterval=3000&connectTimeoutMS=30000&socketTimeoutMS=30000&maxPoolS

[2017-01-04 13:13] bajtos commented on #310
So according to [MongoDB docs](https://docs.mongodb.com/manual/reference/operator/query/near/#sort-operation), the database does support `near` queries with custom sorting rules.

So the question is how to modify loopback-datasource-juggler and loopback-connector-mongodb to use `$geoWithin` + `sort` in this particular case.

@TuNi54 as a temporary workaround, you can write a custom [remote method]

[2017-01-04 19:47] jannyHou commented on #251
@aks0020 We have started the development of new major version in mongodb connector, and loopback@3.x is recently officially released. I am confirming the status of each connector, there might be some delay for release, I will update here when new version published 🚢

[2017-01-05 14:14] simonecogno commented on #55
+1

[2017-01-06 04:51] myvo opened #320 "[Mongo ReplicaSet] Insert / update success, but load not found / old data"
This is my connection string:
` "url":"mongodb://user:password@host1:port1,host2:port2,host3:port3/dbname?replicaSet=rs0&w=majority&wtimeoutMS=2000&journal=true&readPreference=nearest&maxPoolSize=256"`

I'm using:
`loopback@2.36.0`
`loopback-connector-mongodb@1.15.2`
`mongodb@2.2.11`

I got 2 issues:
1. In 1 API:
  a. insert new document: success, no error
  b. get inserted document by ID, but not

[2017-01-06 05:54] desmondgong opened #321 "upsert not works when the model contains shared key"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
According to the following logs, it should be a limitation of the connector in LoopBack for MongoDB.
For the `upsert` (UpdateOrInsert) action, LoopBack only supports single primary key, but the query `findAndModify` in MongoDB driver must require the shard key.

  loopback:connect

[2017-01-09 07:56] myvo commented on #320
It's due to Driver Compatibility https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/

Updated modules:
`loopback-connector-mongodb@1.15.2`
`mongodb@2.2.16`
And added `enableMajorityReadConcern: true` into `/etc/mongodb.conf`
It's better now.

P/s: I tried with the latest version of: loopback-connector-mongodb@1.17.0 and mongodb@2.2.19 but it's still happened.

[2017-01-10 16:36] viki53 commented on #268
Hi, same issue here. This is pretty critical as we use LoopBack as a data manager that needs to be connected to a Mongo DB all the time, or at least crash when the DB disconnects.

* If first try fails, LB crashes : a little abrupt, considering it should probably retry if `autoReconnect = true`
* If DB goes down while LB is running, nothing happens at first (no log) until `reconnectInterval * reco

[2017-01-10 18:58] raymondfeng commented on #268
@jannyHou See http://mongodb.github.io/node-mongodb-native/2.0/tutorials/connection_failures/

[2017-01-11 08:03] saggiyogesh commented on #251
Even nodejs driver version >=2.2.12 must be used in order to use mongodb 3.2 or 3.4.

https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/#node-js-driver-compatibility

[2017-01-11 18:24] gregbanks commented on #251
@saggiyogesh this was pointed out several comments ago

[2017-01-12 17:34] jamesjjk commented on #296
@Jeff-Lewis Have you resolved this issue?

[2017-01-12 18:36] Amir-61 opened #324 "forceId Validation error"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
when using the methods replacebyid, when the request contains and id that doesn't exist in the db, then an error should be thrown!

### Link to sample repo to reproduce issue (if bug)
https://github.com/strongloop/loopback-datasource-juggler/issues/1171
https://github.com/stronglo

[2017-01-12 18:39] #324 closed

[2017-01-13 13:12] jamesjjk commented on #296
@jannyHou @superkhau This is resolved in: You should release v1.18 as package please.

loopback 2.37.0
loopback ds juggler 2.53.1
loopback-connector-mongodb version 1.18.0

[2017-01-13 13:15] jamesjjk opened #326 "optimizedFindOrCreate does not return mongodb error"
- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

- OptimizedFindOrCreate fails to return a mongodb error. FindOrCreate can easily produce a duplicate key error in a mongo environment with many read/writes, as there is a problem with atomic mongo findAndUpdate/Update functions https://jira.mongodb.org/browse/SERVER-14322

- Secondly you should release v1.1

[2017-01-13 14:48] jamesjjk commented on #326
Further investigation reveals that in the datasource-juggler dao.js the error is not handled properly. This requires to be updated. The error is overwritten:

See line dao.js#L1047 the findOrCreateCallback callback should check for the error before proceeding. As notifyobserver callback overwrites with null on success. L1049 should include : if (err) return cb(err);

[code]

[2017-01-13 18:06] superkhau commented on #296
@jamesjjk @bajtos did the release 3 hours ago, you should see 3.0.0 on npmjs.com: https://www.npmjs.com/package/loopback-connector-mongodb

[2017-01-13 18:07] superkhau commented on #296
@jamesjjk Please give it a try and we can close this issue after you verify the fix.

[2017-01-13 18:08] jamesjjk commented on #296
@superkhau Is version 3 compatible with loopback 2 users?

[2017-01-13 18:53] superkhau commented on #326
@jamesjjk Would you like to contribute a PR instead?

[2017-01-13 20:07] superkhau commented on #296
@jamesjjk Yes, the connectors should be backwards compat -- of course try in a sandbox env first and let us know if you run into issues so we can get it fixed ASAP (or at least document the breaking changes). See http://loopback.io/doc/en/lb3/3.0-Release-Notes.html for changelogs.

[2017-01-13 20:15] jamesjjk commented on #326
@superkhau Sure but the problem is in the datasource-juggler (doa.js) project. I raised a ticket for you and your colleagues, error is in multiple branches.
https://github.com/strongloop/loopback-datasource-juggler/issues/1223

In fact the problem I have outlined here is that there is a real error problem with mongodb and the findOneAndUpdate method, in-fact any update method that uses"upsert" is

[2017-01-13 22:03] superkhau commented on #326
Sounds like some good can kicking there.

@jamesjjk Feel free to submit the PR for that one liner and we can discuss there. Our CI will take care of the downstream dependency checks from Juggler PRs across all connectors. Ping me in that PR for review.

[2017-01-14 17:38] Jeff-Lewis commented on #302
In v1.18.0, @fabien [added a setting](https://github.com/strongloop/loopback-connector-mongodb/pull/254#issuecomment-227006561) `strictObjectIDCoercion` that can be set at the dataSource and/or model config.

@fabien, Thanks though for cleaning all of this up!

When `"strictObjectIDCoercion": true`, it will only convert the string to an `ObjectID` when the model property is specifically defined as

[2017-01-16 09:57] bajtos commented on #296
I believe the only breaking change in loopback-connector-mongodb@3.0.0 is dropping support for Node versions older than 4 (i.e. 0.10, 0.12 and any io.js releases). The connector should keep working with both LoopBack 2.x and 3.x apps.

[2017-01-16 09:59] bajtos commented on #296
@superkhau @crandmck should we perhaps emphasise this fact in the release notes? Or maybe in README of each connector? (E.g. create a table showing which connector version to use with which LoopBack version.)

[2017-01-16 15:16] pierreclr opened #327 "[BUG] 1.17 vs 1.18 resolving static roles"
Hi,

I just encounter a bug upgrading to v1.18. The new way to cast 24hex string to ObjectID seems to conflict the way to resolve role.

Here is the diff between the two versions
https://github.com/strongloop/loopback-connector-mongodb/compare/8a61bfe...a2f567a

Indeed, in the roleMapping's collection, principalId is persisted as a string. But when enabling the debug mode on v1.18 I'll se this as

[2017-01-16 15:25] fabien commented on #327
Did you check the new `strictObjectIDCoercion` setting? You might need this here.

[2017-01-16 15:39] pierreclr commented on #327
@fabien Yes I notice that looking at the code but since the RoleMapping model is a loopback built-in model that I didn't override I didn't consider that setting.

However I imagine that we need to set this setting by default in `loopback/common/models/roleMapping.json` ? But wouldn't be conflictual with loopback running in production ? In fact that's my case and it will imply a mongo migration scr

[2017-01-16 15:45] mitsos1os commented on #302
I agree with what is already said about the new `strictObjectIDCoercion`. This is really important because it also breaks the default loopback Role system in some cases.

If the `User`, `Role` and `RoleMapping` models are defined to use a Mongo DataSource, which will produce IDs of type `ObjectID` instead of simple numeric ones, as opposed to memory data source, the new functionality will try to s

[2017-01-16 16:25] superkhau commented on #296
I agree with a central table for all the permutations of connectors vs juggler vs lb versions.

[2017-01-16 16:53] jmimi opened #328 "`strictObjectIDCoercion` setting at property level"
### Feature request

When a property is an id and we save it as string in db, the connector handles it as `ObjectID` according to [this](https://github.com/strongloop/loopback-connector-mongodb/blob/eff65e052d17537d82796658e0db15d09003cf0a/lib/mongodb.js#L1390).

I think the `strictObjectIDCoercion` settings should be for properties too.
Assume we have :

[code]
I want the connector handles `someI

[2017-01-16 17:15] loay opened #329 "ForceId Validation error"
### Bug or feature request

- [x] Bug

### Description of feature (or steps to reproduce if bug)
when using the methods replaceOrCreate or replacebyid, when the request contains and id that doesn't exist in the db, then an error should be thrown and not create the instance !

### Link to reference:
https://github.com/strongloop/loopback-datasource-juggler/issues/1171
https://github.com/strongloop/

[2017-01-16 21:21] rajnesh0409 opened #331 ""The `CoffeeShop` instance is not valid. Details: `id` can't be set (value: 0).","
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-01-16 21:24] rajnesh0409 commented on #331
I followed official website example but i got stuck in api explorer with this error message. please help me to sort this issue.

[2017-01-18 09:33] pierreclr commented on #327
Not that this issue imply every static role resolving not working

[2017-01-19 04:40] #329 closed

[2017-01-19 12:47] barocsi opened #332 "1.18.0 breaks app"
Just upgraded from 1.17.0 to 1.18.0 breaks when using
var context = LoopBackContext.getCurrentContext();
var user = context.get('currentUser');

context is simply null.

[code]

[2017-01-19 20:28] fhsakai opened #333 "Loopback API won't response after mongodb connection fail."
Hello,

I'm facing a problem with loopback API using Model connect to  MongoDB (V3.4).
When the DB is down or the network connection to DB fail for more than 1 minute with default connection configuration the API stop to work properly even when DB became online after that time.

All request return:
[code]

and in the server log we can see the error:

As I couldn't find a solution, would like to as

[2017-01-19 21:00] maricn commented on #261
+ vote

[2017-01-21 00:17] crandmck opened #334 "[MongoDB connector] Add standard info to README"
The README doesn't have the standard sections and info that other connector READMEs, e.g. "Installation" and "Configuration".  See the [MySQL connector README](https://github.com/strongloop/loopback-connector-mysql/blob/master/README.md) as an example to use as a template.

[2017-01-21 04:40] toancong commented on #327
You guy changed this api and my production was out because of unable detect role. The change is break api and it should in 3.0 instead 1.18.

[2017-01-21 09:22] fabien commented on #328
AFAIK we cannot properly declare the following right now:

[code]

If we could, then it would have been handled correctly as it is. You could do the following (in code, not JSON), which does work as intended:

[code]

My solution would be to make sure we can declare custom types as strings in the JSON config.

@bajtos do you know if custom data types can be declared?

[2017-01-21 09:33] fabien commented on #327
@pierreclr @toancong I'm sorry if the changes had an impact on your apps. The reason for having a `strictObjectIDCoercion` setting in the first place, was precisely to prevent ambiguity of how Strings and ObjectIDs were being handled.

It was a mess before, because anything that *looked* like an ObjectID, was treated as such. Which caused issues with built-in models that did not properly make this

[2017-01-21 11:49] taoyuan commented on #205
Could set `Model.settings.automaticValidation = false` or in model definition json:

[code]

[2017-01-21 12:12] jmimi commented on #328
@fabien It could be helpful to define in json too.

One way is too implement `strictObjectIDCoercion` for properties too.

The another one is something like this to be implemented :

[code]

[2017-01-21 12:40] pierreclr commented on #327
So @fabien do you think you can suggest to loopback team these things to avoid API breaks ?
- Fixing the version of connectors / dependencies in `package.json` OR/AND
- Duplicating loopack's test with all connectors instead of only `in memory db` as test datasource to avoid dependencies related breaks ?

[2017-01-23 10:30] bajtos commented on #328
I believe it's possible, as long as the custom data type is registered with Juggler/LoopBack's registry of types. See e.g. how `GeoPoint` is registered [here](https://github.com/strongloop/loopback-datasource-juggler/blob/ae07480f4574ca656cd90f76169e4695c208497d/lib/types.js#L68).

[2017-01-23 13:46] wyltsi commented on #332
I also have problems with this version when trying to get user roles for authentication. It seems to have something to do with filters. Basic find() and findOne() seem to work fine but when using filters the queries always return null.

[2017-01-25 16:57] jannyHou commented on #251
@everyone Does anyone still run into the error with the latest release loopback-connector-mongodb@3.0.0?
I just tried the latest release on my end, but don't see the issue described in the first comment.

├── loopback@2.38.0
├── loopback-boot@2.23.0
├── loopback-component-explorer@2.7.0
├── loopback-connector-mongodb@3.0.0 extraneous
├── loopback-datasource-juggler@2.54.0

[2017-01-25 18:16] vivek1729 opened #336 "How to execute raw mongo queries with this connector?"
I am trying to run raw mongo queries from loopback using this connector. My steps are as follows:

     mongo_db = app.models.Books.dataSource.connector.db;
     HubCollection = mongo_db.collection('HubAncestors');
     HunCollection.find({})
     .then(function(data){console.log(data)});

I get the following error -

`"HubCollection.find(...).then is not a function"`

I don't know at all where th

[2017-01-27 04:37] smartmouse commented on #336
Not sure if this informationn helps

http://stackoverflow.com/questions/30673606/mongodb-aggregation-on-loopback

http://loopback.io/doc/en/lb2/Executing-native-SQL.html

[2017-01-27 15:39] frankorama opened #338 "embedsMany creates plain-text IDs, but tries to query as BSON"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
We have a model "TagGroup" which embeds a model "Tag" with an embeds many relationship:
[code]
.. such that a tag group (Book Type), can have many tags (Fiction, Biography, Non-Fiction, etc.)

When a new Tag Group is created, the ID is a BSON in MongoDB.
When a new Tag is created,

[2017-01-27 19:28] crandmck commented on #200
Need to add a table of config settings similar to http://loopback.io/doc/en/lb3/MySQL-connector.html#properties

[2017-01-28 15:35] vivek1729 commented on #336
Thanks @smartmouse. That helped me to start off in the right direction

[2017-01-28 15:35] #336 closed

[2017-01-30 10:07] cojack commented on #332
I have ever worst situation, app stop to returns any results.

[2017-01-30 16:59] smartmouse commented on #332
Hmmm.  did you check the documentation for loopback 3 migration?

https://loopback.io/doc/en/lb3/Migrating-to-3.0.html#using-current-context-in-version-30

It mentions something about the using  CurrentContext() being removed, . please take a look at the link above and see if the information is helpful. Thanks

![screen shot 2017-01-30 at 11 56 53 am](https://cloud.githubusercontent.com/assets/451

[2017-01-30 17:02] barocsi commented on #332
Sure thanks, I am aware of that, but implementing that method they invented is huge amount of work for a legacy code, and I am pretty sure that the new context replacement options propagation method BY HAND is not the future for loopback in that form, therefore I would not invest the time to maintain that big change for now.

Thanks for bringing it up tho.

[2017-01-30 17:02] #332 closed

[2017-01-31 02:24] smartmouse commented on #331
Hi which platform , node version, npm version. type of browser and browser version  did you use?
which step did you start to run into issue please? Just when you start the api
explore?

https://loopback.io/doc/en/lb3/Create-a-simple-API.html

When you invoke node?
<img width="833" alt="screen shot 2017-01-30 at 9 23 38 pm" src="https://cloud.githubusercontent.com/assets/4519627/22450108/77226a9a-e

[2017-01-31 13:13] smartmouse commented on #334
@crandmck  Installation, Configuration , Creating DataSources, Type Mapping - Loopback to MongodbDB Data Types are the main ones.
Question to you: Where you do get the information for the Type Mapping? Is it extracted from the connector unit testcases from the connector? Or you went through the creation of different data types or by inspecting the code directly yourself?

[2017-01-31 22:29] crandmck commented on #334
@smartmouse For other connectors, the developer typically provided this info.  I don't think we ever documented for the Mongo connector, at least that I could find.  So, indeed, you may have to inspect the tests and/or code.

[2017-02-02 03:51] smartmouse commented on #334
Information Gathering:
For the connection properties for mongodb:
http://mongodb.github.io/node-mongodb-native/core/driver/reference/connecting/connection-settings/

[2017-02-03 01:51] smartmouse commented on #334
Inspecting mongo.js  and try to look at unit test, does not seem to give enough information on
the  Type Mapping.  SME to rescue.

[2017-02-03 02:22] smartmouse commented on #200
@benkroeger : Thank you for the information.
May I confirm with you,  url is a string.
By setting url to false, do you mean just remove it from the json?
I would like to be accurate when we update the information.
Thank you in advance for your help.

datasources.production.json
{
  "myDS": {
    "host": "localhost",
    "port": 27017,
    "url": "",
    "database": "test",
    "password": "mypassw

[2017-02-03 07:59] benkroeger commented on #200
[the code](https://github.com/strongloop/loopback-connector-mongodb/blob/master/lib/mongodb.js#L71) only tests for `url` to be *truthy*, so anything *falsy* (`null`, `false`, ` `...) would do. **Except** for `undefined`, since that would mean to not overwrite the value from the general `datasources.json` file (==> when `datasources.production.json` gets merged with `datasources.json`, `undefined`

[2017-02-03 14:28] smartmouse commented on #200
Thanks for the clarification :-)

[2017-02-03 15:28] guptakvgaurav commented on #331
@smartmouse I am also getting similar exception.

Environment detail:
Node version - v5.11.0

[2017-02-03 20:35] smartmouse commented on #331
I recalled it was working on Node 4.x  before. Have not tried on Node 5.x  May be some issues with the new Node version. I will try to reproduce. Thanks for the information

[2017-02-04 00:08] ritch commented on #200
Hey @smartmouse are you looking into this issue?

[2017-02-04 00:35] smartmouse commented on #331
Yes confirmed it is an issue. I am using node 6 to reproduce because it is LTS version.

reserved-192-168-1-2:loopback-getting-started smartmouse$ node -v
v6.9.5
reserved-192-168-1-2:loopback-getting-started smartmouse$ npm -v
3.10.10

Thanks for filing the issues.

reserved-192-168-1-2:loopback-getting-started smartmouse$ node .
Web server listening at: http://0.0.0.0:3000
Browse your REST API at

[2017-02-04 00:50] smartmouse commented on #200
yes, I am trying to enhance our document.

[2017-02-04 01:07] smartmouse commented on #321
Hi, I **do not** think sharded collections are supported by loopback-connector-mongodb yet.
that will be a feature-request.

<img width="838" alt="screen shot 2017-02-03 at 7 55 32 pm" src="https://cloud.githubusercontent.com/assets/4519627/22614090/13e63a48-ea4c-11e6-8889-e8566f581c15.png">
 but from the documentation of mongodb, if it is a normal collection, the findAndModify should work fine.

[2017-02-04 01:55] smartmouse commented on #319
Thank you for trying out,  I do not think this is a bug, replicaSets are not supported yet. This should be a feature.

[2017-02-04 02:07] smartmouse commented on #333
Have you checked the connection properties for mongodb?
http://mongodb.github.io/node-mongodb-native/2.2/reference/connecting/connection-settings/

keepAlive, connectionTimeOut, reconnect, reconnectRetries will all be helpful. You can experiment with them as see if it helps .

[2017-02-04 02:16] smartmouse commented on #205
@MichaelDiguet  does @taoyuan  's solution works for you?

[2017-02-04 04:06] smartmouse commented on #300
How would you suggest the change should be?

[2017-02-04 08:35] fabien commented on #300
Yes, it's better code re-use and easier to maintain this way. Just replacing it with a call to `buildSort` will be fine.

[2017-02-04 11:13] guptakvgaurav commented on #331
@smartmouse Looks like this is not an issue but a restriction that is imposed by loopback. This issue [https://github.com/strongloop/loopback-connector-mongodb/issues/282](url) talks about the similar problem as well.

In Nutshell: Loopback doesn't allow clients to create the id, however one can override this by using 'forceid': false in model.json

[2017-02-05 03:33] totalard commented on #52
Not fixed Yet

[2017-02-06 14:54] MichaelDiguet commented on #205
@taoyuan, @smartmouse, thanks guy for your answers !
This is pretty cool that this solution exist. However, it would apply globally to the model, and automatic validation are useful elsewhere in our code. What we did is to deactivate automaticValidation each time we call findOrCreate.
@fabong could you please share the code ?

[2017-02-06 20:05] fabong commented on #205
Yes, we set the `validate` option of findOrCreate, like this : https://github.com/fabong/loopback-component-passport/commit/1f76e5f251da0f5ea34eeda638b1a8bf2d07619f

[2017-02-06 22:16] crandmck commented on #200
I believe this has been addressed with c07afe79dc3ac1803ee4119cff0e238aa5ee72f3.
However, it doesn't mention setting `url` to `false`.  @smartmouse do we need to mention that?
Otherwise, I think we can close this.

[2017-02-06 23:23] crandmck opened #340 "Add missing info from old docs to README"
Information in https://docs.strongloop.com/display/LB1/MongoDB+connector (e.g. on replica set configuration) is missing from README.  Once these features are tested and confirmed, need to add it back to the README.

In particular, AFAIK, these three sections are still relevant and should be added to the README:
- [Replica set configuration](https://docs.strongloop.com/display/LB1/MongoDB+connector

[2017-02-07 00:06] smartmouse commented on #200
@rand, we have not document this. This usage is basically using url in the datasource.json globally  while using a specific  datasource.production.json  that does not use url but uses the indivdual connection parameters .  It is important to tell people how and also important to mention  that removing the url entry will not override the behaviour as suggested.

=== These are reworded  from @benkro

[2017-02-07 01:12] smartmouse commented on #331
From the documentation https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html
the forceid is set to false.
Anyhow, I think it is bad that when someone follow the example, they run into issue, this should be
mentioned in the sample if we are expected to override any values.

[2017-02-07 01:17] ht22pt opened #341 "findOrCreate working wrong?"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

I use "findOrCreate" for add/get one user in mongoDb, but in case:
 - Create: callback not called
 - Find: callback call ok

### Additional information (Node.js version, LoopBack version, etc)

Nodejs v6.9.2
Loopback 2.22.0
loopback-connector-mongodb 1.18.0

[2017-02-07 01:31] smartmouse commented on #331
I resolved the issue by modifying the    "idInjection": false   in _coffeeshop.json.
Please let me know if this work for you.

[code]

[2017-02-07 02:52] smartmouse commented on #331
@jannyHou : please validate and provide the proper resolution.

[2017-02-07 03:28] smartmouse commented on #181
What environment do you see the error? What OS and what Node /NPM version?
and which loopback version?

[2017-02-07 09:28] bajtos commented on #265
Hello, the current context feature is known to be broken in many cases. Follow https://github.com/strongloop/loopback-context/issues/21 for updates regarding MongoDB support.

[2017-02-07 09:28] #265 closed

[2017-02-07 14:53] jannyHou commented on #331
@smartmouse Your PR LGTM 👍
And I think we need to set `forceId: false` in this CoffeeShop example's file: https://github.com/strongloop/loopback-getting-started/blob/master/common/models/coffee-shop.json
Let me do a quick check, if it gives error I will create a PR to add it.

[2017-02-07 19:12] crandmck commented on #200
OK so @smartmouse can you add this to the doc?

[2017-02-08 00:51] smartmouse commented on #331
@rajnesh0409  Please try it out and let us know if this resolves your issue by end of next week.
If I do not hear from you, I will close the issue but feel free to reopen if you still run into the same issue.  Thank you so much for your help in trying out the example.

[2017-02-08 02:05] smartmouse commented on #200
@crandmck working on it. Thanks

[2017-02-08 02:47] smartmouse commented on #162
@behrad  Do you still have the issues? What node version , npm version, OS and LB version did you use?
May be retried with the latest Loopback 3 and let us know if that works for you?
 Thank you.

[2017-02-08 02:56] smartmouse commented on #123
@bkniffler  Do you still have the issue?
Does @mariohmol  solution works for you?  Thanks @mariohmol .
Please let us know.

[2017-02-08 03:10] smartmouse commented on #44
@fabien yes, storing NULL in mongodb will consume diskspace and RAM.  Some people uses NULL  deliberately and they have their specific reasons.
To add an option will be an enhancement for considerations and prioritization by product owner.  But thank you for your time to provide good feedback.